[2019-06-05 15:27] j0rt3g4 commented on #1071
@dariomws306  Sure thing, it's done.

[2019-06-05 18:28] e0i commented on #315
@officedocsbot assign @yogkumgit

[2019-06-05 18:28] e0i commented on #318
@officedocsbot assign @yogkumgit

[2019-06-05 18:28] e0i commented on #84
@officedocsbot assign @yogkumgit

[2019-06-05 18:28] e0i commented on #64
@officedocsbot assign @yogkumgit

[2019-06-05 18:28] e0i commented on #66
@officedocsbot assign @yogkumgit

[2019-06-05 18:28] e0i commented on #56
@officedocsbot assign @yogkumgit

[2019-06-05 18:31] e0i commented on #446
@officedocsbot unassign @e0i
@officedocsbot unassign @yogkumgit

[2019-06-05 18:31] e0i commented on #445
@officedocsbot unassign @e0i
@officedocsbot unassign @yogkumgit

[2019-06-05 18:31] e0i commented on #444
@officedocsbot unassign @e0i
@officedocsbot unassign @yogkumgit

[2019-06-05 18:31] e0i commented on #434
@officedocsbot unassign @e0i
@officedocsbot unassign @yogkumgit

[2019-06-05 21:11] dariomws306 commented on #1071
@j0rt3g4 Did you revert type to Hashtable on set-adserviceaccount.md?

[2019-06-05 21:12] j0rt3g4 commented on #1071
No o haven't change that

[2019-06-05 21:12] j0rt3g4 commented on #1071
No

[2019-06-06 11:55] yogkumgit commented on #444
@officedocsbot assign @yogkumgit

[2019-06-06 11:56] yogkumgit commented on #445
@officedocsbot assign @yogkumgit

[2019-06-06 11:57] yogkumgit commented on #446
@officedocsbot assign @yogkumgit

[2019-06-06 11:58] yogkumgit commented on #434
@officedocsbot assign @yogkumgit

[2019-06-06 16:53] e0i commented on #1102
@officedocsbot assign @e0i

[2019-06-06 16:55] e0i commented on #1100
@officedocsbot assign @e0i

[2019-06-06 16:56] e0i commented on #1099
@officedocsbot assign @e0i

[2019-06-06 16:56] e0i commented on #1098
@officedocsbot assign @e0i

[2019-06-06 16:56] e0i commented on #1090
@officedocsbot assign @e0i

[2019-06-06 16:57] e0i commented on #1093
@officedocsbot assign @e0i

[2019-06-06 16:57] e0i commented on #1088
@officedocsbot assign @e0i

[2019-06-06 17:29] #1022 closed

[2019-06-06 18:37] codaamok opened #1106 "Get-WindowsOptionalFeature"
So I tried Get-WindowsFeature on 1903 but it didn't recognise the cmdlet. Looks like the way forward now is Get-WindowsOptionalFeature? If so, maybe put a note somewhere about that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f316a89-c55d-5875-13a6-0cc3388f11fd
* Version Independent ID: 4a4059ac-2e0b-2640-8996-ebd0

[2019-06-06 19:07] get-itips commented on #209
Hello @breyed Thanks for your feedback.
Actually, is not that the feature was dropped but the last documented version of the cmdlet for the Windows Server 2016 version is here https://docs.microsoft.com/en-us/powershell/module/Microsoft.Windows.ServerManager.Migration/Get-WindowsFeature?view=win10-ps
Page Navigation is not being handling well the change in the name of the module, that's the reason

[2019-06-06 19:42] e0i commented on #1071
Apologies, I have put the PR review request in the issue instead of the PR :man_facepalming:

[2019-06-07 12:12] get-itips commented on #446
Hello @juanand how are you?
I think this resource has the answer you are looking for https://docs.microsoft.com/en-us/windows/security/threat-protection/windows-defender-antivirus/windows-defender-antivirus-compatibility
Hope this helps you.

[2019-06-07 12:31] get-itips commented on #445
Hello @swinster how are you? Hope you are doing just fine.
-Thumbprint parameter is available in Windows Server 2019, not in 2016, I'll add a note to the current version of the article.
Thanks

[2019-06-07 13:06] yogkumgit commented on #209
@get-itips  Thank you very much for the contribution and sharing this explanation. @breyed
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-06-07 13:07] yogkumgit commented on #209
@officedocsbot close

[2019-06-07 13:12] yogkumgit commented on #446
@get-itips  Thank you very much for the contribution and sharing this explanation. @juanand
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-06-07 13:13] yogkumgit commented on #446
@officedocsbot close

[2019-06-07 13:13] #446 closed

[2019-06-07 13:18] breyed commented on #209
Are you planning to correct page navigation to account for the module name change? If nothing happens, there will be ongoing confusion as people search for Get-WindowsFeature, get the page for an older OS, and then wonder why they don't get a page that matches their OS. If this is a "won't fix", it makes sense to leave this closed. Otherwise, it's best to reopen this issue or open a new issue spec

[2019-06-07 13:19] get-itips commented on #209
Hello @breyed I personally already reported this navigation issue internally yesterday and is being taken care of.
Thank you.

[2019-06-07 13:26] yogkumgit commented on #445
@tseward and @dariomws306 please review PR #1107  and kindly provide your feedback

[2019-06-07 13:26] get-itips commented on #444
Hello @GeoSimos how are you?
Currently, Checkpoint-VM does not accept pipelined input from Get-VMGroup.
I agree with you that it would be a good idea, I kindly redirect you to suggest that idea to User Voice https://windowsserver.uservoice.com/
Thank you!

[2019-06-07 13:32] yogkumgit commented on #444
@GeoSimos  Thank you very much for your kind feedback. Considering your valuable feedback, as suggested please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. Thanks again for taking out some time and sharing your feedback.

[2019-06-07 13:32] yogkumgit commented on #444
@officedocsbot close

[2019-06-07 13:32] #444 closed

[2019-06-07 16:13] Davedwin opened #1108 "Using SQL authentication instead of Windows..."
I banged my head on the wall for a couple of hours trying to figure this out, so I'm deciding to share. Hopefully, it gets posted.

To use SQL instead of Windows Authentication method change the -SetPropertyValue attribute "Trusted_Connection=Yes' to "Trusted_Connection=No".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2019-06-07 17:17] get-itips commented on #318
Hello @TimCurwick thanks for your feeedback. I found your suggestion useful, I'll propose thru a Pull Request, the addition of that information to this module.
Thank you.

[2019-06-07 17:28] jtippet commented on #425
This powershell module is only installed when you enable a couple features on Windows Server.  These features are:
* Data Center Bridging
* DataCenterBridging LLDP Tools

The docs should be updated with a Note saying something like this:

To use the NetLldpAgent cmdlets, you must first enable the **Data Center Bridging** and **DataCenterBridging LLDP Tools** features.  You can enable these by runn

[2019-06-07 18:27] get-itips commented on #315
Hello @InteXX
Thanks for your feedback. I created a pull request to improve the article updating the examples to the new vcmx format.
Thank you

[2019-06-07 18:28] InteXX commented on #315
@get-itips Thank you

[2019-06-07 18:28] #315 closed

[2019-06-07 20:27] get-itips commented on #84
Hello @doctordns
Thanks for your feedback.
I analyzed your inquiry and also read the post you made in forum.
As this issue resource is specifically to address about issues in documentation, and I could verify that the article is ok, I need to suggest different resources for your inquiry, like User Voice https://windowsserver.uservoice.com and Support Services https://support.microsoft.com/en-us/su

[2019-06-07 20:50] get-itips commented on #66
Hello @GitHubBJW
Thanks for your feedback.
I tested this in my lab and I could verify that if, you do not specify -KeyUsage "None" while creating the certificate (even though you created the root one with it) you will see "Digital Signature, Key Encipherment". But, if you specify -KeyUsage "None" on it, it will honor this and do not include this field.
I will create a pull request to improve this

[2019-06-07 21:00] get-itips commented on #64
Hello @pportnoy Thanks for your feedback and noting this.
I created a pull request to correct the article.
Thank you

[2019-06-07 22:19] e0i commented on #1053
@SirJewDanielBerg We are closing this issue as we couldn't get response from your side regarding additional details. Feel free to re-open this issue with clarifications and we'll follow-up with a PR. Thank you.

[2019-06-07 22:19] e0i commented on #1053
@officedocsbot close

[2019-06-07 22:19] #1053 closed

[2019-06-07 22:20] e0i commented on #989
@martinohansen

We are closing this issue as we couldn't get response from your side regarding additional details. Feel free to re-open this issue with clarifications and we'll follow-up with a PR. Thank you.

[2019-06-07 22:20] e0i commented on #989
@officedocsbot close

[2019-06-08 14:03] MooreSys opened #1115 "'Add-WindowsPackage' is not recognized"
The term 'Add-WindowsPackage' is not recognized as the name of a cmdlet

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f19dfb03-4f92-397e-b9e5-f758f600f2aa
* Version Independent ID: 7ba6c305-c08a-1c59-d034-dadc00d426dd
* Content: [Add-WindowsPackage (dism)](https://docs.microsoft.com/en-us/powershell/module/dism/add-wi

[2019-06-08 15:01] doctordns commented on #84
SO please update the documentation to show how to make this work?

[2019-06-09 01:18] danieldjewell opened #1116 "Module [vpnclient] - Set-VpnConnectionIpsecConfiguration - No way to view current config"
This might be more than just a documentation issue (possibly more of a referral to the [vpnclient] module team...) ... However, there is no way to *view* the current settings set by this command: the ```Get-VpnConnection``` cmdlet does not display the Ipsec configuration and there is no corresponding ```Get-VpnConnectionIpsecConfiguration``` cmdlet.

Although this cmdlet does indeed have a way to

[2019-06-09 08:04] j0rt3g4 commented on #1071
@dariomws306  @e0i It's done

[2019-06-10 12:37] yogkumgit commented on #491
@officedocsbot close

[2019-06-10 12:37] #491 closed

[2019-06-10 14:21] get-itips commented on #84
Hello @doctordns how are you? Hope you are doing good.
If the cmdlet does not work as intended, this needs to be suggested either on UserVoice or Support services, once the cmdlet is improved or changed based on valuable user feedback (like yours), the article can reflect that change, otherwise, I couldn't identify anything to change on current article (all examples in the article work and there a

[2019-06-10 14:47] yogkumgit commented on #318
@tseward and @dariomws306 please review PR #1109 #1110 #1111  and kindly provide your feedback

[2019-06-10 14:48] yogkumgit commented on #315
@tseward and @dariomws306 please review PR #1112  and kindly provide your feedback

[2019-06-10 14:49] yogkumgit commented on #66
@tseward and @dariomws306 please review PR #1113  and kindly provide your feedback

[2019-06-10 14:50] yogkumgit commented on #64
@tseward and @dariomws306 please review PR #1114 and kindly provide your feedback

[2019-06-10 15:15] e0i commented on #1047
@CreaterNo1

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-06-10 15:15] e0i commented on #1047
@officedocsbot close

[2019-06-10 15:15] #1047 closed

[2019-06-10 15:17] doctordns commented on #84
I guess it would have been helpful to note that -Answer files do not work in Server 2016 and above.

[2019-06-10 15:17] #84 closed

[2019-06-10 16:26] get-itips commented on #434
Hello @GrabASalad
Thanks for your feedback. We appreciate it.
Piping a cmdlet into another not always returns results on every scenario, on the other hand, if the cmdlet would not accept certain input object, for example Microsoft.FailoverClusters.PowerShell.ClusterNetwork, it would otherwise throw an error, not an empty result. So it seems that in this specific scenario that you showed, there are

[2019-06-10 17:34] tseward commented on #318
I'm good with the PRs.

[2019-06-10 18:00] #1054 closed

[2019-06-10 18:17] e0i commented on #1116
@officedocsbot assign @e0i

[2019-06-10 18:18] e0i commented on #1115
@officedocsbot assign @e0i

[2019-06-10 18:19] e0i commented on #1108
@officedocsbot assign @e0i

[2019-06-10 18:19] e0i commented on #1106
@officedocsbot assign @e0i

[2019-06-10 18:23] #1041 closed

[2019-06-10 18:50] #974 closed

[2019-06-10 19:23] e0i commented on #1100
@ryanmajidi The referenced PR is being rolled into review. Thank you for your feedback.

@nschonni  Thank you for your contribution.

[2019-06-10 19:27] e0i commented on #1099
@nascar3000

The issue has been noted and the document will be revised in the light of your feedback.

Thank you.

[2019-06-10 19:28] e0i commented on #1098
@discombobulater

The issue has been noted and the document will be revised in the light of your feedback.

Thank you.

[2019-06-10 19:30] e0i commented on #1090
Hello, @klishb

The issue is under investigation and you will be notified with any changes on the way.

Thank you for providing feedback.

[2019-06-10 19:32] e0i commented on #1088
Hello, @DDmchk

The issue is under investigation and you will be notified with any changes on the way.

Thank you for providing feedback.

[2019-06-10 19:33] dariomws306 commented on #318
Looks good!

[2019-06-10 20:40] get-itips commented on #56
Hello @Michal-Ziemba
Thanks for this feedback!
I would have to kindly suggest to visit Support resources http://support.microsoft.com or User Voice https://windowsserver.uservoice.com/forums/295047-general-feedback to redirect this inquiry that looks like a bug in the cmdlet.
Thank you

[2019-06-10 21:01] e0i commented on #450
@SotoDucani

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-06-10 21:02] e0i commented on #450
@officedocsbot close

[2019-06-10 21:02] #450 closed

[2019-06-10 21:02] e0i commented on #982
@danofnz

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-06-10 21:02] e0i commented on #982
@officedocsbot close

[2019-06-10 21:02] #982 closed

[2019-06-10 21:03] e0i commented on #1071
@juanirm

Upon your feedback, We have updated the content with relevant changes accordingly.

Thank you for bringing this issue to attention.

[2019-06-10 21:03] e0i commented on #1071
@officedocsbot close

[2019-06-10 21:05] e0i commented on #525
@mossywell

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-06-10 21:05] e0i commented on #525
@officedocsbot close

[2019-06-10 21:05] #525 closed

[2019-06-10 21:05] e0i commented on #992
@si1ic0ngh0st

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-06-10 21:05] e0i commented on #992
@officedocsbot close

[2019-06-10 21:05] #992 closed

[2019-06-10 21:47] e0i commented on #1042
@zzzz4

In our investigation it has been found that the issue has been addressed with the following commit:

[[e5f5651 ] Change Lock-Volume to Lock-BitLocker ](https://github.com/MicrosoftDocs/windows-powershell-docs/commit/e5f565162a6da5bab25c2eeeac6b8d45255aab6b)

We are thus closing this issue since it seems to be resolved.

Thank you for taking the time to provide feedback.

[2019-06-10 21:47] e0i commented on #1042
@officedocsbot close

[2019-06-10 21:47] #1042 closed

[2019-06-10 22:19] e0i commented on #1010
@officedocsbot close

[2019-06-10 22:19] #1010 closed

[2019-06-10 22:22] e0i commented on #1049
@officedocsbot close

[2019-06-10 22:22] #1049 closed

[2019-06-10 22:23] e0i commented on #1051
@officedocsbot close

[2019-06-10 22:23] #1051 closed

[2019-06-10 22:23] JasonG-IT commented on #1036
I'm confused on why this was closed. There are still no descriptions of any parameters or examples of any code.

With that said, we were able to work around using any PPKGs at all in our current deployment.

[2019-06-11 07:10] Michal-Ziemba commented on #56
@get-itips is it a way we should report bugs about commands?

[2019-06-11 11:14] yogkumgit commented on #434
@get-itips  Thank you very much for the contribution and sharing this explanation. @GrabASalad
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-06-11 11:14] yogkumgit commented on #434
@officedocsbot close

[2019-06-11 11:14] #434 closed

[2019-06-11 11:19] yogkumgit commented on #56
@Michal-Ziemba . Yes. This this channel is only for the documentation update.
@get-itips  Thank you very much for the contribution and sharing this explanation. @Michal-Ziemba
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-06-11 11:19] yogkumgit commented on #56
@officedocsbot close

[2019-06-11 11:19] #56 closed

[2019-06-11 20:40] e0i commented on #1088
@DDmchk

In our investigation it has been found that this issue has already been addressed with the following commit,

[[27a4532 ] Added Resolve-DnsName article ](https://github.com/MicrosoftDocs/windows-powershell-docs/commit/27a4532c86157a46ab219c64e132b64b54060efd#diff-e8c4be659ad94eab7d4e3e0dd8295ae3)

We are thus closing this issue since it seems to be resolved.

It may take a while for chang

[2019-06-11 20:40] e0i commented on #1088
@officedocsbot close

[2019-06-11 20:40] #1088 closed

[2019-06-12 05:58] ivoruetsche opened #1117 "Remove-DnsServerResourceRecord: Remove SRV record"
Hi

How can I remove a specific SRV record?

I can specify these options:
-ZoneName "test.mydomain.com"
-Name "_test._tcp"
-RRType "SRV"

But how looks the -RecordData parameter? It should be a string, but how should looks like this string?

A get give me these output:
PS C:\windows\system32> (Get-DnsServerResourceRecord -ZoneName "test.mydomain.com" -Name "_test._tcp" -RRType "SRV").RecordData

D

[2019-06-12 07:24] Sharkrit commented on #425
I have already add Windows Feature as per @jtippet mentioned.
[code]
For some reason, it's not working, I kept getting errors about "**Invalid class**"

[code]

Here is some of my ComputerInfo
[code]

[2019-06-12 08:11] NeoBeum opened #1118 "DISM Module Repository"
Does the DISM Module have a GitHub Repository so I can add and extend the WinPE Features on Demand Package? There are several options missing. I tried searching the PowerShell
WinPE-DismCmdlets-Package~31bf3856ad364e35

I tried searching https://github.com/PowerShell and couldn't find it

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2019-06-12 08:17] NeoBeum commented on #1118
I'll be adding

[code]

and adding Aliases for the above
[code]

[2019-06-12 13:04] Nothing4You opened #1119 "Confirm prompt defaults to $true"
Related: https://social.technet.microsoft.com/Forums/windowsserver/en-US/68274d6e-db57-43ad-beca-aaa048438842/removeadgroupmember-disable-confirm-prompt?forum=winserverpowershell

Remove-ADPrincipalGroupMembership asks for confirmation even without passing -Confirm.
Taken from the linked page above I was able to get it to silently process by passing -Confirm:$false.

---
#### Document Details

⚠ *

[2019-06-12 14:53] dmraymond opened #1120 "Example has a typo"
CertifcateStoreName should be CertificateStoreName

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 057d153d-fc39-2e9a-e58f-1f20f7d7859a
* Version Independent ID: ad1f5a0d-4fac-d809-f683-ebed799d70da
* Content: [Add-NetIPHttpsCertBinding (networktransition)](https://docs.microsoft.com/en-us/powershell/module/networktrans

[2019-06-12 18:06] vo5tr0 opened #1121 "UInt64"
The -SizeBytes parameter does not accept "1TB", because is it not a type UInt64.
Something like...
$size = 1TB
Resize-VHD -Path c:\BaseVHDX.vhdx -SizeBytes $size
...would work though.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3cf084a-7eb8-529b-ccdb-e806cebd2101
* Version Independent ID: 94919249-d7be-319c-f28e-15

[2019-06-12 21:12] v-stsech opened #1123 "Page is not finished"
This is not completed.
It would be nice to have a description of the effect of running the command. How is the ecc curve chosen?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 192ebef7-3fd8-5691-2d89-3616ab2a44fc
* Version Independent ID: 088e91d5-11c8-d20e-2593-9d92853e1c36
* Content: [Disable-TlsEccCurve (tls)](https

[2019-06-13 12:35] yogkumgit commented on #445
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @swinster Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2019-06-13 12:35] yogkumgit commented on #445
@officedocsbot close

[2019-06-13 12:35] #445 closed

[2019-06-13 12:40] yogkumgit commented on #66
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @GitHubBJW Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2019-06-13 12:40] yogkumgit commented on #66
@officedocsbot close

[2019-06-13 12:40] #66 closed

[2019-06-13 12:42] yogkumgit commented on #64
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @pportnoy Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2019-06-13 12:43] yogkumgit commented on #64
@officedocsbot close

[2019-06-13 12:43] #64 closed

[2019-06-13 14:36] juanirm commented on #1071
I am sorry to say this but I can still see the issue on the page.
https://docs.microsoft.com/en-us/powershell/module/addsadministration/Set-ADServiceAccount?view=win10-ps

If you go to the "-ServicePrincipalNames" explanation section it is still saying the "Date format" text.
Have you checked this before closing?

[2019-06-13 16:02] j0rt3g4 commented on #1071
@juanirm The corrections are done via **continuous integration** that they could take days to be merged into the public content, please be patient, and let us know if after a week the content is still not visible.
Thank you for your feedback.

[2019-06-13 16:11] j0rt3g4 commented on #1071
@juanirm  If you check the ".md" file at https://github.com/MicrosoftDocs/windows-powershell-docs/blob/master/docset/windows/addsadministration/set-adserviceaccount.md#-serviceprincipalnames
you will realize that the content is already changed there, the only missing part is "continuous integration" to merge the content into the public that would be done in the following days. 👍

[2019-06-13 16:29] yogkumgit commented on #318
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @TimCurwick Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-06-13 16:30] yogkumgit commented on #318
@officedocsbot close

[2019-06-13 16:30] #318 closed

[2019-06-14 02:30] Davedwin commented on #1108
It's working, I just wanted to share what I found as it wasn't documented anywhere.

[2019-06-14 02:30] #1108 closed

[2019-06-14 06:43] juanirm commented on #1071
Fair enough, I thought that the closing included the full CICD pipe. I'll close it then. 👍

[2019-06-14 06:43] #1071 closed

[2019-06-14 06:44] j0rt3g4 commented on #1071
It closes the issue but it should be fully updated soon :)

[2019-06-14 11:17] levick93 commented on #344
I am having this issue also. I need to remove ZuneVideo from all users as some of our users dont have admin permissions to run the Remove-AppxPackage command and we cant set VLC media player as default with ZunoVideo installed. Looking forward to a solution.

[2019-06-14 17:36] e0i commented on #1123
@officedocsbot assign @e0i

[2019-06-14 17:36] e0i commented on #1121
@officedocsbot assign @e0i

[2019-06-14 17:36] e0i commented on #1120
@officedocsbot assign @e0i

[2019-06-14 17:37] e0i commented on #1119
@officedocsbot assign @e0i

[2019-06-14 17:37] e0i commented on #1118
@officedocsbot assign @e0i

[2019-06-14 17:37] e0i commented on #1117
@officedocsbot assign @e0i

[2019-06-14 18:36] e0i commented on #729
@blouwagie

With the help of your feedback, the issue has been reviewed and an update to the documentation has been published. Thanks for your feedback.

[2019-06-14 18:36] e0i commented on #729
@officedocsbot close

[2019-06-14 18:36] #729 closed

[2019-06-14 18:37] e0i commented on #1052
@Bartolomeus-649

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-06-14 18:37] e0i commented on #1052
@officedocsbot close

[2019-06-14 18:38] e0i commented on #1067
@danieldjewell

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-06-14 18:39] e0i commented on #1067
@officedocsbot close

[2019-06-14 18:39] #1067 closed

[2019-06-14 18:40] e0i commented on #1100
@nschonni The issue has been addressed with the help of your contribution as the PR #1084 has been merged.

Thank you.

[2019-06-14 18:40] e0i commented on #1100
@officedocsbot close

[2019-06-14 18:41] nschonni commented on #1100
Think this is still an issue, but could probably be moved to a new one

[2019-06-14 19:45] e0i commented on #1117
Hello, @ivoruetsche

The issues section of this repository is intended for documentation problems only.

Please consider checking any relevant resources and asking the community regarding your problem via the following link.

[PowerShell Community](https://docs.microsoft.com/powershell/#pivot=main&panel=community)

If you feel that this document can also be updated with information related to your

[2019-06-14 20:30] Bartolomeus-649 commented on #1052
Is the new version public? Because I still can't see an explanation of how it would handle, for example, input of an array of jobs and one file.

[2019-06-16 11:44] RAJU2529 opened #1124 "Thanks for the cmdlet scripts"
After seeing commands  i have created all  troubleshooting  commands
Ceeate new folder name DiagResult  in C:\ and then  run commands in powershell
But you must enable user account control

$Apps = Get-TroubleshootingPack -Path "C:\Windows\Diagnostics\System\Apps"
Invoke-TroubleshootingPack -Pack $Apps -Result "C:\DiagResult"

$Audio = Get-TroubleshootingPack -Path "C:\Windows\Diagnostics\System\A

[2019-06-16 11:46] RAJU2529 opened #1125 "Thanks for the cmdlets"
I have created following scripts  after reading this article

$Apps = Get-TroubleshootingPack -Path "C:\Windows\Diagnostics\System\Apps"
$Apps.RootCauses.Resolutions[0]

$Audio = Get-TroubleshootingPack -Path "C:\Windows\Diagnostics\System\Audio"
$Audio.RootCauses.Resolutions[0]

$BITS = Get-TroubleshootingPack -Path "C:\Windows\Diagnostics\System\BITS"
$BITS.RootCauses.Resolutions[0]

$Bluetooth

[2019-06-16 19:53] rafalfitt opened #1126 "Please add information about -Version"
and what it actually changes in the behavior

Sample:
New-StoragePool -Version WindowsServer2019

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 915197ed-248f-4e41-4647-20f02bcd9989
* Version Independent ID: b2332c94-b147-fcfb-1b8a-83c0dd1f99a3
* Content: [New-StoragePool (storage)](https://docs.microsoft.com/en-us/powe

[2019-06-17 11:35] e0i commented on #1124
@officedocsbot assign @e0i

[2019-06-17 11:35] e0i commented on #1125
@officedocsbot assign @e0i

[2019-06-17 11:36] e0i commented on #1126
@officedocsbot assign @e0i

[2019-06-17 16:43] e0i commented on #1117
@officedocsbot close

[2019-06-17 16:43] #1117 closed

[2019-06-17 20:22] BearGFR opened #1127 "This command does not work when attempting to update records that are stored in a zonescope."
Attempting to use this command to update records in a zonescope (both -zonename and -zonescope specified) does not work. It always returns an error:

set-dnsserverresourcerecord : Resource record in OldInputObject not found in scope &lt;scopename&gt; of zone &lt;zonename&gt; on server &lt;server&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2019-06-18 09:13] martinohansen commented on #989
Hi @velkovb, sorry for the late response. I've tried to show the conflicting information in below snippet from our environment. The first output is clearly presented in milliseconds and the seconds matching up.

Maybe i'm misunderstanding the output format and its not `MSFT_StorageQoSFlow class` with below commands? I hope you can help us, thanks.

[code]

[2019-06-18 10:44] pgorod opened #1128 ""profile" argument, default value should probably be "Any" instead of "None""
The "profile" argument of New-NetFirewallRule is stated in this page as having a default value of "None", but the text a few lines above says the default is "Any" which I guess makes more sense, since you "None" is not an accepted firewall profile.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a81ceb77-8de5-8c07-c0c4-

[2019-06-18 13:58] e0i commented on #1093
Hello, @milesgratz  thank you for providing feedback.

Note that the issues section of this repository is intended for product documentation issues.

Please consider checking any relevant resources and asking the community about your problem via the following link.

[PowerShell Community](https://docs.microsoft.com/powershell/#pivot=main&panel=community)

Thanks.

[2019-06-18 13:58] e0i commented on #1093
Hello, @milesgratz

The issues section of this repository is intended for documentation problems only.

Please consider checking any relevant resources and asking the community regarding your problem via the following link.

[PowerShell Community](https://docs.microsoft.com/powershell/#pivot=main&panel=community)

If you feel that this document can also be updated with information related to your

[2019-06-18 16:20] e0i commented on #719
Hello, @LijuV-MSFT

Would you be able to clarify what needs to be updated in the documentation? Is the document misleading? What is missing?

We would like to follow-up with content updates accordingly.

Thank you for providing feedback.

[2019-06-18 17:38] LijuV-MSFT commented on #719
I recommend updating the content with this pertinent information:

The files are found under the Client installation folder. To import, run:
Import-Module -Name "C:\Program Files\Microsoft\AGPM\Client\Microsoft.Agpm\Microsoft.AGPM.psd1"

To get a list of the commands, run:
Get-Command -Module Microsoft.AGPM

[2019-06-19 00:41] Arefu commented on #201
This is still a problem.

[2019-06-19 12:15] archgriffin opened #1131 "AccountInactive Param"
I think the information for the parameter means Windows 2003 or higher, the way it is currently worded makes it sound like it only works in a domain function level of 2003.

"Note that this attribute is only used when the domain is in Windows Server 2003 Domain Functional Level, so this parameter will only work in that mode."
I would think this is what is meant
"Note that this attribute is only us

[2019-06-19 13:46] e0i commented on #1128
@officedocsbot assign @e0i

[2019-06-19 13:46] e0i commented on #1127
@officedocsbot assign @e0i

[2019-06-20 01:01] jszabo98 commented on #374
If what I'm talking about was done, the help would look like this:

-User
If you specify this parameter, the cmdlet removes the app package for only the user that this cmdlet specifies. To remove a package for a user profile other than the profile of the current user, you must run this command by using administrator permissions. The user name can be in one of these formats:

SID-string

[2019-06-20 06:23] mairaw commented on #1100
There were also questions about when the changes are going live on the original issue @e0i. Any ETA on that?

[2019-06-20 09:24] velkovb commented on #989
Hi @martinohansen,

That shuld be the correct class. The format file actually adds ms but the documentation says microseconds.
![image](https://user-images.githubusercontent.com/10958657/59837535-12007080-9356-11e9-99e4-3ffa4aaf2ee5.png)

@e0i I believe https://docs.microsoft.com/en-us/previous-versions/windows/desktop/clusstorageqosprov/msft-storageqosflow should be edited so says miliseconds ins

[2019-06-20 13:07] e0i commented on #133
@officedocsbot unassign @e0i

[2019-06-20 13:07] e0i commented on #209
@officedocsbot unassign @e0i

[2019-06-20 13:07] e0i commented on #222
@officedocsbot unassign @e0i

[2019-06-20 13:07] e0i commented on #240
@officedocsbot unassign @e0i

[2019-06-20 13:08] e0i commented on #247
@officedocsbot unassign @e0i

[2019-06-20 13:08] e0i commented on #283
@officedocsbot unassign @e0i

[2019-06-20 13:08] e0i commented on #308
@officedocsbot unassign @e0i

[2019-06-20 13:29] e0i commented on #333
@officedocsbot unassign @e0i

[2019-06-20 13:46] e0i commented on #430
@officedocsbot unassign @e0i
@officedocsbot assign @yogkumgit

[2019-06-20 13:46] e0i commented on #428
@officedocsbot unassign @e0i
@officedocsbot assign @yogkumgit

[2019-06-20 13:46] e0i commented on #429
@officedocsbot unassign @e0i
@officedocsbot assign @yogkumgit

[2019-06-20 13:47] e0i commented on #420
@officedocsbot unassign @e0i
@officedocsbot assign @yogkumgit

[2019-06-20 13:47] e0i commented on #417
@officedocsbot unassign @e0i
@officedocsbot assign @yogkumgit

[2019-06-20 13:47] e0i commented on #425
@officedocsbot unassign @e0i
@officedocsbot assign @yogkumgit

[2019-06-20 13:47] e0i commented on #413
@officedocsbot unassign @e0i
@officedocsbot assign @yogkumgit

[2019-06-20 13:47] e0i commented on #411
@officedocsbot unassign @e0i
@officedocsbot assign @yogkumgit

[2019-06-20 13:47] e0i commented on #386
@officedocsbot unassign @e0i
@officedocsbot assign @yogkumgit

[2019-06-20 13:47] e0i commented on #380
@officedocsbot unassign @e0i
@officedocsbot assign @yogkumgit

[2019-06-20 13:47] e0i commented on #377
@officedocsbot unassign @e0i
@officedocsbot assign @yogkumgit

[2019-06-20 13:47] e0i commented on #373
@officedocsbot unassign @e0i
@officedocsbot assign @yogkumgit

[2019-06-20 13:47] e0i commented on #370
@officedocsbot unassign @e0i
@officedocsbot assign @yogkumgit

[2019-06-20 13:47] e0i commented on #366
@officedocsbot unassign @e0i
@officedocsbot assign @yogkumgit

[2019-06-20 13:48] e0i commented on #355
@officedocsbot unassign @e0i
@officedocsbot assign @yogkumgit

[2019-06-20 13:48] e0i commented on #353
@officedocsbot unassign @e0i
@officedocsbot assign @yogkumgit

[2019-06-20 13:48] e0i commented on #280
@officedocsbot unassign @e0i
@officedocsbot assign @yogkumgit

[2019-06-20 13:48] e0i commented on #742
@officedocsbot unassign @e0i
@officedocsbot assign @yogkumgit

[2019-06-20 13:48] e0i commented on #735
@officedocsbot unassign @e0i
@officedocsbot assign @yogkumgit

[2019-06-20 13:52] e0i commented on #731
@officedocsbot unassign @e0i
@officedocsbot assign @yogkumgit

[2019-06-20 13:53] e0i commented on #575
@officedocsbot unassign @e0i
@officedocsbot assign @yogkumgit

[2019-06-20 13:53] e0i commented on #577
@officedocsbot unassign @e0i
@officedocsbot assign @yogkumgit

[2019-06-20 13:53] e0i commented on #726
@officedocsbot unassign @e0i
@officedocsbot assign @yogkumgit

[2019-06-20 13:53] e0i commented on #730
@officedocsbot unassign @e0i
@officedocsbot assign @yogkumgit

[2019-06-20 13:53] e0i commented on #731
@officedocsbot unassign @e0i
@officedocsbot assign @yogkumgit

[2019-06-20 13:58] e0i commented on #366
@officedocsbot assign @yogkumgit

[2019-06-20 13:58] e0i commented on #370
@officedocsbot assign @yogkumgit

[2019-06-20 13:59] e0i commented on #373
@officedocsbot assign @yogkumgit

[2019-06-20 14:46] jszabo98 commented on #344
-AllUsers works in Windows 10 1809 only.

[2019-06-20 14:48] e0i commented on #379
@officedocsbot unassign @e0i
@officedocsbot assign @yogkumgit

[2019-06-20 16:59] e0i commented on #295
@Melbit-haixingzhang Would you confirm that the response provided by @SykieChen answers your question? Thanks.

[2019-06-20 18:54] get-itips commented on #344
Hello @jszabo98 thanks for your contribution, I could also verify that -AllUsers works in 1809 build.
Hope it works for @Borkason too, in the meantime, I'll add a pull request to propose modifying the current note in the article.

[2019-06-20 18:59] PaleHoser opened #1132 "Confirm-SecureBootUEFI Fails on Windows Server 2012 Server Core"
FYI -

I've successfully used Invoke-Command -ComputerName RemoteMachineName {Confirm-SecureBootUEFI} for full installs of Windows Server 2012.

Using Invoke-Command -ComputerName RemoteMachineName {Confirm-SecureBootUEFI} for Server Core installs of Windows Server 2012 returns:

"The term 'Confirm-SecureBootUEFI' is not recognized as the name of a cmdlet, function, script file, or operable progra

[2019-06-21 10:57] Borkason commented on #344
@get-itips I can't confirm that for 1809 at this point, because I am on 20H1 (Build 18922). But if it works for 1809, it should work for 20H1, no?

This is what I get.

[code]

[2019-06-21 11:08] get-itips commented on #344
@Borkason what I ran was:

`Get-AppxPackage -Name Microsoft.MicrosoftSolitaireCollection -AllUsers | Remove-AppxPackage -AllUsers `

Using -AllUsers in both cmdlets.

[2019-06-21 11:17] Borkason commented on #344
@get-itips Thanks for noticing. Even with your command, same error. Perhaps it's a problem with the insider build. I need to check with my 1903 build at work, next week.

[2019-06-21 11:18] get-itips commented on #344
@Borkason yes, insiders can be a whole different story. Please get back with the 1903 result next week.
Thanks

[2019-06-21 12:39] jszabo98 commented on #344
Try taking the -allusers off get-appxpackage.  All you need is the fullpackagename.

[2019-06-21 15:02] ritchxu opened #1135 "Add-MpPreference is failing for "Provider load failure""
On some of our servers, when using cmdlet "Add-MpPreference", we got error of "Provider load failure", after some investigation, we found following issues for WMI to create files? Did anyone experience similar issues before?
[code]
On those servers where this error happens, event logs shows below errors:
[code]
I suspect something went wrong with version 4.12.17007.18011-0 because on other servers

[2019-06-21 16:31] eponerine opened #1136 "New-DedupSchedule does not contain parameters "-StopWhenSystemBusy" or "-Full""
These appear to only be available for usage when using Set-DedupSchedule.

(Performing this on Server 2019)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11d4fee7-0557-f699-17e6-1b7729c9b9f4
* Version Independent ID: c16640d7-524c-4a5b-fe78-a6855ea32181
* Content: [New-DedupSchedule (deduplication)](https://docs.micro

[2019-06-21 16:31] eponerine commented on #1136
Renaming title due to typo :(

[2019-06-21 18:30] jricha34 opened #1137 "Description is wrong"
The description "The Get-ADTrust cmdlet returns all trusted domain objects in the directory." is wrong. This doesn't return all trusted domain objects in the directory. It returns all trusted domain objects in the domain that you are querying. To get all of them for the entire directory would require looping through all of the domains in the forest.

---
#### Document Details

⚠ *Do not edit this

[2019-06-21 18:38] get-itips commented on #353
Hello @dhirajhn thanks for your feedback.
The examples present in the live current version of the article, for -ServicePrincipalNames are actually valid for the Set- cmdlet. Will create a PR to remove them. The valid example is the one at the top in the Examples section.
Thanks for noting this.

[2019-06-21 21:56] get-itips commented on #355
Hello @tofkamp thanks for your feedback, I created a pair of pool requests to correct the examples.
Thank you

[2019-06-23 18:24] e0i commented on #1137
@officedocsbot assign @e0i

[2019-06-23 18:25] e0i commented on #1136
@officedocsbot assign @e0i

[2019-06-23 18:25] e0i commented on #1135
@officedocsbot assign @e0i

[2019-06-23 18:25] e0i commented on #1132
@officedocsbot assign @e0i

[2019-06-23 18:25] e0i commented on #1131
@officedocsbot assign @e0i

[2019-06-24 15:17] get-itips commented on #366
Hello @dave-sampson13
What kind of fixes? The documentation is open to propose changes but afaik the cmdlets belonging to this module not, can you confirm if the current documentation needs any fix?
Thank you

[2019-06-24 16:40] e0i commented on #343
See: #344

[2019-06-24 16:40] e0i commented on #343
@officedocsbot close

[2019-06-24 16:40] #343 closed

[2019-06-24 17:54] Borkason commented on #344
I can confirm that it works in 1809.

[2019-06-24 17:54] #344 closed

[2019-06-24 19:17] get-itips commented on #370
Hello @boffies
Thanks for your feedback,
You can find the diff between this two concepts [here](https://docs.microsoft.com/en-us/previous-versions/windows/desktop/stormgmt/msft-volume) and [here](https://docs.microsoft.com/en-us/previous-versions/windows/desktop/stormgmt/msft-virtualdisk)

Besides that, I do not see a need to change the referenced article.

Thank you

[2019-06-24 19:36] get-itips commented on #373
Hello @AlexJPawlak thanks for your feedback.
Installed and verified with the same method as you, and got a Valid status.
Thank you

[2019-06-24 19:43] get-itips commented on #377
Hello @arowswell thanks for your feedback, I created a pull request to correct the article.
Thank you

[2019-06-24 23:38] get-itips commented on #379
Hello @jskiba99 thanks for your feedback, created a pull request to correct the article.
Thank you

[2019-06-24 23:49] get-itips commented on #380
Hello @rbarna1
Thanks for your feedback.
There is no article referenced in your issue, but I think that this is what you are looking for
https://docs.microsoft.com/en-us/windows/desktop/lwef/mpthreat-action

Thank you

[2019-06-24 23:52] get-itips commented on #386
Hello @DesertBear
Thanks for your feedback, I created a pull request to correct the article.
Thank you

[2019-06-25 00:53] get-itips commented on #417
Hello @sthoward0914 thanks for your feedback.
I created a pull request to improve the description of that parameter.
Thank you

[2019-06-25 08:06] yerttle commented on #573
Hi guys, I appreciate this issue is closed so feel free to direct me to create a new ticket.

However I am inttrested in creating an app that will report one the Windows Defender status and having a break down of the different computer state intigers would be very helpful. I appreciate the addtion of a link to the properties however there is no more detail for the computer state property.

![image

[2019-06-25 12:08] get-itips commented on #428
Hello @danieldjewell
Thanks for your feedback.
I created a pull request to correct the wording in the article, to reflect that there can be only one AssignedAccess at a time, [as I could verify](https://docs.microsoft.com/en-us/windows-hardware/customize/enterprise/wedl-assignedaccess).

Thank you

[2019-06-25 12:24] get-itips commented on #425
Hello
@mtnielsen thanks for your feedback, as @jtippet mentioned, you get this module by enabling the feature.
@Sharkrit as this issue system is to address issues specifically in documentation, I kindly suggest to redirect your inquiry to support resources like [this](https://support.microsoft.com/en-us)

Thank you

[2019-06-25 12:36] get-itips commented on #420
Hello @Rychard thanks for your feedback.
As @AndyP2 said, you can achieve that passing a $false to Confirm parameter, as I could test too.
Thank you

[2019-06-25 12:39] yogkumgit commented on #366
@get-itips  Thank you very much for the contribution and sharing this explanation. @dave-sampson13
as explained please feel free to contribute with your expertise to improve the documentation. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-06-25 12:40] yogkumgit commented on #366
@officedocsbot close

[2019-06-25 12:40] #366 closed

[2019-06-25 12:43] yogkumgit commented on #370
@get-itips  Thank you very much for the contribution and sharing this explanation. @boffies
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-06-25 12:44] yogkumgit commented on #370
officedocsbot close

[2019-06-25 12:46] yogkumgit commented on #370
@officedocsbot close

[2019-06-25 12:46] #370 closed

[2019-06-25 12:47] yogkumgit commented on #373
@get-itips  Thank you very much for the contribution and sharing this explanation. @AlexJPawlak
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-06-25 12:48] yogkumgit commented on #373
@officedocsbot close

[2019-06-25 12:48] #373 closed

[2019-06-25 12:52] get-itips commented on #428
Also, for feature requests, I need to kindly suggest to visit [this resource ](https://windowsserver.uservoice.com/forums/301869-powershell)

[2019-06-25 12:52] get-itips commented on #429
Duplicate of https://github.com/MicrosoftDocs/windows-powershell-docs/issues/428 we will close this one.

[2019-06-25 12:54] yogkumgit commented on #380
@get-itips Thank you very much for the contribution and sharing this explanation. @rbarna1
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-06-25 12:55] yogkumgit commented on #380
@officedocsbot close

[2019-06-25 12:55] #380 closed

[2019-06-25 12:59] yogkumgit commented on #425
@get-itips  Thank you very much for the contribution and sharing this explanation. @mtnielsen
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-06-25 12:59] yogkumgit commented on #425
@officedocsbot close

[2019-06-25 12:59] #425 closed

[2019-06-25 13:05] yogkumgit commented on #420
@get-itips  Thank you very much for the contribution and sharing this explanation. @Rychard
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-06-25 13:06] yogkumgit commented on #420
@officedocsbot close

[2019-06-25 13:06] #420 closed

[2019-06-25 13:08] yogkumgit commented on #429
@officedocsbot close

[2019-06-25 13:08] #429 closed

[2019-06-25 13:10] get-itips commented on #430
Hello @gregbradley thanks for your feedback.
I created a pull request to correct the article, as I could verify, thank you

[2019-06-25 13:21] get-itips commented on #483
Hello @GowaP thanks for your feedback, honestly, I do not know french, but I used a translator and, correct me if I am wrong, you are suggesting a feature request to handle VHD files.
As this issue resource is specifically to address issues in documentation, I need to kindly suggest you to visit [this resource](https://windowsserver.uservoice.com/forums/295047-general-feedback) to propose that ide

[2019-06-25 13:29] get-itips commented on #575
Hello @MarkusRich thanks for your feedback.
As this issue resource is intended to address issues present specifically in documentation, I need to kindly redirect you to https://support.microsoft.com/en-us to get support on your case.

Thank you

[2019-06-25 13:36] get-itips commented on #577
Hello @balaban thanks for your feedback, based on your inquiry, and as this issue resource is intended to address issues in documentation, I need to kindly suggest you to visit https://support.microsoft.com/en-us to get support on your case.
Thank you

[2019-06-25 13:40] get-itips commented on #726
Hello @parappsys thanks for your feedback.
To propose changes or improvements in cmdlets, I need to kindly suggest you to visit https://windowsserver.uservoice.com/forums/295047-general-feedback where you can propose your idea as this is issue resource is intended to address issues in documentation.
Thank you

[2019-06-25 14:31] ritchxu commented on #1135
See [this issue](https://github.com/MicrosoftDocs/windows-itpro-docs/issues/4018) for details on how `Add-MpPreference` didn't work as expected. Windows Defender was still scanning files even though those are under the exclusion path.

[2019-06-25 15:56] yogkumgit commented on #726
@parappsys  Thank you very much for your kind feedback. Considering your valuable feedback, as suggested please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. Thanks again for taking out some time and sharing your feedback.

[2019-06-25 15:56] yogkumgit commented on #726
@officedocsbot close

[2019-06-25 15:56] #726 closed

[2019-06-25 15:58] yogkumgit commented on #577
@get-itips Thank you very much for the contribution and sharing this explanation. @balaban
Hope this comment is helpful for you. Considering the nature of the issue, as advised , please open a service ticket in your tenant and follow with them for the resolution.
We will be very happy if you can share the outcome or resolution with us. We will certainly update this documentation with that valuable

[2019-06-25 15:58] yogkumgit commented on #577
@officedocsbot close

[2019-06-25 15:58] #577 closed

[2019-06-25 16:00] yogkumgit commented on #575
@get-itips Thank you very much for the contribution and sharing this explanation. @MarkusRich
Hope this comment is helpful for you. Considering the nature of the issue, as advised , please open a service ticket in your tenant and follow with them for the resolution.

We will be very happy if you can share the outcome or resolution with us. We will certainly update this documentation with that valu

[2019-06-25 16:00] yogkumgit commented on #575
@officedocsbot close

[2019-06-25 16:00] #575 closed

[2019-06-25 16:01] yogkumgit commented on #483
@get-itips  Thank you very much for the contribution and sharing this explanation. @GowaP
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-06-25 16:02] yogkumgit commented on #483
@officedocsbot close

[2019-06-25 16:02] #483 closed

[2019-06-25 16:08] yogkumgit commented on #353
@tseward and @dariomws306 please review PR #https://github.com/MicrosoftDocs/windows-powershell-docs/pull/1138     and kindly provide your feedback

[2019-06-25 16:11] yogkumgit commented on #355
@tseward and @dariomws306 please review PR Removed non working examples #1139 and Removed non working examples #1140  and kindly provide your feedback

[2019-06-25 16:12] yogkumgit commented on #377
@tseward and @dariomws306 please review PR  Corrected members parameter description #1141 and kindly provide your feedback

[2019-06-25 16:13] yogkumgit commented on #379
@tseward and @dariomws306 please review PR  Corrected cmdlet from Example #1142 and kindly provide your feedback

[2019-06-25 16:14] yogkumgit commented on #386
@tseward and @dariomws306 please review PR  Corrected example cmdlet #1143 and kindly provide your feedback

[2019-06-25 16:15] yogkumgit commented on #417
@tseward and @dariomws306 please review PR  Improved resiliencysettingnamedefault description #1144 and kindly provide your feedback

[2019-06-25 16:16] yogkumgit commented on #428
@tseward and @dariomws306 please review PR Changed wording #1145 and kindly provide your feedback

[2019-06-25 16:17] yogkumgit commented on #430
@tseward and @dariomws306 please review PR Changed property of parameter #1146 and kindly provide your feedback

[2019-06-25 17:39] tseward commented on #430
@yogkumgit looks good to me.

[2019-06-25 17:59] get-itips commented on #742
Hello @furyritchie thanks for your feedback, I created a pull request to correct the documentation.
Thank you

[2019-06-25 18:19] get-itips commented on #735
Hello @Stofferl
Thanks for your feedback, a note stating in which version of Windows Server the Thumbprint is available has been added, please see here https://github.com/MicrosoftDocs/windows-powershell-docs/commit/d0ff4616b0c071190f91f4e6e8f78b5736ebcde5#diff-21c9e9075a905fa82a0da3c07a0526c7

It should go on the live version in a while.

Thank you

[2019-06-25 20:36] dariomws306 commented on #430
Looks good!

[2019-06-25 22:16] get-itips commented on #730
Hello @CDC86 thanks for your feedback.
I decided to add your example on a pull request, and leave the current too because it can still be valid for someone else.
It should go live in a couple of days.
Thank you

[2019-06-25 22:39] dariomws306 commented on #377
I am ok.

[2019-06-25 22:42] dariomws306 commented on #379
Ok!

[2019-06-25 22:44] dariomws306 commented on #386
Ok!

[2019-06-25 23:02] dariomws306 commented on #417
...to use for virtual disks **_the_** created in the specified storage pool...

[2019-06-25 23:11] dariomws306 commented on #428
Looks good!

[2019-06-26 06:49] alexfreu69 opened #1149 "Remove-DnsServerResourceRecord : InputObject for resource record has an invalid value."
The command fails with a RecordData value like this:

Remove-DnsServerResourceRecord -RRType SRV -Name "_misc._tcp" -ZoneName "something.local" -RecordData "[0][10][1234][1.1.1.1.]"

Please add a documentation for the correct syntax. It should be:

Remove-DnsServerResourceRecord -RRType SRV -Name "_misc._tcp" -ZoneName "something.local" -RecordData "0","10","1234","1.1.1.1."

---
#### Document Det

[2019-06-26 12:23] yogkumgit commented on #730
@tseward and @dariomws306 please review PR Added an example #1148 and kindly provide your feedback

[2019-06-26 12:34] yogkumgit commented on #735
@get-itips  Thank you very much for the contribution and sharing this explanation. @Stofferl
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-06-26 12:34] yogkumgit commented on #735
@officedocsbot close

[2019-06-26 12:34] #735 closed

[2019-06-26 12:36] yogkumgit commented on #742
@tseward and @dariomws306 please review PR  InterfaceAlias accepts wildcards #1147 and kindly provide your feedback

[2019-06-26 13:09] CDC86 commented on #730
The new example still won't work because`-KeyUsage DigitalSignature,KeyEncipherment` is missing, see explanation in my original request.
I'd also be grateful if someone could ascertain that there is a setting at all where example 3 will work for creating a working S/MIME certificate and document that setting. Otherwise it would not make much sense to keep the example.

[2019-06-26 13:24] dariomws306 commented on #742
Was Get-NetIPAddress also updated?

[2019-06-26 14:00] get-itips commented on #730
Hello @CDC86
Thanks for your feedback, I worked on an issue where the default KeyUsage for this cmdlet  was indeed DigitalSignature,KeyEncipherment please see [here](https://github.com/MicrosoftDocs/windows-powershell-docs/pull/1113) that's the reason i did not changed that in my last PR, I did not notice the use of KeyUsage in that example, so I'll remove it now as DigitalSignature,KeyEnciphermen

[2019-06-26 14:10] get-itips commented on #742
@dariomws306 When I was about to edit Get-NetIPAddress, I noticed already has the change made, you won't see it on the live version because of the stalling currently facing this repo.

[2019-06-26 14:16] dariomws306 commented on #742
Nice!

[2019-06-26 14:16] LuigiBruno commented on #517
Thank you @get-itips.

[2019-06-26 14:17] LuigiBruno commented on #517
Tanks @yogkumgit.

[2019-06-26 15:00] CDC86 commented on #730
Thank you for working on this. I've finally found my notes from February. It does not seem to be possible any more to create an working S/MIME certificate in one command because Thunderbird insists on certificates signed by a CA (a nuisance inherited from Firefox).

A more complete example would be:
`New-SelfSignedCertificate -CertStoreLocation cert:\currentuser\my -DnsName cert.contoso.com -NotAf

[2019-06-26 15:16] LuigiBruno commented on #518
Thanks @e0i.

[2019-06-26 16:07] e0i commented on #1149
@officedocsbot assign @e0i

[2019-06-26 16:07] tseward commented on #428
Looks good.

[2019-06-26 16:11] tseward commented on #386
Looks good to me

[2019-06-26 16:41] tseward commented on #379
Looks good.

[2019-06-26 16:42] tseward commented on #377
Looks good.

[2019-06-26 16:42] tseward commented on #355
Looks good.

[2019-06-26 18:04] tseward commented on #742
Looks good :)

[2019-06-26 20:10] #989 closed

[2019-06-27 09:58] e0i commented on #1132
Hello, @PaleHoser thank you for providing feedback.

Note that the issues section of this repository is intended for product documentation issues only.

Please consider checking any relevant resources and asking the community about your problem via the following link.

[PowerShell Community](https://docs.microsoft.com/powershell/#pivot=main&panel=community)

Thanks.

[2019-06-27 09:58] e0i commented on #1135
Hello, @ritchxu  thank you for providing feedback.

Note that the issues section of this repository is intended for product documentation issues only.

Please consider checking any relevant resources and asking the community about your problem via the following link.

[PowerShell Community](https://docs.microsoft.com/powershell/#pivot=main&panel=community)

Thanks.

[2019-06-27 10:31] e0i commented on #1127
@BearGFR

The issues section of this repository is for product documentation issues.

Please consider checking any relevant resources and asking the community about your problem via the following link.

[PowerShell Community](https://docs.microsoft.com/powershell/#pivot=main&panel=community)

Thanks.

[2019-06-27 10:33] e0i commented on #1125
@RAJU2529 Would you kindly clarify the subject of this issue?

Since issues section of this repository is for product documentation issues, we would like to know what is missing, what needs to be updated, etc.

Thanks.

[2019-06-27 10:35] e0i commented on #1124
@RAJU2529 Would you be able to clarify the exact subject of your request? Do the documentation needs to be updated? Note that the issues section of this repository is intended for product documentation issues only. Thanks.

[2019-06-27 10:53] RAJU2529 commented on #1124
@e0i. No issues in Article. If possible can I add those cmdlets scripts in Article by Pulling request. It will be useful for the reader's. And get all the possible cmdlets in one place

[2019-06-27 12:48] #1135 closed

[2019-06-27 13:43] e0i commented on #964
Hello, @AvrumFocus

Would you specify which version you have observed the mentioned behavior with? We would like to follow-up with content updates if necessary.

Thank you for your feedback.

[2019-06-27 13:45] e0i commented on #933
@RUGANDH

The issue tracker of this repository is intended for product documentation issues only.

Please consider consulting PowerShell UserVoice channel regarding your product feedback via the following link,

[PowerShell UserVoice](https://windowsserver.uservoice.com/forums/301869-powershell)

You may also check relevant resources and ask the community for any other inquiries via PowerShell Com

[2019-06-27 13:45] e0i commented on #933
@officedocsbot close

[2019-06-27 13:45] #933 closed

[2019-06-27 13:48] e0i commented on #925
@Mugbaz

The issue tracker of this repository is intended for product documentation issues only.

Please consider consulting PowerShell UserVoice channel regarding your bug report via the following link,

[PowerShell UserVoice](https://windowsserver.uservoice.com/forums/301869-powershell)

You may also check relevant resources and ask the community for any other inquiries via PowerShell Community,

[2019-06-27 13:50] e0i commented on #920
Hello @BlackV,

This is a known issue that is present across the repository and relevant content updates are being made progressively.

Thank you for providing feedback.

[2019-06-27 13:55] e0i commented on #744
@cnnrshd

Thank you for following-up with clarification. You'll be notified with relevant updates as content gets updated.

[2019-06-28 10:39] e0i commented on #1131
@archgriffin

The issue has been noted and the document will be revised in the light of your feedback.

Thank you.

[2019-06-28 10:39] e0i commented on #1136
Hello, @eponerine

The issue is under investigation and you will be notified with any changes on the way.

Thank you for providing feedback.

[2019-06-28 10:40] e0i commented on #1137
@jricha34

The issue has been noted and the document will be revised in the light of your feedback.

Thank you.

[2019-06-28 10:40] e0i commented on #1102
Hello, @Ba4bes

The content is being reviewed in the light of your feedback and we'll keep you posted on updates.

Thank you for providing feedback.

[2019-06-28 10:40] e0i commented on #1090
Updates soon.

[2019-06-28 11:14] yogkumgit commented on #353
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @dhirajhn Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-06-28 11:14] yogkumgit commented on #353
@officedocsbot close

[2019-06-28 11:14] #353 closed

[2019-06-28 11:16] yogkumgit commented on #355
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @tofkamp Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-06-28 11:16] yogkumgit commented on #355
@officedocsbot close

[2019-06-28 11:16] #355 closed

[2019-06-28 11:18] yogkumgit commented on #377
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @arowswell Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-06-28 11:18] yogkumgit commented on #377
@officedocsbot close

[2019-06-28 11:18] #377 closed

[2019-06-28 11:20] yogkumgit commented on #379
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @jskiba99 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-06-28 11:20] yogkumgit commented on #379
@officedocsbot close

[2019-06-28 11:20] #379 closed

[2019-06-28 11:23] yogkumgit commented on #386
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @DesertBear Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2019-06-28 11:23] yogkumgit commented on #386
@officedocsbot close

[2019-06-28 11:23] #386 closed

[2019-06-28 11:27] yogkumgit commented on #417
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @sthoward0914 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2019-06-28 11:27] yogkumgit commented on #417
@officedocsbot close

[2019-06-28 11:27] #417 closed

[2019-06-28 11:30] yogkumgit commented on #428
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @danieldjewell Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2019-06-28 11:31] yogkumgit commented on #428
@officedocsbot close

[2019-06-28 11:31] #428 closed

[2019-06-28 11:33] yogkumgit commented on #430
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @gregbradley Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2019-06-28 11:34] yogkumgit commented on #430
@officedocsbot close

[2019-06-28 11:34] #430 closed

[2019-06-28 11:35] yogkumgit commented on #730
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @CDC86 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2019-06-28 11:35] yogkumgit commented on #730
@officedocsbot close

[2019-06-28 11:35] #730 closed

[2019-06-28 11:37] yogkumgit commented on #742
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @furyritchie Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2019-06-28 11:37] yogkumgit commented on #742
@officedocsbot close

[2019-06-28 11:37] #742 closed

[2019-06-28 18:03] e0i commented on #295
@Melbit-haixingzhang

We are closing this issue as there hasn't been a response from your side.

Thank you for providing feedback.

[2019-06-28 18:03] e0i commented on #295
@officedocsbot close

[2019-06-28 18:03] #295 closed

[2019-06-29 01:13] dariomws306 commented on #417
Ok now!

[2019-06-29 13:53] e0i commented on #919
Hello, @theoamaya

Would you clarify the subject of the issue?

Is the document misleading? What needs to be updated?

We would like to follow-up with content updates accordingly.

Thank you for providing feedback.

[2019-06-29 16:41] e0i commented on #756
@andrewwillett

The issue tracker of this repository is intended for product documentation issues only.

Please consider consulting PowerShell UserVoice channel regarding your product feedback via the following link,

[PowerShell UserVoice](https://windowsserver.uservoice.com/forums/301869-powershell)

You may also check relevant resources and ask the community for any other inquiries via PowerShe

[2019-06-29 16:45] e0i commented on #741
Hello, @dmonagha  thank you for providing feedback.

Note that the feedback section you have submitted this feedback from is intended for product documentation issues only.

Please consider checking with PowerShell community for your problem so that it gets resolved quickly.

[PowerShell Community Links](https://docs.microsoft.com/powershell/#pivot=main&panel=community)

For bug reports specific t

[2019-06-30 02:02] theoamaya commented on #919
I have no fucking idea what talking about

[2019-06-30 06:30] gl1xtx commented on #1116
(get-vpnconnection).ipseccustompolicy seems to work

[2019-07-01 12:24] velkovb commented on #1136
@eponerine  Hi Ernie,

Thank you for your feedback. Unfortunately, I am unable to reproduce your issue. I have tested both on Server 2016 and Server 2019 and I have the option to specify both parameters.

PS C:\> New-DedupSchedule -Name test -Type GarbageCollection -StopWhenSystemBusy -Full

Enabled    Type               StartTime              Days               Name
-------    ----

[2019-07-01 12:39] eponerine commented on #1136
I think I see my problem (and it's completely my fault).

I thought these parameters were booleans and not switches, so I was trying to pass $true or $false to them.

I'm sorry for the confusion! Closing the issue out!

[2019-07-01 12:39] #1136 closed

[2019-07-02 09:15] VLG17 commented on #1032
@chendrixson although i fully understand your concern, i personally find it really difficult to address these "common errors", because there is no silver bullet solution for errors like:

**_"Deployment failed with HRESULT: 0x80073D02, The package could not be installed because resources it modifies are currently in use."

"Deployment failed with HRESULT: 0x80073D06, The package could not be insta

[2019-07-02 13:13] e0i commented on #1032
Hello @chendrixson ,

We are closing this issue since your question seems to be answered. Feel free to re-open this issue if you still experience problems.

Thanks.

[2019-07-02 13:13] e0i commented on #1032
@officedocsbot close

[2019-07-02 13:13] #1032 closed

[2019-07-02 13:52] EzraWard opened #1158 "AppInstaller Parameter Missing"
Does not include a reference to the optional parameter -AppInstaller. Example usage:

Add-AppxPackage -AppInstaller "\\SomeNetworkShare\CompanyName.AppName.appinstaller"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b59ed2d-1535-135c-bdaf-95dd93a3ef6b
* Version Independent ID: 6dcca508-5e35-5cb4-942b-22a20dbb1a4d
* C

[2019-07-02 14:54] e0i commented on #1158
@officedocsbot assign @e0i

[2019-07-02 16:36] #1098 closed

[2019-07-02 16:37] #1102 closed

[2019-07-02 16:40] #1090 closed

[2019-07-02 17:47] martintoreilly opened #1159 "Thumbprint parameter for Set-RDCertificate not supported in Windows 2016 Datacenter"
This is the documentation for Windows 10 and Windows Server 2016 PowerShell and states that certificates can be referenced using the `Thumbprint` parameter when using `Set-RDCertificate`. However, when I try this on Windows 2016 Datacenter I get an error that the `Thumbprint` parameter cannot be found.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2019-07-03 14:10] e0i commented on #962
@tdimli

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-07-03 14:10] e0i commented on #962
@officedocsbot close

[2019-07-03 14:10] #962 closed

[2019-07-03 14:11] e0i commented on #1120
@dmraymond

With the help of your feedback, the issue has been reviewed and an update to the documentation has been published. Thanks for your feedback.

[2019-07-03 14:11] e0i commented on #1120
@officedocsbot close

[2019-07-03 14:11] #1120 closed

[2019-07-03 15:56] e0i commented on #1159
@officedocsbot assign @e0i

[2019-07-03 15:58] e0i commented on #741
@officedocsbot close

[2019-07-03 15:58] #741 closed

[2019-07-03 15:58] e0i commented on #756
@officedocsbot close

[2019-07-03 15:58] #756 closed

[2019-07-03 16:01] e0i commented on #919
@theoamaya The issue is being closed since there is no further clarification regarding the subject of the issue.

[2019-07-03 16:01] e0i commented on #919
@officedocsbot close

[2019-07-03 16:01] #919 closed

[2019-07-03 16:02] e0i commented on #920
@officedocsbot close

[2019-07-03 16:02] #920 closed

[2019-07-03 16:02] e0i commented on #925
@officedocsbot close

[2019-07-03 16:02] #925 closed

[2019-07-03 16:05] e0i commented on #1124
@RAJU2529 All Open Source contributions are welcome as long as the updates are relevant, and in accordance with contribution guidelines.

The issue is being closed as it does not relate to a documentation problem.

Please do note that the issues section of this repository is intended for product documentation issues only.

Good day.

[2019-07-03 16:05] e0i commented on #1124
@officedocsbot close

[2019-07-03 16:06] #1124 closed

[2019-07-03 16:06] e0i commented on #1125
@officedocsbot close

[2019-07-03 16:06] #1125 closed

[2019-07-03 16:08] e0i commented on #1127
@officedocsbot close

[2019-07-03 16:08] #1127 closed

[2019-07-03 16:08] e0i commented on #1132
@officedocsbot close

[2019-07-03 16:08] #1132 closed

[2019-07-03 16:10] e0i commented on #471
@nschonni

The documentation is currently being progressively updated to address the group of articles involved with this issue.

Thank you for bringing this to attention.

[2019-07-03 16:10] e0i commented on #471
@officedocsbot close

[2019-07-03 16:13] e0i commented on #794
@nschonni This issue has been noted and relevant updates are being made progressively. Thank you for bringing this to attention.

[2019-07-03 16:13] e0i commented on #794
@officedocsbot close

[2019-07-03 16:13] #794 closed

[2019-07-03 16:14] e0i commented on #798
@nschonni

The Markdown link formatting issue has been noted and the repository is being updated accordingly to address the issue.

Thank you for bringing this to attention.

[2019-07-03 16:14] e0i commented on #798
@officedocsbot close

[2019-07-03 16:15] nschonni commented on #471
Since there are still 300+ affected files, should this be closed before the work is done?

[2019-07-03 16:16] nschonni commented on #798
I think there is something wrong with your bot setup, since it keeps on closing issues as soon as you comment, then reopening when anyone else comments

[2019-07-03 17:28] sdubrick commented on #315
Hi, this is still wrong on https://docs.microsoft.com/en-us/powershell/module/hyper-v/import-vm?view=win10-ps, the Server 2016 page incorrectly shows the old XML format

[2019-07-03 18:46] get-itips commented on #315
Hello @sdubrick currently there is a general issue with this repo where the PRs delay on being reflected. The team is working on that. We Will close again this issue. Thanks.

[2019-07-04 20:20] science opened #1161 "Small typo in code sample"
[Enter feedback here]
In the code sample line on this (otherwise very helpful) page:
[code]
Has a typo - variable `$dnsClinet1` should obviously be `$dnsClient1`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c610a9c1-3ee6-a826-2e55-c66ce738c5ee
* Version Independent ID: e35e01f4-d5b1-9f72-8fce-b1c381aaa606
* Content:

[2019-07-05 23:19] get-itips commented on #413
Hello @tommymaynard thanks for your feedback, As I could also verify, they are actually functions, I will propose a change in the article and see if it gets approved, because I still have some doubts, besides being 100% accurate, what the authors wants in this case.
Thank you

[2019-07-05 23:47] get-itips commented on #240
Hello @brianlic-msft can you help us with this? thank you!

[2019-07-05 23:50] get-itips commented on #333
Hello @AndreaBarr  any updates on this? Thanks

[2019-07-05 23:52] get-itips commented on #222
Hello @AndreaBarr can you help us finding the right person to ask this? Thanks

[2019-07-07 17:40] imamkhaira opened #1163 "Typo in description"
Typo in https://docs.microsoft.com/en-us/powershell/module/hyper-v/add-vmremotefx3dvideoadapter?view=win10-ps#description

it should be RemoteFX, not RemovteFX

[2019-07-08 09:21] ivdlinden opened #1164 "examples switched"
examples 1 and 2 are switched !!!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a68cbbe-49f9-58ad-c419-78841128daa7
* Version Independent ID: aa6843d9-05cd-63df-cfb4-b3d8f3289e30
* Content: [Publish-AppvClientPackage (appvclient)](https://docs.microsoft.com/en-us/powershell/module/appvclient/publish-appvclientpackage

[2019-07-08 14:28] e0i commented on #1164
@officedocsbot assign @e0i

[2019-07-08 14:29] e0i commented on #1163
@officedocsbot assign @e0i

[2019-07-08 14:29] e0i commented on #1161
@officedocsbot assign @e0i

[2019-07-09 12:02] AliveDevil opened #1169 "SignTool not working with New-SelfSignedCertificate"
SignTool will always get stuck on "After Private Key filter, 0 certs were left..

Output is
[code]

Following certificate is not working with SignTool:
[code]
Following certificate works with SignTool:
[code]

This way SignTool is invoked:
[code]

Please clarify `CodeSign`-usage of `New-SelfSignedCertificate` with `SignTool`.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-07-09 14:28] VLG17 commented on #754
@andrewwillett Could you please provide the exact cmdlet that you are running and also some details about the infrastructure?

According to the documentation, the prerequisite for specifying multiple ranges is to have a cluster with multiple nodes (and for each node you specify a certain range). Is this true in your case?

[2019-07-09 14:32] andrewwillett commented on #754
It looks like you're right in terms of documentation, this behaviour isn't intuitive however.

[2019-07-09 14:32] #754 closed

[2019-07-09 17:37] jzabroski opened #1170 "PowerShell Docs not syncing to website"
@e0i  Interesting problem I just discovered:

![image](https://user-images.githubusercontent.com/447485/60910182-0fef4a80-a24e-11e9-956c-0568e26fc866.png)

However, if you go to the associated markdown page for the Format-Volume cmdlet, you will see the documentation is correct:

https://docs.microsoft.com/en-us/powershell/module/storage/format-volume?view=win10-ps (WRONG)

https://raw.githubuserc

[2019-07-09 18:28] #1131 closed

[2019-07-09 21:05] AndreaBarr commented on #222
@get-itips I'm still working on figuring out who can help us on this.

[2019-07-09 21:07] AndreaBarr commented on #333
@get-itips  I'm still working on figuring out who can help us on this.

[2019-07-10 12:26] get-itips commented on #333
Thank you @AndreaBarr

[2019-07-10 23:28] TiloGit opened #1171 "how to import from other store (like My)"
tried this but doesn't work:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c694289c-79f5-03cd-38aa-5d2ec76988bd
* Version Independent ID: 0a5a5227-c7da-d308-9fca-857b49f6cf7c
* Content: [Import-Certificate (pkiclient)](https://docs.microsoft.com/en-us/powershell/module/pkiclient/import-certificate?view=win10-ps

[2019-07-10 23:31] TiloGit commented on #1171
this works but requires an export first:

[code]

[2019-07-11 15:13] yogkumgit commented on #209
@get-itips  Thank you very much for the contribution and sharing this explanation. @breyed
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-07-11 15:13] yogkumgit commented on #209
@officedocsbot close

[2019-07-11 15:13] #209 closed

[2019-07-12 18:58] e0i commented on #1171
@officedocsbot assign @e0i

[2019-07-12 18:58] e0i commented on #1170
@officedocsbot assign @e0i

[2019-07-12 18:58] e0i commented on #1169
@officedocsbot assign @e0i

[2019-07-14 10:48] skycommand opened #1174 "Parameter missing: Recipe"
This command (Add-WindowsCapability) accepts a `-Recipe` parameter too, but this parameter is not documented here.

![Screenshot](https://user-images.githubusercontent.com/17097175/61182614-3f85c480-a64b-11e9-9245-7110a4162b52.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70a11a3f-a432-fd7e-d05e-8b80e891b3af
* Ve

[2019-07-15 14:18] e0i commented on #1174
@officedocsbot assign @e0i

[2019-07-15 14:26] e0i commented on #1171
@TiloGit

The issues section of this repository is intended for documentation problems.

Please consider checking any relevant resources and asking the community about your problem via the following link.

[PowerShell Community](https://docs.microsoft.com/powershell/#pivot=main&panel=community)

Also feel free to reply if there is anything else that could be done to improve the document itself.

T

[2019-07-15 17:52] mchaudoir opened #1175 "unreliable"
does anyone use Get-GPPrefRegistryValue?  I have found the command to be unreliable

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ccebfc52-6153-93ac-5d5b-f83e83c03d08
* Version Independent ID: 274176d0-a2c7-0baf-12c7-9ce3c27dc0a6
* Content: [Get-GPPrefRegistryValue (grouppolicy)](https://docs.microsoft.com/en-us/power

[2019-07-16 15:54] #905 closed

[2019-07-16 16:39] sowjanya365 commented on #1149
Hi @alexfreu

Thanks for reaching out!

We don't find anywhere on the document mentioning this - RecordData "[0][10][1234][1.1.1.1.]"

We only found this example.

PS C:\> Remove-DnsServerResourceRecord -ZoneName "contoso.com" -RRType "A" -Name "Host01" -RecordData "10.17.1.41"

Please elaborate more and help us to understand your query. Thank you.

[2019-07-16 16:46] sowjanya365 commented on #1126
Hi @rafalfitt

Thank you for reaching out!

We don't see a parameter mapped to this command. Are you saying. we need to add this parameter? Kindly elaborate more and help us understand your query.

Thank you.

[2019-07-16 16:50] alexfreu commented on #1149
This doesn't work either - especially if you want to filter for the port as well. Just try it out yourself.
AF.

Am 16.07.2019 18:40 schrieb sowjanya365 <notifications@github.com>:

Hi @alexfreu<https://github.com/alexfreu>

Thanks for reaching out!

We don't find anywhere on the document mentioning this - RecordData "[0][10][1234][1.1.1.1.]"

We only found this example.

PS C:> Remove-DnsServerRe

[2019-07-16 17:21] sowjanya365 commented on #1149
Hi @alexfreu

Thank you for the prompt response.

Yes, we don't see any issue with the command. Kindly let us know the error that you get. It helps us to understand the issue. Thank you.

[2019-07-16 17:44] alexfreu commented on #1149
PS C:\Windows\system32>>  get-DnsServerResourceRecord -RRType SRV -ZoneName "sub.domain.local"

HostName                  RecordType Type       Timestamp            TimeToLive      RecordData

--------                  ---------- ----       ---------            ----------      ----------

_foo._tcp                 SRV        33         0                    01:00:00        [0][10][2380][8.8.4.4.]

[2019-07-16 17:54] sowjanya365 commented on #907
Hi @schittli

Thank you for reaching out!

Saved state, in a virtualization context, is a way to store the current state of a virtual machine i.e, Open programs, cache etc. So all the open programs, system cache and temp files on disk gets deleted.

Hope this clarifies your query. Kindly confirm. Thank you.

[2019-07-16 18:12] sowjanya365 commented on #1149
Hi @alexfreu

Thank you. Considering the nature of the issue, it is advised that please open a service ticket in your tenant and follow with them for the resolution. If you wish to know how to open the service ticket, please follow this link:
https://docs.microsoft.com/office365/admin/contact-support-for-business-products

We will be very happy if you can share the outcome or resolution with us. W

[2019-07-16 18:52] alexfreu commented on #1149
Why should I open a ticket? I already have a solution.

[2019-07-16 18:58] sowjanya365 commented on #1149
Sure, Can you explain where and what exactly needs to be changed? Thank you.

[2019-07-16 22:36] TiloGit commented on #1171
this was an ask to expand your examples of this documentation page for the case I listed.

[2019-07-17 09:15] sowjanya365 commented on #1119
Hi @Nothing4You

Thank you for reaching out!

Yes, document has been updated with the notes section.

https://docs.microsoft.com/en-us/powershell/module/activedirectory/remove-adprincipalgroupmembership?view=winserver2012-ps#notes

By default, this cmdlet has the -Confirm parameter set, which prompts you to confirm before a removal of the specified object type can occur. To bypass prompting for co

[2019-07-17 09:18] sowjanya365 commented on #1093
Hi @e0i

This issue can be closed. Thank you.

[2019-07-17 09:26] Nothing4You commented on #1119
Hi @sowjanya365, thanks for your response.
That note should not be needed if the parameter documentation gets corrected here: https://github.com/MicrosoftDocs/windows-powershell-docs/blob/master/docset/winserver2012-ps/activedirectory/Remove-ADPrincipalGroupMembership.md#-confirm
The `Default value` should be `True` from my understanding.

[2019-07-17 09:35] sowjanya365 commented on #1119
Hi @Nothing4You

Thanks for your inputs. We've updated the document now. Once the PR gets merged, we will be able to see the changes.

[2019-07-17 10:22] Chaza218 opened #1182 "No information"
This page provides basically no info on this module

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c804bfda-7e6a-8324-f2f0-2c01e87f3119
* Version Independent ID: 9c1a0ffa-a59e-501c-9ab0-21cf6261892f
* Content: [RemoteDesktopServices](https://docs.microsoft.com/en-us/powershell/module/remotedesktopservices/?view=win10-p

[2019-07-17 10:29] rafalfitt commented on #1126
Probably yes.
Powershell on my fully patched Windows 1903 shows such parameter:
![2019-07-17 122800](https://user-images.githubusercontent.com/36852431/61368568-70a20700-a88e-11e9-8d54-ba86afe5486a.png)

[2019-07-17 13:38] e0i commented on #1182
@officedocsbot assign @e0i

[2019-07-17 13:38] e0i commented on #1175
@officedocsbot assign @e0i

[2019-07-17 17:48] TheGhost2804 commented on #475
err... this is still not resolved! Please fix it!

[2019-07-17 18:53] get-itips commented on #475
Hello @TheGhost2804 the article is fixed, althought there is currently an issue with the repo being out of sync with the published version of articles (@kenwith any updates on this?), the team is working on it, if you want to see the fix you can take a look at the referenced pull request.
@yogkumgit please close this again.

[2019-07-17 21:40] e0i commented on #449
@incaweber

It seems that this issue has already been addressed with the following commit.

[[e166f78 ] Update remove-adgroupmember.md ](https://github.com/MicrosoftDocs/windows-powershell-docs/commit/e166f783d361af44451a7314f2216e775d9e47a9#diff-ae58daa25988405d2abbbc5fcb481ad0)

We are thus closing this issue since it seems to be resolved. Feel free to re-open it if you feel it hasn't been resol

[2019-07-17 21:40] e0i commented on #449
@officedocsbot close

[2019-07-17 21:40] #449 closed

[2019-07-17 22:37] e0i commented on #1174
Hello, @skycommand

The `-Recipe` parameter has been introduced in Server 2019, which is not currently supported and the current documentation covers up to version 2016.

Thank you for providing feedback.

[2019-07-17 22:37] e0i commented on #1174
@officedocsbot close

[2019-07-17 22:37] #1174 closed

[2019-07-18 00:39] wjk opened #1184 "Note that downloading the module is required"
What the title says, mostly. This module must be downloaded from PSGallery before it can be used. I would appreciate it if this fact was stated on this page, as I thought this module was built into Windows like (most of) the other modules in this part of the Module Browser. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2019-07-18 00:45] e0i commented on #523
@rodsaw11

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-07-18 00:45] e0i commented on #523
@officedocsbot close

[2019-07-18 00:45] #523 closed

[2019-07-18 05:26] fowl2 opened #1186 "New-ScheduledTaskSettingsSet - What is a NetworkId?"
This article says we can pass a '`Network ID`', but doesn't say what that is or where we could get one from.

It'd be awesome if something explaining this could be added. =)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 01873db6-65ca-a11d-442d-0836caca5d8e
* Version Independent ID: a1c11fee-27d9-0267-5a7a-6e0acca5d306

[2019-07-18 10:07] megamih commented on #573
Hi @anwarmahmood1 and @yerttle ,
Hope [this](https://systemcenter.wiki/?GetElement=Microsoft.WindowsDefender.ProtectedServer.MalwareActivity.GetInfectionStatusWmiProbeType&Type=ProbeActionModuleType&ManagementPack=Microsoft.WindowsDefender&Version=7.1.10128.1) can shed some light:

[code]

[2019-07-18 14:19] e0i commented on #1128
@pgorod

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-07-18 14:20] e0i commented on #1128
@officedocsbot close

[2019-07-18 14:20] #1128 closed

[2019-07-18 17:25] jszabo98 commented on #180
The  Backus-Naur form in the docs for -filter is wrong, and should be removed.  -Filter is a string, not a scriptblock.

[2019-07-18 17:27] e0i commented on #1126
Hello, @rafalfitt

The `-Version` has been introduced in Server 2019, which is not currently supported and the current documentation only covers only the following:

- Windows 10 and Windows Server 2016 PowerShell
- Windows 8 and Windows Server 2012 PowerShell
- Windows 8.1 and Windows Server 2012 R2 PowerShell

Thank you for providing feedback.

[2019-07-18 17:27] e0i commented on #1126
@officedocsbot close

[2019-07-18 17:32] e0i commented on #1186
@officedocsbot assign @e0i

[2019-07-18 17:32] e0i commented on #1184
@officedocsbot assign @e0i

[2019-07-18 22:48] Vaccano opened #1188 "Trusted Root example"
An example showing how to import to the Trusted Root that is not user specific would be useful.  (The current root example is only for the current user.)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c694289c-79f5-03cd-38aa-5d2ec76988bd
* Version Independent ID: 0a5a5227-c7da-d308-9fca-857b49f6cf7c
* Content: [Import-

[2019-07-19 11:57] velkovb commented on #908
@schittli Hi Tom,

Thank you for trying to make MicrosoftDocs better place.

Saving the state of a Virtual Machine is similiar to hibernating a physical computer. The contents of the memory is written do disk - [Save-VM](https://docs.microsoft.com/en-us/powershell/module/hyper-v/Save-VM?view=win10-ps).
Regarding the Checkpoints, if you make a checkpoint on a running VM it will have saved state bec

[2019-07-19 12:03] velkovb commented on #944
@CW-Nyobi Hello,
Thank you for your trying to impove MicrosoftDocs.

I will work on fixing the first part of your issue. Regarding the second one, Set-NetAdapterAdvancedProperty is used to modify existing properties. If you would like to set (create) registry values you can try - [New-NetAdapterAdvancedProperty](https://docs.microsoft.com/en-us/powershell/module/netadapter/new-netadapteradvancedpr

[2019-07-19 13:46] fatherjack opened #1193 "syntax correction"
Example 3 references a non-existent function **Get-FirewallRule** when it should reference the topic of this page **Get-NetFirewallRule**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca016e79-1b11-8004-99aa-362cf6c082e9
* Version Independent ID: 2c7f3269-445e-b9dd-a382-5f64f44ab770
* Content: [Get-NetFirewallPortFilt

[2019-07-19 17:23] e0i commented on #876
@cfalta

With the help of your feedback, the content has been updated with relevant changes accordingly. Thanks.

[2019-07-19 17:23] e0i commented on #876
@officedocsbot close

[2019-07-19 17:23] #876 closed

[2019-07-19 17:23] e0i commented on #1106
@codaamok

With the help of your feedback, the content has been updated with relevant changes accordingly. Thanks.

[2019-07-19 17:23] e0i commented on #1106
@officedocsbot close

[2019-07-19 17:23] #1106 closed

[2019-07-19 19:44] e0i commented on #1193
@officedocsbot assign @e0i

[2019-07-19 19:44] e0i commented on #1188
@officedocsbot assign @e0i

[2019-07-19 20:00] e0i commented on #1175
@mchaudoir

The issues section of this repository is intended for documentation problems.

Please consider checking any relevant resources and asking the community about your question via the following link.

[PowerShell Community](https://docs.microsoft.com/powershell/#pivot=main&panel=community)

Also feel free to reply if there is anything else that could be done to improve the document itself.

[2019-07-21 03:41] rewritten1 opened #1194 "-DestinationName parameter is not respected in Windows 10 1809 build 17763.557"
I tried using Export-WindowsImage and everything except the -DestinationName parameter is respected when the command is run. -DestinationName ends up being the name of the image you are exporting from instead of the one manually specified. Using Dism.exe to export the image with desired DestinationName does not have this problem.

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2019-07-22 21:42] e0i commented on #904
@AndresPae

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-07-22 21:42] e0i commented on #904
@officedocsbot close

[2019-07-22 21:42] #904 closed

[2019-07-23 08:49] mossywell opened #1198 "Missing asterisk?"
Should this line:
Note: Windows PowerShell wildcards other than , such as ?, are not supported by the *Filter syntax.
Say this:
Note: Windows PowerShell wildcards other than *, such as ?, are not supported by the *Filter syntax.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a11d541-b67b-d5e4-6ca3-05db321746cd
* Versi

[2019-07-23 21:04] #944 closed

[2019-07-23 21:34] e0i commented on #874
@ivassallo19

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-07-23 21:34] e0i commented on #874
@officedocsbot close

[2019-07-23 21:34] #874 closed

[2019-07-23 21:59] e0i commented on #1115
@MooreSys In our investigation it has been found that there might be version incompatibilities for this cmdlet between the version you are running and of documentation.

Would you be able to clarify which Windows version you have been running for that cmdlet?

Thanks in advance.

[2019-07-23 22:38] #447 closed

[2019-07-23 23:34] e0i commented on #1198
@officedocsbot assign @e0i

[2019-07-23 23:34] e0i commented on #1194
@officedocsbot assign @e0i

[2019-07-24 00:42] spazmodius commented on #518
So, when will these updates be reflected on `docs.microsoft.com`?

[2019-07-24 14:05] e0i commented on #1123
@v-stsech

With the help of your feedback, the content has been updated with relevant changes accordingly. Thanks.

[2019-07-24 14:06] e0i commented on #1123
@officedocsbot close

[2019-07-24 14:06] #1123 closed

[2019-07-24 17:14] e0i commented on #1119
@Nothing4You

With the help of your feedback, the content has been updated with relevant changes accordingly. Thanks.

[2019-07-24 17:14] e0i commented on #1119
@officedocsbot close

[2019-07-24 17:14] #1119 closed

[2019-07-25 08:55] lihas opened #1202 "Link broken"
Configurable Language and Cultural Settings

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2bb150e-210b-eb88-6855-3ac7f6d02edf
* Version Independent ID: fa4119ca-f762-62cc-8421-d4673035c76e
* Content: [Get-WinSystemLocale (international)](https://docs.microsoft.com/en-us/powershell/module/international/get-winsystemlo

[2019-07-25 16:26] curspice commented on #450
This bit me in the ass really good yesterday and today.  This really needs to be fixed.

[2019-07-25 21:08] e0i commented on #1115
@MooreSys Following up.

[2019-07-25 22:53] e0i commented on #908
Hello @schittli  ,

We are closing this issue since your question seems to be answered. Feel free to re-open this issue if you still feel it hasn't been answered.

Thanks.

[2019-07-25 22:54] e0i commented on #908
@officedocsbot close

[2019-07-25 22:54] #908 closed

[2019-07-27 18:43] Alex-Brooks opened #1207 "Missing parameters"
Using Set-MpPreference on the latest version of Windows provides more parameters than are documented here.

The list of parameters missing from this page is:

EnableFileHashComputation
EnableLowCpuPriority
RealTimeScanDirection
CloudExtendedTimeout
CloudBlockLevel
EnableNetworkProtection
EnableControlledFolderAccess
AttackSurfaceReductionRules_Ids
AttackSurfaceReductionRules_Actions

There may be

[2019-07-27 19:36] e0i commented on #305
Hello @jordanmills

In our investigation we have been able to reproduce the issue as a bug. The issue is being escalated as a bug.

Thank you for your valuable input.

[2019-07-27 19:36] e0i commented on #305
@officedocsbot close

[2019-07-28 23:01] danijeljw opened #1208 "Example 5 Formatting"
The second line of Example 5 is formatted incorrectly. It's a string and should be explicitly passed through like one of these two lines:
[code]
The third line should be formatted the same as all your other documentation too. The pipe control should have a space following it on the line. From this:
[code]
to this:
[code]
This keeps it uniform and easy for the user to read. It also matches the firs

[2019-07-28 23:14] danijeljw opened #1209 "-SizeBytes Switch cannot interpret MB,GB values"
The `-SizeBytes` values in each example cannot interpret the text being provided.

It needs to be converted to type `[UInt64]`. Also the math involved can be counted in-line. These examples do not support a user being able to apply them to real-world scenarios. It needs to be explained that a GB is 1024 MB, which is 1024 KB which is 1024 Bytes.

So for **Example 5**,  the line that reads:
[code]
S

[2019-07-29 09:30] dennisl68-castra opened #1210 "Error in NetConnectionResult"
The text refers to three parameters but one of them isn’t possible to specify.
The -ICMP parameter doesn’t exist (but it should really be implemented).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b964ddae-3304-7413-57be-19ae13a2af08
* Version Independent ID: 2a976f70-cc7b-cf2c-341b-ba1612744f13
* Content: [Test-NetC

[2019-07-29 16:08] Midacts commented on #523
This might not be the best place to ask, but is this stating the v2 of the AzureAD PowerShell module can replace the MSOL PowerShell module?

[2019-07-29 21:12] e0i commented on #1115
@MooreSys

We are closing this issue as there hasn't been a response from your side regarding the details on the issue.

Feel free to re-open this issue by clarifying the problematic document and we'd be glad to come up with content updates.

Thank you for providing feedback.

[2019-07-29 21:12] e0i commented on #1115
@officedocsbot close

[2019-07-29 21:12] #1115 closed

[2019-07-30 07:04] SergeGrd commented on #759
This article is wrong when saying "The Virtual Machines folder contains the configuration XML of the specified virtual machine"
Question : For how long time don't we use XML files anymore in Hyper-V

[2019-07-30 07:08] SergeGrd opened #1212 "Wrong documenation"
This article is speaking about Import-VM for Windows 10/Windows 2016 host, mentioning XML files.
Hyper-V doesn't use XML file for configurations in Windows 10 & Windows 2016.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42fa5406-e41f-9941-9bc4-3c305f9135af
* Version Independent ID: 3274511d-d9d5-6397-f168-db8918a4beb

[2019-07-30 14:38] e0i commented on #907
Hello @schittli  ,

We are closing this issue since your support question seems to be answered. Feel free to re-open this issue if you still experience problems.

Thanks.

[2019-07-30 14:38] e0i commented on #907
@officedocsbot close

[2019-07-30 14:38] #907 closed

[2019-07-30 14:52] e0i commented on #1093
@officedocsbot close

[2019-07-30 15:31] e0i commented on #1212
@officedocsbot assign @e0i

[2019-07-30 15:31] e0i commented on #1210
@officedocsbot assign @e0i

[2019-07-30 15:31] e0i commented on #1209
@officedocsbot assign @e0i

[2019-07-30 15:31] e0i commented on #1208
@officedocsbot assign @e0i

[2019-07-30 15:31] e0i commented on #1202
@officedocsbot assign @e0i

[2019-07-30 15:34] e0i commented on #1175
@officedocsbot close

[2019-07-30 15:34] #1175 closed

[2019-07-30 19:47] e0i commented on #1169
@AliveDevil

The issues section of this repository is intended for documentation problems.

Please consider checking any relevant resources and asking the community about your problem via the following link.

[PowerShell Community](https://docs.microsoft.com/powershell/#pivot=main&panel=community)

Also feel free to reply if there is anything else that could be done to improve the document itself.

[2019-07-30 20:03] e0i commented on #1194
@rewritten1

The issues section of this repository is intended for documentation problems.

Please consider checking any relevant resources and asking the community about your problem via the following link.

[PowerShell Community](https://docs.microsoft.com/powershell/#pivot=main&panel=community)

Also feel free to reply if there is anything else that could be done to improve the document itself.

[2019-07-31 08:32] frasercarter opened #1213 "Clarification between Get-DnsClientNrptPolicy and Get-DnsClientNrptRule"
can we please have some clarification on to what the difference is between the Policy and Rule? I have assumed that the Rules are settings configured, while the Policy are rules currently applied?

Or are the rules configured via Intune / CSP while Policy is configured via Group policy.

I am unable to find any clear documentation on this?

---
#### Document Details

⚠ *Do not edit this section. I

[2019-07-31 14:34] vboyev-MSFT opened #1214 "Wouldn't it be lovely to remotely query a machine with get-mpcomputerstatus?"
With a -computer parameter.

Any chance of that ever happening? Or do we have to do a WMI query to get that info remotely?

[2019-08-01 12:11] PrinceMarkieD commented on #247
There is also Add-ProvisioningPackage. I do not know which one should be used. Add-provisioningPacakge works, but has a very strange lagginess at the command line. I have never seen a cmdlet behave that way. Tab completion takes several seconds. Install-ProvisioningPackage does not behave that way. I wonder if it means one the 2 commands should not be used.

[2019-08-01 17:20] e0i commented on #1214
@officedocsbot assign @e0i

[2019-08-01 17:21] e0i commented on #1214
@vboyev-MSFT

Somehow your issue has been opened without being associated to a documentation topic.

Could you clarify which documentation you're referring to? A link would be helpful.

Thanks.

[2019-08-01 17:21] e0i commented on #1213
@officedocsbot assign @e0i

[2019-08-01 20:58] e0i commented on #1170
Under investigation.

[2019-08-01 20:58] e0i commented on #983
Under investigation.

[2019-08-02 19:12] Gatorz4eva commented on #330
This documentation, Example 2, still reads "-FullFormat" instead of "-Full". -FullFormat in incorrect.

[2019-08-02 19:33] skycommand commented on #330
It's been corrected here on GitHub but it is not being pushed to docs.microsoft.com or PowerShell help. When Microsoft does this kind of stuff to a product, it is usually a sign that the product is getting the ax.

[2019-08-02 20:42] get-itips commented on #240
Hello @AndreaBarr can you help us locating the right people to confirm this ? Thank you

[2019-08-02 20:44] get-itips commented on #247
Hello @AndreaBarr can you help us locating the right people to ask here ? Thanks

[2019-08-02 20:45] get-itips commented on #481
Hello @AndreaBarr can you help us finding the right people here? Thanks

[2019-08-02 20:46] get-itips commented on #545
Hello @AndreaBarr can you help us finding the right people to ask here? Thanks

[2019-08-02 21:58] get-itips commented on #731
Hello @AndreaBarr can you help us finding the right person? Thanks

[2019-08-04 02:35] tlsalex opened #1216 "what does the @ mean in the output of show-dnsservercache"
I want to know what does the @ mean in the output of show-dnsservercache

In linux dns configuration file , the @ , usually means the domain name that the configuration file is created for.

But I feel confuse here in windows show-dnsservercache.

[2019-08-04 15:13] TBBle opened #1217 "Formatting of -Mode options is hard to read"
The various options for `-Mode` run together into a single paragraph. I suspect the `--` is actually supposed to be an unordered list marker.

Was this a missed conversion from another documentation format?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a37cff7-cc5c-0de2-e84e-a2c56cde57cc
* Version Independent ID: 6c8

[2019-08-05 01:51] sukihanabi commented on #1118
Hello, @NeoBeum There isn't a dedicated repo for the said cmdlet in DISM but these cmdlet is included within the Windows PowerShell repository.

https://github.com/MicrosoftDocs/windows-powershell-docs/blob/master/docset/windows/dism/repair-windowsimage.md
https://github.com/MicrosoftDocs/windows-powershell-docs/blob/master/docset/windows/dism/optimize-windowsimage.md

Would you please verify that

[2019-08-05 04:58] NeoBeum commented on #1118
@sukihanabi

There's currently a bug with a few of the cmdlets when using -LogPath
Wimgapi is invoked, and the log finishes there.

I'll add a detailed report when I am able to review what you have sent to me at home later.

[2019-08-05 16:41] e0i commented on #1217
@officedocsbot assign @e0i

[2019-08-05 18:00] e0i commented on #1216
@officedocsbot assign @e0i

[2019-08-05 18:00] e0i commented on #1216
@tlsalex

Somehow your issue has been opened without being associated to a documentation topic.

Could you clarify which documentation you're referring to? A link would be helpful.

Thanks.

[2019-08-05 18:11] e0i commented on #1214
@vboyev-MSFT

Your feedback has been noted to be shared with the product team. Thank you for your feedback.

[2019-08-05 18:11] e0i commented on #1214
@officedocsbot close

[2019-08-05 18:11] #1214 closed

[2019-08-05 18:17] e0i commented on #1171
@TiloGit

The issue has been noted and the document will be revised in the light of your feedback.

Thank you for providing clarifications.

[2019-08-05 19:27] SeanQuinlan opened #1219 "Incorrect information under Identity parameter"
OrganizationalUnits have no SAMAccountName and no ObjectSID, so both those options for Identity are not applicable to OUs. I couldn't find any other properties that matched, but DN and GUID both worked, so I suspect those are the only 2 valid Identity values.

The same comments apply to Get-ADOrganizationalUnit as well, although the issue has been corrected in Set-OrganizationalUnit, so may be a g

[2019-08-05 21:11] #1217 closed

[2019-08-06 03:36] darthwalsh opened #1220 "Documentation links should all be HTTPS instead of HTTP"
Nearly all ([FWLink grep here](https://sourcegraph.com/search?q=repo:%5Egithub%5C.com/MicrosoftDocs/windows-powershell-docs%24+%22http://go.microsoft.com/fwlink%22+count:4014)) of the links in this repo are HTTP links. This is 2019 -- all the links should be HTTPS. (The example contoso.com URLs probably don't need to change, but might be easier to just update all of them too unless unsecure links

[2019-08-06 13:36] mikemol opened #1221 "-LogAllowed, -LogBlocked, -LogIgnored documentation is confusing"
The first block explaining the settings is clear enough, but when you get to the descriptions of the "True", "False", "NotConfigured" settings, it looks like the "-LogBlocked" docs were copied and pasted.

"-LogAllowed" says:

&gt; True: Windows writes an entry to the log whenever an incoming or outgoing connection is prevented by the policy.
&gt; False: No logging for dropped connections. This pa

[2019-08-06 13:40] mikemol commented on #1221
Specifically, this is the confusing line in question: https://github.com/MicrosoftDocs/windows-powershell-docs/blame/6e8dc10a6e50d4fa642c6b81f93ae050bd9205e3/docset/windows/netsecurity/set-netfirewallprofile.md#L491

[2019-08-06 16:54] get-itips commented on #731
Hello @amaiman thanks for your feedback, I can confirm that a bug has already been filed to the product team on this. @AndreaBarr

[2019-08-06 17:25] get-itips commented on #481
Hello @wangkanai thanks for your feedback.
After investigating this, I could find that these cmdlets have been deprecated and they do not have to be used anymore.
I created a pull request to add this info to the cmdlet's documentation.
Hope this info helps you. Thanks!

[2019-08-06 20:12] Rich-Lang opened #1223 "Example does not properly demonstrate command"
1) The sample has formatting issues.
2) If you run the commands in the sample, it will not produce the results shown.   Not clear if this is just outdated or sample expects some external configuration change.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0d5ae0d-56da-7ea2-4628-00727dc340d8
* Version Independent ID: 1

[2019-08-06 21:13] Rich-Lang opened #1224 "Example 2 is misleading"
The second example has a bizarre output.  The default output should be as follows.

An error occurred on the server when processing the URL. Please contact the system administrator. &lt;p/&gt; If you are the system administrator please click &lt;a href="https://g
o.microsoft.com/fwlink/?LinkID=82731"&gt;here&lt;/a&gt; to find out more about this error.

---
#### Document Details

⚠ *Do not edit th

[2019-08-07 18:09] andrewwillett opened #1225 "PassThru parameter removed from cmdlet"
The PassThru parameter has been removed from this cmdlet but still appears in the documentation This regression has also broken relying scripts and modules (e.g. Convert-WindowsImage). Tested on Windows 10 version 1903 build 18362.239.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0ebde91-6b01-ed15-2c9f-c0427b9fac9b

[2019-08-07 23:44] yanxiaodi opened #1226 "It seems like this page links a wrong target?"
When I click `remove-appxpackage` link in the left menu, it shows `Move-AppxPackage`? Is it wrong?
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36f43873-0e34-6ec2-8bde-479945d49ed9
* Version Independent ID: 914c97a9-7dc2-6ddd-4756-7ec210db3fe8
* Content: [Move-AppxPackage (appx)](https://docs.microsoft.com/en

[2019-08-08 09:29] ToMakeSense opened #1227 "The function "IIS:" is missing for WebAdministration module"
The function "IIS:" is missing for WebAdministration module

[code]

And there is duplicated "WebAdministration" page index in the end.
![image](https://user-images.githubusercontent.com/6244148/62692387-28948100-ba03-11e9-811e-c2ccb48cf30b.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ccdec2b-7d5a-cbef-014a-226

[2019-08-08 14:18] doah78 opened #1228 "3rd example description"
Example 3 says it disables all users in an OU, I believe this should be Enables?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab398405-7c47-e48a-358c-51d8190b3a57
* Version Independent ID: 35d65237-8fa9-4937-04d4-976018286c3b
* Content: [Enable-ADAccount (activedirectory)](https://docs.microsoft.com/en-us/powershell/

[2019-08-10 03:33] nnpcYvIVl commented on #1226
I have the same problem.

[2019-08-10 08:23] codaamok opened #1230 "-DriveLetter and -AssignDriveLetter"
It appears you cannot use both of the parameters today yet the docs suggest you can. I would expect the first few boxes at the beginning listing the parameters show this: usually this is shown by now having both in the same list.

[2019-08-10 20:16] e0i commented on #964
@AvrumFocus

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-08-10 20:16] e0i commented on #964
@officedocsbot close

[2019-08-10 20:16] #964 closed

[2019-08-12 15:17] e0i commented on #1118
Hello @NeoBeum Please create a separate ticket for the respective cmdlets that fail with -LogPath.

This issue is being closed as @sukihanabi seems to have answered your question.

Feel free to re-open this issue if there is something that you'd like to have added to the associated documentation.

Thank you for taking the time to provide feedback.

[2019-08-12 15:18] e0i commented on #1118
@officedocsbot close

[2019-08-12 15:18] #1118 closed

[2019-08-12 17:49] e0i commented on #1230
@officedocsbot assign @e0i

[2019-08-12 17:49] e0i commented on #1230
@codaamok

Somehow your issue has been opened without being associated to a documentation topic.

Could you clarify which documentation you're referring to? A link would be helpful.

Thanks.

[2019-08-12 17:49] e0i commented on #1228
@officedocsbot assign @e0i

[2019-08-12 17:49] e0i commented on #1227
@officedocsbot assign @e0i

[2019-08-12 17:50] e0i commented on #1225
@officedocsbot assign @e0i

[2019-08-12 17:50] e0i commented on #1224
@officedocsbot assign @e0i

[2019-08-12 17:50] e0i commented on #1223
@officedocsbot assign @e0i

[2019-08-12 17:51] e0i commented on #1221
@officedocsbot assign @e0i

[2019-08-12 17:51] e0i commented on #1220
@officedocsbot assign @e0i

[2019-08-12 17:51] e0i commented on #1220
@-- Somehow your issue has been opened without being associated to a documentation topic.

Could you clarify which documentation you're referring to? A link would be helpful.

Thanks.

[2019-08-12 17:51] e0i commented on #1219
@officedocsbot assign @e0i

[2019-08-12 18:02] e0i commented on #1220
Hello, @darthwalsh

The issue is under investigation and you will be notified with any changes on the way.

Thank you for providing feedback.

[2019-08-12 18:49] e0i commented on #1169
@officedocsbot close

[2019-08-12 18:49] #1169 closed

[2019-08-12 18:50] e0i commented on #1194
@officedocsbot close

[2019-08-12 18:50] #1194 closed

[2019-08-12 20:16] amaiman opened #1231 "-WhatIf parameter does not follow documented behavior"
This documentation states that using the -WhatIf parameter will result in: "The cmdlet is not run."
This is not the observed behavior. The parameter is ignored and the command is executed (which causes test commands to actually change the environment.)

(I'm aware this is supposed to be for documentation issues, not bugs, but technically the documentation is wrong since it doesn't match reality. T

[2019-08-12 20:18] amaiman commented on #731
Thanks for looking into it!  (I unfortunately only thought to come back and check this thread because I have to go report this on a different cmdlet which has the same problem.)  [https://github.com/MicrosoftDocs/windows-powershell-docs/issues/1231]

[2019-08-13 07:18] codaamok commented on #1230
@e0i

Hello!

https://docs.microsoft.com/en-us/powershell/module/storage/new-partition?view=win10-ps

For `New-Partition` cmdlet.

[2019-08-13 18:31] e0i commented on #1231
@officedocsbot assign @e0i

[2019-08-13 20:44] gaelicWizard opened #1234 "Example simply doesn't work"
Enable-NetFirewallRule -Group "@FirewallAPI.dll,-28502" simply doesn't work.

BUT /this/ does work:
Enable-NetFirewallRule -Group "@%SystemRoot%\system32\firewallapi.dll,-28502"

Was this a change in a recent release of Windows? I'm on 1903. Since the second version works, I obviously have the correct feature installed.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2019-08-14 08:16] e0i commented on #495
Hello, @Stroell

The content for Server 2019 is not available and the existing documentation only covers up to Windows Server 2016.

Thank you for providing feedback.

[2019-08-14 09:52] canix1 opened #1235 "Get-ADTrust reporting of 'UsesAESKeys' is broken"
In Module (1.0.1.0) ActiveDirectory the command Get-ADTrust always reports 'UsesAESKeys' as false even though the property msDS-SupportedEncryptionTypes is set to ( AES128_CTS_HMAC_SHA1_96 | AES256_CTS_HMAC_SHA1_96 ) on the trusted domain object.

[2019-08-14 22:53] Beta-Tester99 opened #1237 "Add-PhysicalDisk does NOT honor '-whatif' Option"
Add-PhysicalDisk does NOT honor '-whatif' Option

in testing using this command, the -whatif option was not honored.

can be quite dangerous in production environments.

[2019-08-15 07:54] e0i commented on #1237
@officedocsbot assign @e0i

[2019-08-15 07:54] e0i commented on #1235
@officedocsbot assign @e0i

[2019-08-15 07:54] e0i commented on #1234
@officedocsbot assign @e0i

[2019-08-15 08:50] e0i commented on #1227
Hello, @ToMa

The issue is under investigation and you will be notified with any changes on the way.

Thank you for providing feedback.

[2019-08-15 08:50] e0i commented on #1226
@yanxiaodi

The issue has been noted and the document will be revised in the light of your feedback.

Thank you.

[2019-08-15 08:51] e0i commented on #1225
@andrewwillett

The issue has been noted and the document will be revised in the light of your feedback.

Thank you.

[2019-08-15 08:51] e0i commented on #1221
@mikemol

The issue has been noted and the document will be revised in the light of your feedback.

Thank you.

[2019-08-15 08:51] e0i commented on #1219
Hello, @SeanQuinlan

The issue is under investigation and you will be notified with any changes on the way.

Thank you for providing feedback.

[2019-08-15 08:51] e0i commented on #1216
@tlsalex

The issue has been noted and the document will be revised in the light of your feedback.

Thank you.

[2019-08-15 08:52] e0i commented on #1230
@codaamok

The issue has been noted and the document will be revised in the light of your feedback.

Thank you.

[2019-08-15 08:52] e0i commented on #1231
@amaiman

The issue has been noted and the document will be revised in the light of your feedback.

Thank you.

[2019-08-15 10:27] e0i commented on #1207
Hello, @Alex-Brooks

The issue is under investigation and you will be notified with any changes on the way.

Thank you for providing feedback.

[2019-08-15 10:27] e0i commented on #1193
Hello, @fatherjack

The issue is under investigation and you will be notified with any changes on the way.

Thank you for providing feedback.

[2019-08-15 10:27] e0i commented on #1184
Hello, @wjk

The issue is under investigation and you will be notified with any changes on the way.

Thank you for providing feedback.

[2019-08-15 10:28] e0i commented on #1164
Hello, @ivdlinden

The issue is under investigation and you will be notified with any changes on the way.

Thank you for providing feedback.

[2019-08-15 10:28] e0i commented on #755
Hello, @andrewwillett

The issue is under investigation and you will be notified with any changes on the way.

Thank you for providing feedback.

[2019-08-16 17:51] e0i commented on #495
@officedocsbot close

[2019-08-17 12:55] sowjanya365 commented on #1149
Hello @alexfreu69

Apologies for the delayed response.

Are you referring this change in the following section?

https://docs.microsoft.com/en-us/powershell/module/dnsserver/remove-dnsserverresourcerecord?view=win10-ps#inputs

Please confirm. Thank you.

[2019-08-19 13:31] e0i commented on #998
@officedocsbot assign @

[2019-08-19 13:35] e0i commented on #998
@officedocsbot assign @e0i

[2019-08-19 13:35] e0i commented on #998
@officedocsbot unassign @e0i

[2019-08-19 15:35] msbemba commented on #744
@cnnrshd  Thank you for your feedback. We have created a PR https://github.com/MicrosoftDocs/windows-powershell-docs/pull/1241 to correct the doc.

Thanks
Sri

[2019-08-19 15:38] msbemba commented on #1161
@science Thank you for your feedback. We have corrected the doc and the same can be tracked via PR https://github.com/MicrosoftDocs/windows-powershell-docs/pull/1242

Thanks
Sri

[2019-08-19 15:42] msbemba commented on #1163
@imamkhaira Thank you for your feedback. I was not able to identify the typo in the document. Either it was already fixed or I'm looking at the wrong doc. Can you check and confirm if the URL for the doc is correct https://docs.microsoft.com/en-us/powershell/module/hyper-v/add-vmremotefx3dvideoadapter?view=win10-ps#description ?

[2019-08-19 15:46] msbemba commented on #1198
@mossywell Thank you for your feedback. I dont see the note on the document any more. Either It was removed recently or I'm looking at the wrong document. Can you confirm if the doc is question is  https://docs.microsoft.com/en-us/powershell/module/addsadministration/get-adcomputer?view=win10-ps ?

Thanks
Sri

[2019-08-19 15:55] msbemba commented on #884
@LuigiBruno Thank you for your feedback. That is correct, The get-processmitigation Gets all settings from the registry and saves them to the xml file settings.xml and the same file can be used to set-processmitigation as well.

Hope this helps!

Thanks
Sri

[2019-08-19 16:15] msbemba commented on #1121
@vo5tr0 Thank you for your feedback. We have made changes to the doc via PR https://github.com/MicrosoftDocs/windows-powershell-docs/pull/1243

Thanks
Sri

[2019-08-19 16:34] msbemba commented on #1159
@martintoreilly Thank you for your feedback. Hope you are able to verify the thumbprint in get-rdcertificate cmdlet. If it works, Then I would request you to contact support to understand why the parameter isn't working on your datacenter.

Thanks
Sri

[2019-08-19 17:11] msbemba commented on #1188
@Vaccano Thank you for your feedback. We have added another example which imports the certificate from the file into the root store of the Local Machine. This can be tracked via PR https://github.com/MicrosoftDocs/windows-powershell-docs/pull/1244

Thanks
Sri

[2019-08-19 17:13] msbemba commented on #1209
@danijeljw Thank you for your feedback. We have made changes to the example and it can tracked via PR https://github.com/MicrosoftDocs/windows-powershell-docs/pull/1245

Thanks
Sri

[2019-08-19 17:19] msbemba commented on #1210
@dennisl68-castra Thank you. I see that the document is not updated without the -ICMP parameter.

Hope this helps!

Thanks
Sri

[2019-08-19 17:22] msbemba commented on #1225
@andrewwillett  Thank you for the feedback. We have updated the doc and the same can be tracked via PR https://github.com/MicrosoftDocs/windows-powershell-docs/pull/1246

Thanks
Sri

[2019-08-19 17:37] msbemba commented on #1226
@yanxiaodi Thank you for your feedback. We have made changes to the doc and the same  can be tracked via PR https://github.com/MicrosoftDocs/windows-powershell-docs/pull/1247

Thanks
Sri

[2019-08-19 18:25] msbemba commented on #1231
@amaiman Thank you for the feedback. -what if command is not supposed to execute the cmdlet. I'll see what I can do to let the product team know about this.

Thanks
Sri

[2019-08-19 18:31] msbemba commented on #1116
@danieldjewell Thank you for your feedback. As @gl1xtx mentioned  (get-vpnconnection).ipseccustompolicy should be able to provide you the IPsec configuration.

Thanks
Sri

[2019-08-19 18:45] msbemba commented on #1208
@danijeljw Thank you for your feedback. We have made changes to the doc via PR https://github.com/MicrosoftDocs/windows-powershell-docs/pull/1248

Thanks
Sri

[2019-08-19 18:47] msbemba commented on #1212
@SergeGrd Thank you for your feedback. We have made changes to the document to reflect the correct formar (.vmcx)

Thanks
Sri

[2019-08-19 18:51] msbemba commented on #1219
@SeanQuinlan Thank you for your feedback. We have made changes to the doc to reflect correctly. The same can be tracked via PR https://github.com/MicrosoftDocs/windows-powershell-docs/pull/1249

Thanks
Sri

[2019-08-19 18:56] msbemba commented on #1227
@ToMakeSense Thank you for your feedback. We have removed the duplicate page. Could you elaborate on what changes are required in the document with regards to the function IIS ?

Thanks
Sri

[2019-08-20 05:13] ToMakeSense commented on #1227
@msbemba Hi, the function  "IIS:" is missing from the list [WebAdministration](https://docs.microsoft.com/en-us/powershell/module/webadministration/), and also there should be a separate page to describe the usage of this function just like other cmdlets.

I just happened to find this problem when distinguishing between **Get-WebRequest** and **Invoke-WebRequest**. You could find my little finding

[2019-08-20 16:08] e0i commented on #1163
Hello, @imamkhaira

It seem the issue had already been addressed with the following commit,

[[e840853 ] typo: Removte -&gt; Remote ](https://github.com/MicrosoftDocs/windows-powershell-docs/commit/e840853eb71dd8a49c8116a535f917d1eef74bcb)

Changes can also be observed [live](https://docs.microsoft.com/en-us/powershell/module/hyper-v/add-vmremotefx3dvideoadapter?view=win10-ps#description).

We are

[2019-08-20 16:08] e0i commented on #1163
@officedocsbot close

[2019-08-20 16:08] #1163 closed

[2019-08-20 16:13] e0i commented on #1198
@msbemba It seems both links are equivalent.

[2019-08-20 18:30] e0i commented on #1212
@SergeGrd

It has been found that the issue has already been addressed with the following commit.

[[689ab24 ] Changed xml to newly vcmx format ](https://github.com/MicrosoftDocs/windows-powershell-docs/commit/689ab24dfce50ccf597be547cf5cf0ea421b7081#diff-1093261d95a05b88444b0a724d052d79)

We are thus marking this issue as resolved. Feel free to re-open it if you feel it hasn't been resolved.

Tha

[2019-08-20 18:31] e0i commented on #1212
@officedocsbot close

[2019-08-20 18:31] #1212 closed

[2019-08-20 18:46] e0i commented on #763
@OleksiiKondratiev

The issue has been noted and the document will be revised in the light of your feedback.

Thank you.

[2019-08-20 18:47] e0i commented on #753
Hello, @andrewwillett

The issue is under investigation and you will be notified with any changes on the way.

Thank you for providing feedback.

[2019-08-21 06:59] e0i commented on #998
@officedocsbot assign @e0i

[2019-08-22 13:17] msbemba commented on #1227
@ToMakeSense Thank you for your detailed explanation. The document https://docs.microsoft.com/en-us/powershell/module/webadministration/?view=win10-ps provides cmdlet descriptions and syntax for all Web Administration cmdlets and not functions. Hope this helps!

Thanks
Sri

[2019-08-22 16:46] msbemba commented on #1230
@codaamok  Thank you for your feedback. We have made a few changes to the doc to reflect your feedback via PR https://github.com/MicrosoftDocs/windows-powershell-docs/pull/1253

Thanks
Sri

[2019-08-22 16:56] e0i commented on #1209
@danijeljw

In our investigation it has been [concluded](https://github.com/MicrosoftDocs/windows-powershell-docs/pull/1245#issuecomment-523101480) that no change to the document is necessary.

Thank you for taking the time to provide feedback.

[2019-08-22 16:56] e0i commented on #1209
@officedocsbot close

[2019-08-22 16:56] #1209 closed

[2019-08-22 17:00] e0i commented on #1208
@danijeljw In our investigation it has been [found](https://github.com/MicrosoftDocs/windows-powershell-docs/pull/1248#issuecomment-523106778) that no changes are necessary to the referenced documentation.

Thank you for providing feedback.

[2019-08-22 17:00] e0i commented on #1208
@officedocsbot close

[2019-08-22 17:00] #1208 closed

[2019-08-22 17:07] msbemba commented on #1221
@mikemol Thank you for your feedback. We have made changes to the doc and same can be tracked via PR https://github.com/MicrosoftDocs/windows-powershell-docs/pull/1254

Thanks
Sri

[2019-08-22 17:43] msbemba commented on #914
@eeegs  Thank you for your feedback. The -service parameter is used as a switch to Indicate that the system account for that computer can unlock the encrypted volume. The system account is local to the computer similar to an administrator accounts. The system account is used by the operating system and by services that run under Windows.

Hope this helps!

Thanks
Sri

[2019-08-22 17:57] msbemba commented on #1216
@tlsalex  Thank you for your feedback. @ is the Hostname for the particular record type (it is NS record in the doc). Usually To create a Blank record admins use an @ in the Hostname field. This represents an empty prefix (so the name exactly matches the domain name. The @ hostname is also referred to as the the root of the domain.

Hope this helps!

Thanks
Sri

[2019-08-22 19:40] msbemba commented on #1159
@martintoreilly Thank you for your feedback. The -Thumbprint parameter isn't available in Server 2016.   This parameter specifies the thumbprint of the certificate to use. Currently, it is only available in Windows Server 2019. The same has been added to the description of the parameter.

Hope this helps!

Thanks
Sri

[2019-08-22 20:26] msbemba commented on #1186
@fowl2 Thank you for your feedback. Network ID is identified from the IP address and is the subnet the IP belongs to. Like Network Name, Network ID is a general term and doesn't need explanation in the doc. However, Since you have asked, Ill try to explain

If the IP address is 40.74.250.100 /18 the subnets are

subnet 1 = 40.74.0.0/18
subnet 2 = 40.74.64.0/18
subnet 3 = 40.74.128.0/18
subnet 4 =

[2019-08-23 04:43] ToMakeSense commented on #1227
@msbemba I thought about this before creating this issue,  I listed all the windows poweshell functions my computer(Windows 10) had, and most of them could be found under [Reference list](https://docs.microsoft.com/en-us/powershell/windows/get-started?view=win10-ps), and where could them maintenance individually if the function didn't documented here? so I created this issue.
[code]

[2019-08-23 07:03] msbemba commented on #1227
@ToMakeSense This document pertains to the cmdlets under webadministration. However, You can find IIS related information maintained under https://docs.microsoft.com/en-us/iis/get-started/whats-new-in-iis-10-version-1709/new-features-introduced-in-iis-10-1709

Hope this helps!

Thanks
Sri

[2019-08-24 14:09] e0i commented on #1159
Hello @martintoreilly,

The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.

Thanks.

[2019-08-24 14:10] e0i commented on #1159
@officedocsbot close

[2019-08-24 14:42] e0i commented on #1231
Hello, @amaiman

The issue has been reproduced and verified as a bug and is being escalated to product team for investigation.

The issue is thus being closed because the issues section of this repository is intended for product documentation problems, not product support.

Should you have any similar inquiries or problems, please consider consulting [PowerShell UserVoice](https://windowsserver.us

[2019-08-24 14:42] e0i commented on #1231
@officedocsbot close

[2019-08-24 14:42] #1231 closed

[2019-08-24 14:43] ToMakeSense commented on #1227
@msbemba OK, I am just trying to refine and align the reference document during my usage, if you think it's unnessay to do that. it's OK. get it closed now 😄 .

[2019-08-24 14:43] #1227 closed

[2019-08-26 08:41] LuigiBruno commented on #884
Thank you @msbemba.

[2019-08-26 14:10] e0i commented on #1234
@gaelicWizard

The issues section of this repository is intended for documentation problems.

Please consider checking any relevant resources and asking the community about your problem via the following link.

[PowerShell Community](https://docs.microsoft.com/powershell/#pivot=main&panel=community)

Also feel free to reply if there is anything else that could be done to improve the document itsel

[2019-08-26 14:31] e0i commented on #1235
@canix1

The issues section of this repository is intended for documentation problems.

Please consider checking any relevant resources and asking the community about your problem via the following link.

[PowerShell Community](https://docs.microsoft.com/powershell/#pivot=main&panel=community)

Also feel free to reply if there is anything else that could be done to improve the document itself.

Th

[2019-08-26 14:42] e0i commented on #1237
Hello, @Beta-Tester99

The issue is under investigation and you will be notified with any changes on the way.

Thank you for providing feedback.

[2019-08-26 14:42] e0i commented on #1237
Similar: #1231

[2019-08-26 23:18] yanxiaodi commented on #1226
Good job. Thanks a lot.

[2019-08-26 23:18] #1226 closed

[2019-08-31 18:11] e0i commented on #884
Hello @LuigiBruno  ,

The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.

Thanks.

[2019-08-31 18:57] #1235 closed

[2019-09-01 10:49] sukihanabi commented on #1171
Hello @TiloGit, as we checked command: "Import-Certificate -Filepath $cert -CertStoreLocation "cert:\LocalMachine\Root" " will work if you have an exported file save on your file location.

The provided export and import file command works as well, and it is already in the example provided in the repo.

See Export-Certificate for reference, https://github.com/MicrosoftDocs/windows-powershell-docs/

[2019-09-01 12:05] sukihanabi commented on #1137
@jricha34 , as we checked, "Get-ADTrust" cmdlet returns all trusted domain objects in the Active Directory. As well as the cmdlet "Get-ADTrust "domain.com" " ; this get the trusted domain object with name 'domain.com'. Perhaps, you can provide more information or references to the inquiry.

[2019-09-03 18:25] TiloGit commented on #1171
@ sukihanabi I was looking for an example without save cert locally (copy from store to store) but might not be an option.

[2019-09-04 09:42] JimTanCH commented on #425
Keep Receiving on all Windows 10 and 2016, it seems a bug

Enable-NetLldpAgent : Invalid class

[2019-09-04 18:33] e0i commented on #1171
@TiloGit Based on the reviewer's discussion regarding a PR attempt for this issue, #1256, it has been found that such an example is not necessary. Thank you for taking the time to participate in improving documentation.

[2019-09-04 18:33] #1171 closed

[2019-09-04 21:20] e0i commented on #1137
@jricha34 During the discussion of the related PR #1255, it has been concluded by the reviewers that no changes to the document are necessary. Thank you for taking the time to improve PowerShell documentation.

[2019-09-04 21:20] #1137 closed

[2019-09-04 21:55] e0i commented on #1186
Hello @fowl2 ,

The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.

Thanks.

[2019-09-04 21:56] e0i commented on #1116
Hello @danieldjewell ,

The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.

Thanks.

[2019-09-04 21:56] #1116 closed

[2019-09-04 22:02] e0i commented on #1198
@mossywell

The issue is being closed as we haven't been able to identify the source of error within the referenced documentation.

Feel free to re-open this issue with further clarifications and we would gladly assess the content for updates.

Thank you for your feedback.

[2019-09-04 22:02] #1198 closed

[2019-09-04 22:13] e0i commented on #914
Hello @eeegs  ,

The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.

Thanks.

[2019-09-04 22:13] #914 closed

[2019-09-04 22:14] e0i commented on #1216
Hello @tlsalex  ,

The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.

Thanks.

[2019-09-04 22:14] #1216 closed

[2019-09-04 22:15] e0i commented on #1210
Hello @dennisl68-castra  ,

The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.

Thanks.

[2019-09-04 22:15] #1210 closed

[2019-09-06 05:34] sukihanabi commented on #984
*Action Taken :
Changes $Profile to $NetworkProfile variable.
Run the following:
1.) Run $Profile as a variable for the following command: works successfully
$Profile = Get-NetConnectionProfile -InterfaceAlias Ethernet
Set-NetConnectionProfile -InputObject $Profile (Just did not continue as I don't want to change my networkprofile)
See screenshot:
https://snipboard.io/CArlOe.jpg

2.) Run $NetworkP

[2019-09-06 17:22] martintoreilly commented on #1159
Thanks @msbemba. I've duplicated your note about the `-Thumbprint` parameter only being available in Windows Server 2019 in the example that uses it (see PR #1270).

[2019-09-06 20:50] LuigiBruno commented on #884
Thank you @e0i.

[2019-09-06 20:57] LuigiBruno commented on #518
I think the Microsoft Docs page has been updated.

[2019-09-06 21:03] #884 closed

[2019-09-07 00:14] neilfairall commented on #326
Oh boy, I don't know how I could have been any clearer. As demonstrated in the example above, when one runs "get-help search-adaccount -full", there is no syntax help - none of the command parameters are explained.

I'm expecting something like this:

`SYNTAX
    Get-ADUser [-AuthType {Negotiate | Basic}] [-Credential <PSCredential>] [-Properties <String[]>] [-ResultPageSize <Int32>] [-ResultSetSi

[2019-09-07 02:29] get-itips commented on #326
Hello @neilfairall
I think you misunderstood my past question, I asked what you see was wrong **with the online version of the documentation of the article**, as you opened an issue here.

Besides that, I tried the PowerShell command `Get-Help Search-ADAccount -Full` and the output included the parameters description. So it seems you are having an specific issue  that needs to be handled thru [sup

[2019-09-07 05:02] Chirishman commented on #495
Why is the content for 2019 not available? It's not like it's preview anymore, it's GA. Also to date no one has explained anywhere that I can find what `-type DataPort` does anywhere that I can find and I don't think that's acceptable.

[2019-09-07 14:54] velkovb commented on #1182
@Chaza218 Hello,

Thank you for trying to make Microsoft Docs a better place. I have tested and that is all the info contained in this module indeed - only the Convert-License cmdlet. All other commands are under the [remotedesktop](https://docs.microsoft.com/en-us/powershell/module/remotedesktop/?view=win10-ps) module.

[2019-09-08 18:12] e0i commented on #1170
Hello @jzabroski The deployment system has been fixed and public contributions via GitHub are now being continuously synced to live. Thank you for providing feedback.

[2019-09-08 18:12] #1170 closed

[2019-09-08 18:12] e0i commented on #983
@skycommand The deployment system has been fixed and public contributions via GitHub are now being continuously synced to live. Thank you for providing feedback.

[2019-09-08 23:05] kumark18 commented on #305
@e0i Can you please let me know if there is any page which has solution to this problem, or any steps are documented to solve the problem mentioned above

[2019-09-09 08:43] velkovb commented on #1234
@gaelicWizard Hi John,

Thank you for submitting this issue. I have tried to replicate the problem but have not been able to replicate it. I have tested Win10 version 1903 and Server 2016/2019 and it works but actually your version does not work for me. In order to further troubleshoot the problem could you provide the information below:
1. What is the error message that you are getting?
2. Do you

[2019-09-09 09:02] velkovb commented on #410
@VineetGa Hello,

Thank you for trying to make MicrosoftDocs a better place.
1. The command is correct and the brackets are empty because it actually has no parameters. Since it is a cmdlet it accepts the common parameters for all, it should actually be **Confirm-SecureBootUEFI [`<CommonParameters>`]**. Probably it is a formatting issue and I will see if can be fixed since in PowerShell it is gett

[2019-09-09 21:48] e0i commented on #1182
Hello @Chaza218 ,

The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.

Thanks.

[2019-09-09 21:48] e0i commented on #1234
Hello @gaelicWizard  ,

The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.

Thanks.

[2019-09-09 21:48] e0i commented on #410
Hello @VineetGa  ,

The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.

Thanks.

[2019-09-09 22:58] nschonni commented on #798
This still isn't resolved

[2019-09-10 09:36] lrandall-gillsch opened #1275 "Slight typo underneath "Outputs""
Very slight typo in the sentence underneath "Outputs", it says "This complete does not generate any input.", should it be "This cmdlet does not generate any output."?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95c56f6b-36ab-d05f-44a3-418d43be7c91
* Version Independent ID: 4fc21770-9fa1-9877-bcde-b9c7b6cf7dfd
* Cont

[2019-09-10 13:15] wmassingham opened #1278 ""The Domain Name System (DNS) directory" is not specified"
This doc says the file is exported to the DNS directory, but does not say where that is. It appears to be C:\Windows\System32\dns, at least on my system.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b473c75d-eba0-92b2-3bab-8cfc6e19c440
* Version Independent ID: ecee7d9f-783a-53d0-53aa-ee5f63f4fcad
* Content: [Export-

[2019-09-10 16:21] ehegazy opened #1279 "remove-appxpackage"
remove-appxpackage show alawys . Move-AppxPackage wrong article

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc0b0cd3-1201-f5e2-907e-5712eda675da
* Version Independent ID: b722fa48-0af3-27ea-9f86-4f48b9972d19
* Content: [Move-AppxPackage (appx)](https://docs.microsoft.com/en-us/powershell/module/appx/remove-appxpacka

[2019-09-10 20:01] blouwagie opened #1281 "Command fails : Get-Help about_ActiveDirectory_ObjectModel"
The command in this line in the document does not work, or needs additonal modules predefined, not sure, please update document:

Your sentence: For a list of supported types for &lt;value&gt;, type Get-Help about_ActiveDirectory_ObjectModel

The command results in  Get-Help could not find about_ActiveDirectory_ObjectModel in a help file in this session.

---
#### Document Details

⚠ *Do not edit

[2019-09-10 23:00] cconrado commented on #1279
Yes its the wrong commands

[2019-09-11 00:09] arielmoisis opened #1282 "Example 1 Typo"
New-NetEventSession -SessionName "Session01"
should read New-NetEventSession -Name "Session01"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e85e4b0e-eebc-3a46-3fbd-bb8f3623594a
* Version Independent ID: c002c70e-70c1-1f64-713f-e897cce205a3
* Content: [Add-NetEventPacketCaptureProvider (neteventpacketcapture)](https:/

[2019-09-11 16:21] sowjanya365 commented on #268
Hi @AppaOmega

Thanks for reaching out!

It seems that you must be missing something while executing the command. Please refer to the following article.

https://social.technet.microsoft.com/Forums/en-US/5065a717-bb77-482e-826e-0d07374ac384/a-remote-desktop-services-deployment-does-not-exist-in-the-server-pool?forum=winserverTS

Hope this helps. Thanks!

[2019-09-11 16:47] sowjanya365 commented on #1164
Hi @ivdlinden

Thanks for reaching out!

We've verified the document and we feel that examples are placed very well. First one shows "Publishing a version of a package to all users" and second one shows "Publish a version of a package to a user". Do you still find any issue? Please elaborate more. Thank you!

[2019-09-11 17:00] sowjanya365 commented on #1184
Hi @wjk

Thanks for reaching out!

 On Windows-based computers, if features that are included with the operating system have cmdlets to manage them, those modules are preinstalled. When you install a Windows feature, by using, for example, the Add Roles and Features Wizard in Server Manager, or the Turn Windows features on or off dialog box in Control Panel, any PowerShell modules that are part of

[2019-09-11 17:42] #1224 closed

[2019-09-11 17:45] #1228 closed

[2019-09-11 17:46] #1037 closed

[2019-09-11 17:48] #1223 closed

[2019-09-11 18:02] AppaOmega commented on #268
Hey,
sry lost track of this "issue".
I managed to solve this puzzle on my own.
The behavior was caused by the second-hop problem.

So, no Problem with this command.

;)

[2019-09-11 19:31] sowjanya365 commented on #755
Hi @andrewwillett

Thanks for reaching out!

We've verified and felt that PptpPorts parameter is not associated with this command. Kindly let us know if you find it associated with this command anywhere and missing here in this documentation. It will help to investigate further.

Thank you!

[2019-09-12 05:42] sowjanya365 commented on #1207
Hi @Alex-Brooks

Thank you for reaching out!

This documentation is compatible with the Windows Server 2016 version. Kindly let us know which version of windows server are you referring to? Thank you!

[2019-09-12 11:14] doctordns opened #1289 "Page needs more details"
This page describes the Set-SMBServerConfiguration command, including all the parameters you use to turn on/off SMB server properties. But the action of some of these properties is not explained. For example, what is a server announcement? What does validate target name do in practice, for example?

This page is fine if you know what you are doing, configuration wise, but more detail would be usef

[2019-09-12 11:21] doctordns opened #1290 "Unable to edit this page"
I can leave a comment on this page but I am unable to edit it.

There is a typo I was going to try to fix, but I'm locked out of editing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e85e4b0e-eebc-3a46-3fbd-bb8f3623594a
* Version Independent ID: c002c70e-70c1-1f64-713f-e897cce205a3
* Content: [Add-NetEventPacketCaptu

[2019-09-13 08:05] skycommand commented on #983
@e0i Hi. I can confirm that docs.microsoft.com has been updated. But... Windows clients are still not receiving these changes. In other words, `Get-Help Repair-Volume` still returns outdated info, even after I tried `Update-Help`. In fact, nowadays, Update-Help generates more error messages than ever.

[code]

[2019-09-13 10:35] yogkumgit commented on #731
@amaiman as mentioned bug is filed to product team for investigation hence we proceed to close the issues here.
If you see a documentation update is required, please feel free to open an issue for the same. Please keep contributing with your suggestions to improve the documentation.

[2019-09-13 10:36] #731 closed

[2019-09-13 10:40] #475 closed

[2019-09-13 13:49] mth11 opened #1294 "-LogonWorkstations"
I have been trying to write some PS scripts against this property and found some unusual behavior. But specific to this page, under the -LogonWorkstations category, there is no guidance to set the property to All computers, one of the available selections under the button option. I understand fully the ability to provide a list of workstations, servers etc., but how does one set the property to Al

[2019-09-13 13:59] mth11 commented on #1294
FYI, because the default value is None, adding a user by script does not allow the new user to log on anywhere. So this property must be set when adding a new user by script (might help to indicate that). It would be nice to see what to set the property to so that the new user can logon to any domain computer.

[2019-09-13 14:59] mth11 commented on #1294
FYI, solved by calling a Set-ADUser command after the account is created. Set-AdUser -Identity $Username -LogOnWorkstations $null

[2019-09-14 02:51] live-user0001 opened #1297 "Enable-TpmAutoProvisioning TpmReady : False TpmPresent : True ManagedAuthLevel : Full OwnerAuth : OwnerClearDisabled : True AutoProvisioning : Enabled LockedOut : False SelfTest : {191, 191, 245, 191...}"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33623a8a-2bea-2c46-fef2-db6aec49fc06
* Version Independent ID: 43b2fb3e-f339-e9a2-8155-05d99d1e38f7
* Content: [Enable-TpmAutoProvisioning (trustedplatformmodule)](https://docs.microsoft.com/en-us/powershell/module/trustedplatformmodule/enable-tpmauto

[2019-09-14 20:29] e0i commented on #1279
@eheg

The issues section of this repository is intended for documentation problems.

Please consider checking any relevant resources and asking the community about your problem via the following link.

[PowerShell Community](https://docs.microsoft.com/powershell/#pivot=main&panel=community)

Also feel free to reply if there is anything else that could be done to improve the document itself.

Than

[2019-09-15 21:01] e0i commented on #1164
@ivdlinden

The issue is being marked as resolved as the problematic behavior couldn't be reproduced.

Feel free to re-open this issue if there is still something you'd like to suggest to improve the document.

Thank you for taking the time to provide feedback and follow-up.

[2019-09-15 21:01] #1164 closed

[2019-09-15 21:02] #1184 closed

[2019-09-15 21:03] e0i commented on #755
@andrewwillett

The issue is being marked as resolved as the problematic behavior couldn't be reproduced.

Feel free to re-open this issue if there is still something you'd like to suggest to improve the document.

Thank you for taking the time to provide feedback and follow-up.

[2019-09-15 21:03] #755 closed

[2019-09-15 21:03] e0i commented on #1207
@Alex-Brooks

We are closing this issue as there hasn't been a response from your side regarding the specific version where the issue stems from.

Feel free to re-open this issue with clarifications and we'd be glad to come up with content updates.

Thank you for providing feedback.

[2019-09-15 21:03] #1207 closed

[2019-09-16 14:58] cconrado commented on #1279
@e0i yes exactly the pages were linked incorrectly. now they aren't

[2019-09-17 13:39] nezaras2000 opened #1304 "Wrong examples"
The examples in this page doesn't work, and there is no parameter CLUSTER for this cmdlet.
It should be Get-ClusterStorageSpacesDirect -Node "Node01.mydomain.local"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a07e3d56-dd77-0d40-0225-09713067dfb4
* Version Independent ID: 457364b0-9bc3-5fae-4f2e-601d588652d1
* Conten

[2019-09-17 15:36] MikelRbrts opened #1305 "Example 3 - Does not filter properly by date."
When running the following example, results up until current date are returned...

$Date = [DateTime]::Today.AddDays(-90)
Get-ADComputer -Filter 'PasswordLastSet -ge $Date' -Properties PasswordLastSet | FT Name,PasswordLastSet

------

However, enclosing the filter with "", changing the filter to PwdLastSet -LT, and converting the time to FileTime does work.

$Date = [DateTime]::Today.AddDays(-90)

[2019-09-18 00:09] e0i commented on #1290
Hello, @doctordns

Find below the link to the document source. Feel free to create a PR fixing that typo and we would be more than glad rolling it into review.

https://github.com/MicrosoftDocs/windows-powershell-docs/blob/master/docset/winserver2012r2-ps/neteventpacketcapture/Add-NetEventPacketCaptureProvider.md

Thank you for taking the initiative to improve documentation.

[2019-09-18 03:39] miketheitguy opened #1306 "Missing -MultiPolicyFormat parameter on New-CIPolicy"
1903 Adds additional parameters to New-CIPolicy. Likewise, supporting documentation around the usage of this parameter and the changes to Code Integrity are missing on other document pages.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad5e8ac6-f123-7aeb-147d-0fbf44a0691c
* Version Independent ID: ddd7f02d-549f-52dd-4

[2019-09-18 09:13] DarkLite1 opened #1307 "Example 2 incorrect"
Get-PrintConfiguration -PrinterName $Printer.name -DuplexingMode "TwoSidedLongEdge"

Should be:
Get-PrintConfiguration -PrinterName $Printer.name -ComputerName $Printer.ComputerName

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27190e41-23d1-0321-51d2-634009beca96
* Version Independent ID: f14a6a4e-9b9f-99be-7acc-9116

[2019-09-18 10:20] msbemba commented on #415
@DesertBear  Thank you for your feedback. We have added the note to the example via PR https://github.com/MicrosoftDocs/windows-powershell-docs/pull/1308

[2019-09-18 10:25] msbemba commented on #728
@noelhibbard  Thank you for the feedback. We have made the changes to the Doc via PR https://github.com/MicrosoftDocs/windows-powershell-docs/pull/996

[2019-09-18 10:29] msbemba commented on #1282
@arielmoisis Thank you for your feedback. We have made the changes to the example via PR https://github.com/MicrosoftDocs/windows-powershell-docs/pull/1310

[2019-09-19 08:54] sowjanya365 commented on #1149
Hi @alexfreu69

Hope you are doing well!

We're closing this issue as we have not received your response and enough information to investigate further.

We've verified from our end the "Example 3: Remove an A record". We don't find any issue with this command.

PS C:\> Remove-DnsServerResourceRecord -ZoneName "contoso.com" -RRType "A" -Name "Host01" -RecordData "10.17.1.41"

Thank you!

[2019-09-19 18:28] MikelRbrts commented on #1305
This can be disregarded, I read the original example wrong. I was thinking it was meant to return objects older than 90 days. Simply flipping the -GE to -LE gave the opposite results.

[2019-09-19 18:28] #1305 closed

[2019-09-19 23:02] JakeMoe opened #1313 "-Filter parameter missing from "Parameters" section"
I'm trying to see what I can do with the -Filter parameter; from memory, I can't use Regex, but wanted to confirm it here.  The only info about filter syntax is to run "Get-Help about_ActiveDirectory_Filter", which just gives me a list of ActiveDirectory cmdlets, presumably that use the filter syntax?  Either way, it doesn't tell me much about how to use the -Filter parameter.

---
#### Document D

[2019-09-21 13:00] #1290 closed

[2019-09-22 06:35] Pingulea opened #1314 "Apparently bug in Applications collections"
I'm trying to list the sub-applications of a site selected with Get-IISSite.
My site has 3 sub-applications.
Yet $selectedSite.Applications.Count reports only 1 app - the root application of the site.
I've also tried $appsConfigCollection = Get-IISConfigCollection -ConfigElement $siteConfigElement.
It seems that only the root application of a site is captured :-(

---
#### Document Details

⚠ *Do

[2019-09-22 09:10] rcl4444 commented on #139
Same for me.
my host information below:

[2019-09-24 11:33] #753 closed

[2019-09-24 12:41] fbehrens opened #1330 "Documentation of -confirm parameter is wrong"
The current behaviour of the command is:
* Without `-confirm` or with `-confirm:$false` one is asked for confirmation.
* With `-confirm:$true` confirmation is not asked for.

Please adjust documentation accordingly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 216a4b07-b99d-9b0e-2784-f0a501e83c3e
* Version Independen

[2019-09-24 14:32] yogkumgit commented on #481
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @wangkanai Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-09-24 14:32] #481 closed

[2019-09-24 14:33] yogkumgit commented on #413
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @tommymaynard Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-09-24 14:33] #413 closed

[2019-09-24 15:27] msftrncs opened #1333 "about_ActiveDirectory_Filter missing"
The command from the `-Filters` section of this doc, `Get-Help about_ActiveDirectory_Filter` results in a 'could not find ...' error.   It appears this topic is missing, as I cannot even find it online.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39c80552-2be1-2869-5ea8-2368bb3dd2c8
* Version Independent ID: 8d825bb

[2019-09-25 10:22] yogkumgit commented on #411
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @MacGydver Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-09-25 10:22] #411 closed

[2019-09-25 11:08] MaratMussabekov commented on #719
Dear @LijuV-MSFT ,
commands you provided are useful for sure, but they are out of scope of the article.
the article contains references to the articles of the AGPM set of commandlets, not the "How to" instructions for using of PowerShell.
What do you think?

[2019-09-26 06:22] MaratMussabekov commented on #1213
Hello @frasercarter ,
Rules are applied to the GPO or local computer.
Policy **shows** the configuration applied to the local computer (like the result of local NRPT rules and GPO NRPT rules applied)
More details are in [this article](https://docs.microsoft.com/previous-versions/windows/it-pro/windows-server-2012-r2-and-2012/dn593632(v%3Dws.11)).
Thank you

[2019-09-26 15:41] leandroamore opened #1359 "certificate type"
The certificate type is not Token-Encryption, it should say Token-Decrypting instead

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce4c3905-94f4-3cad-48c2-bcd6ffbe1022
* Version Independent ID: 24c5edaf-ee43-b27b-d128-857c2debefba
* Content: [Set-AdfsCertificate (adfs)](https://docs.microsoft.com/en-us/powershell/modu

[2019-09-26 17:41] e0i commented on #1193
@fatherjack

With the help of your feedback, the content has been updated with relevant changes accordingly. Thanks.

[2019-09-26 17:41] #1193 closed

[2019-09-26 17:41] e0i commented on #763
@Oleksandr-Kosariev

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-09-26 17:41] #763 closed

[2019-09-30 05:51] poundy opened #1382 "Example 1 has confusing text and spacing doesn't help explain it"
Example 1 currently shows the following, but with very strange spacing making it hard to follow:
-----------------
Set-NetIPsecRule -DisplayName "Tunnel Rule" -LocalAddress Any
This task can be alternatively done with the following cmdlets.
$nfwAddressFilter = ( Get-NetIPsecRule -DisplayName "Tunnel Rule" | Get-NetFirewallAddressFilter )
Set-NetFirewallAddressFilter -InputObject $nfwAddressFilter

[2019-09-30 16:38] e0i commented on #415
@DesertBear

Upon your feedback, We have updated the content with relevant changes accordingly via PR https://github.com/MicrosoftDocs/PowerShell-Docs/pull/4831. Thank you.

[2019-09-30 16:38] #415 closed

[2019-09-30 18:00] lrandall-gillsch opened #1395 "Confirm switch is not false by default!"
Please update the documentation to be correct. PowerShell in WinPE prompts before the disk is cleared, the documentation suggests the default is false and will not prompt the user to clear.

Thanks!

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e37de68a-e057-f398-7ae5-9664ebabfa6a
* Version Independent ID: d546bb03-31

[2019-10-01 11:24] TPXP opened #1398 "Documentation for Add-Appxpackage is incomplete ({{Fill ...}})"
Hello,

While reading docs for [Add-AppxPackage](https://github.com/MicrosoftDocs/windows-powershell-docs/blob/master/docset/windows/appx/add-appxpackage.md), I noticed some switches are not documented properly, like [ForceUpdateFromAnyVersion](https://github.com/MicrosoftDocs/windows-powershell-docs/blob/master/docset/windows/appx/add-appxpackage.md#-forceupdatefromanyversion) and the ones below.

[2019-10-02 13:50] e0i commented on #1282
@arielmoisis

With the help of your feedback, the content has been updated with relevant changes accordingly. Thanks.

[2019-10-02 13:50] #1282 closed

[2019-10-02 15:54] e0i commented on #728
@noelhibbard

With the help of your feedback, the content has been updated with relevant changes accordingly. Thanks.

[2019-10-02 15:54] #728 closed

[2019-10-02 20:30] SCLD-FJaramillo opened #1429 "Online documentation for Set-ProcessMitigation has commands that don't run correctly"
Online documentation for Set-ProcessMitigation has the following command:

`Set-Processmitigation -Name test.exe -Remove -Disable DEP`

Running the command

`Set-Processmitigation -Name iexplore.exe -Disable DEP`

on a fresh Windows 10 1903 install and then running

`Set-Processmitigation -Name -Remove iexplore.exe -Disable DEP`

gives the following error:

`WARNING: Error while setting DEP: C0000

[2019-10-07 16:42] tydaeus opened #1463 "Unclear `-Confirm` behavior"
The documentation for `-Confirm` indicates that the default value is False, but the examples and observed behavior would seem to indicate that the default value for `-Confirm` is True.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13c4d0f8-540a-7860-e927-88cc2897d5c0
* Version Independent ID: 8b436f4a-a516-21e3-e92c-7

[2019-10-08 17:19] e0i commented on #1330
Hello, @fbehrens

The content is being reviewed in the light of your feedback and we'll keep you posted on updates.

Thank you for providing feedback.

[2019-10-09 19:53] jack-carico opened #1487 "Example 4 Script Fix."
In example 4 the second command does not work as written, the following does work:
PS C:\&gt; $groups | ForEach-Object -Process { $_ | Move-ClusterVirtualMachineRole -Node node2 }

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f78ca24-a6e5-328a-d3ff-199fa78568a8
* Version Independent ID: 7640bb9c-7a1f-d708-6080-6bd18a

[2019-10-10 00:42] sdwheeler commented on #1463
@tydaeus Be definition, the default value for SwithParameter type parameters is `False`. It become true when you use it. That means if you do not use `-Confirm` then its value is false an you do not get prompted for confirmation. But when you use `-Confirm` it become true so you get prompted.

[2019-10-10 00:47] sdwheeler commented on #123
@e0i We have markdownlint rules in the PowerShell-Docs repo. I suggest using these.
See https://github.com/MicrosoftDocs/PowerShell-Docs/blob/staging/.markdownlint.json

[2019-10-10 10:23] diecknet opened #1490 "Please update site to include all available parameters for New-OBRetentionPolicy"
Please update the documentation for **New-OBRetentionPolicy**. As of now Version 2.0.0.0 of the module MSOnlineBackup has more parameters for this Cmdlet.
[code]
Anyway the usage of these parameters isn't quite clear.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4bcdbe7-9625-475a-7b53-6d1a58f58885
* Version Independ

[2019-10-10 22:56] e0i commented on #1398
Hello, @TPXP An update has been planned and queued to be delivered for this known problem. A PR will be referenced to this issue soon. Thank you for providing feedback.

[2019-10-11 19:30] velkovb commented on #1330
@fbehrens Hi,
Thanks you for trying to make MicrosoftDocs a better place. I was not able to replicate your issue.
[code]
Only when Confirm is explicitly specified as $false you will not be asked for confirmation. By default switch parameters are always false. unless explicitly specified - [Switch Parameters](https://docs.microsoft.com/powershell/developer/cmdlet/types-of-cmdlet-parameters#switch-p

[2019-10-11 19:41] velkovb commented on #1395
Hello @lrandall-gillsch

Thank you for trying to make MicrosoftDocs a better place.

By default switch parameters are always false. unless explicitly specified - [Switch Parameters](https://docs.microsoft.com/powershell/developer/cmdlet/types-of-cmdlet-parameters#switch-parameters). Here you are not prompted because of the -Confirm parameter but because the impact of the cmdlet is High. You could

[2019-10-11 19:43] velkovb commented on #1463
Hello @tydaeus

Hello @lrandall-gillsch

Thank you for trying to make MicrosoftDocs a better place.

By default switch parameters are always false. unless explicitly specified - [Switch Parameters](https://docs.microsoft.com/powershell/developer/cmdlet/types-of-cmdlet-parameters#switch-parameters). Here you are not prompted because of the -Confirm parameter but because the impact of the cmdlet is

[2019-10-11 20:23] tydaeus commented on #1463
@velkovb, in that case, I'd recommend mentioning the high impact status in the MicrosoftDocs page and/or the `Get-Help` file, and hopefully summarizing or linking through to https://docs.microsoft.com/en-us/powershell/developer/cmdlet/users-requesting-confirmation, which appears to have the most concise description of this behavior.

Documentation and `Get-Help` for `Unregister-ScheduledTask` `-Co

[2019-10-12 09:17] velkovb commented on #1463
@tydaeus Thanks, that link really combines the info better. Unfortunately, the impact is not present in the help files, I guess that could be a general recommendation to Microsoft. The description of the `-Confirm` is the same everywhere so it could be included there.

Meanwhile if you would like to get the impact level of a cmdlet you could do it with `Get-Command`
[code]
For functions (like `Unr

[2019-10-13 11:20] nehtechnine opened #1511 "https://docs.microsoft.com/en-us/powershell/module/appv/convertfrom-appvlegacypackage?view=win-mdop2-ps"

[2019-10-14 20:40] e0i commented on #1511
Closing as there is no description on the issue.

[2019-10-14 20:40] #1511 closed

[2019-10-15 20:37] SCLDGit commented on #1429
@e0i - Jumping on to ask, is there a better place to discuss bugs within the Get-ProcessMitigation and Set-ProcessMitigation modules than this repo? We've found quite a few, and it would be nice to be able to get some answers without having to pay $500 every time we've found something wrong.

[2019-10-16 20:33] martin-ellis opened #1519 "CongestionProvider section outdated?"
In the section on CongestionProvider, the page states that the default would be NewReno for clients and DCTCP for servers. However, on a recent Windows 10 client machine, it seems that CUBIC TCP (RFC 8312) is default, and has been since Fall Creators Update:
https://datatracker.ietf.org/meeting/100/materials/slides-100-tcpm-updates-on-windows-tcp.

---
#### Document Details

⚠ *Do not edit this se

[2019-10-16 21:05] #1359 closed

[2019-10-16 21:08] #1307 closed

[2019-10-16 21:26] #1382 closed

[2019-10-16 21:35] e0i commented on #1330
Hello @fbehrens,

The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.

Thanks.

[2019-10-16 21:35] #1330 closed

[2019-10-16 21:36] e0i commented on #1395
Hello @lrandall-gillsch,

The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.

Thanks.

[2019-10-16 23:03] e0i commented on #1463
Hello @tydaeus,

The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.

Thanks.

[2019-10-16 23:03] #1463 closed

[2019-10-16 23:22] ticktickMOF opened #1522 "Get-Help about_ActiveDirectory_ObjectModel is not useful advice"
the output is
PS C:\depot\aws_prep1\buildsystem\atlasprda&gt; Get-Help about_ActiveDirectory_ObjectModel

Name                              Category  Module                    Synopsis
----                              --------  ------                    --------
Get-ADAuthenticationPolicy        Cmdlet    ActiveDirectory           Gets one or more Active Directory Domain Services authentication p

[2019-10-17 17:00] milesgratz commented on #1093
In case anyone is curious - we received confirmation from Microsoft Premier support that this scenario is unsupported. You must use a Key Storage Provider that is non-interactive (e.g. HSM)

[2019-10-17 17:00] #1093 closed

[2019-10-17 19:04] e0i commented on #1213
Hello @frasercarter ,

The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.

Thanks.

[2019-10-17 19:04] #1213 closed

[2019-10-17 19:05] e0i commented on #719
Hello @LijuV-MSFT,

The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.

Thanks.

[2019-10-17 19:05] #719 closed

[2019-10-18 17:14] LuigiBruno opened #1527 "Additional information"
I've executed the cmdlet on my Windows 10 (version 1903, build 18362.418) Pro x64 and I've seen the below output with some additional information

TpmPresent                : True
TpmReady                  : True
ManufacturerId            : 1229346816
ManufacturerIdTxt         : IFX
ManufacturerVersion       : 4.40
ManufacturerVersionFull20 : Not Supported for TPM 1.2
ManagedAuthLevel          : D

[2019-10-18 17:36] e0i commented on #1429
Hello, @SCLDGit

Yes,

Please consider consulting PowerShell UserVoice channel regarding your product feedback via the following link,

[PowerShell UserVoice](https://windowsserver.uservoice.com/forums/301869-powershell)

You may also check relevant resources and ask the community for any other inquiries via PowerShell Community,

[PowerShell Community](https://docs.microsoft.com/powershell/#pivot

[2019-10-18 18:20] nick-terry1 opened #1528 "No input paragraph?"
This is a general issue I've had with multiple cmdlet help pages, not just Remove-VMHardDiskDrive in particular - but why is there no Inputs paragraph? Theres an Outputs section on most help pages but I had to search through about 8 different pages to find one with an Inputs section. It would be more efficient than having to search through all the parameter descriptions to see which ones are accep

[2019-10-21 07:41] shivtorov opened #1539 "note about SupportsShouldProcess bugs"
Hi documentation team

There are some critical bugs with -Confirm and -WhatIf parameters
(https://windowsserver.uservoice.com/forums/301869-powershell/suggestions/35264179-new-smbshare-whatif-not-working)

It is unlikely that the product guys will fix it any time soon due to too-low-number of votes.

Do you think you can make a note in the description of these two parameters saying that they are d

[2019-10-21 07:47] shivtorov commented on #1539
and this note is desireable for all relevant cmdlets:
Get-SmbShare
Remove-SmbShare
Set-SmbShare

[2019-10-21 09:36] X-Guardian opened #1540 "ADFS Module: Some Cmdlets are Missing Parameter Descriptions"
The following ADFS cmdlets are missing the specified parameter descriptions:

- Add-AdfsClaimsProvidertrust
  - AnchorClaimType
  - CustomMFAUri
  - SupportsMfa

- Add-AdfsClaimsProviderTrustsGroup
  - AcceptanceTransformRules
  - AcceptanceTransformRulesFile

- Add-AdfsClient
  - JWKSFile
  - JWKKSUri
  - JWTSigningCertificate
  - JWTSigningCertificateRevocationCheck

- AddAdfsFarmNode
  - FarmBe

[2019-10-21 10:25] X-Guardian opened #1541 "Set-WebApplicationProxyConfiguration is Missing Some Parameter Descriptions"
In the `WebApplicationProxy` module, the following `Set-WebApplicationProxyConfiguration` parameters are missing descriptions:

- ADFSTokenAcceptanceDurationSec
- UserIdleTimeoutAction
- UserIdleTimeoutSec

[2019-10-22 14:22] ChrisKibble opened #1544 "Parameter Description is Wrong"
For ComputerName, it states:

&gt; Specifies an array of names of computers. The cmdlet adds these computers to the replication group specified by the GroupName parameter. You can use a comma separated list and the wildcard character (*).

This is incorrect for Get-DfsrState, as it does not add any computer to a replication group - seems like perhaps a bad copy/paste from another article.

---
###

[2019-10-23 20:37] JulioQc opened #1553 "Page needs even more details"
What registry keys does this command modify? For example, what is changed when running "Set-SmbServerConfiguration -EnableSMB2Protocol $true -force"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbf1abaf-c268-b76f-48b5-5f5723fecb83
* Version Independent ID: 0c17d9d3-bbc4-f467-b44c-d78bb0c7e370
* Content: [Set-SmbServ

[2019-10-23 21:03] GitHubBJW opened #1554 "Get-Childitem misspelling"
When performing:
Get-Help Get-Childitem -Full

The following result is returned for the -LiteralPath parameter in the help (using PS 5.1.18362.145)
"    -LiteralPath <String[]>
        Specifies, as a string arrya, a path to one or more locations. Unlike the Path.......
"
Notice the word 'arrya' should be array.

Thank you.

[2019-10-23 21:49] steeleprice opened #1555 "Typo in Menu for TlsEccCurve"
Enable-TlcEccCurve in the left PowerShell Reference Menu should be corrected to Enable-TlsEccCurve
(I can't edit the menu or I would submit the change.)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5d4ffef-9c4d-a310-208a-e6487236a9fc
* Version Independent ID: bd229190-de67-c9b8-1ee6-e35222022df5
* Content: [Enable-T

[2019-10-25 06:49] LuigiBruno commented on #1527
Thank you @e0i.

[2019-10-26 14:19] lrandall-gillsch commented on #1395
Hi

Hi @e0i,

I've just used the cmdlet on Windows 10 Pro Version 1903 and when running the cmdlet with these parameters: "Clear-Disk -Number 1", it prompts for confirmation, which is the opposite to what the documentation says for it, thus "-Confirm" here is not false by default, it is true by default.

![image](https://user-images.githubusercontent.com/41786812/67620923-d5f98280-f803-11e9-9199-0

[2019-10-26 14:49] velkovb commented on #1395
@lrandall-gillsch
Hello,

How do you know that "-Confirm" is true?

I do not think you went through the provided articles to understand how the prompt for confirmation actually works. Confirm is a Switch parameter. Here is the definition of a switch parameter:

Furthermore, you could check the following article to understand confirmation requests - https://docs.microsoft.com/powershell/developer/c

[2019-10-27 03:53] AvrumFocus opened #1559 "Example 1 does include private key"
The description on example 1 claims that the example exports the certificate without its private key, while from my testing the private key does get included when it exists on the computer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a65b6499-db87-1c88-eca1-1bd76e6345c2
* Version Independent ID: 44dfc71a-6349-1192-3

[2019-10-27 19:26] e0i commented on #1554
Hello, @GitHubBJW

The online [article](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.management/get-childitem?view=powershell-5.1) for `Get-Childitem` is located in [PowerShell-Docs](https://github.com/MicrosoftDocs/PowerShell-Docs) repository.

The mentioned typo seems to be not present in the article. Please ensure that your documentation cache is up to date and consid

[2019-10-27 19:26] #1554 closed

[2019-10-27 19:35] e0i commented on #1395
@lrandall-gillsch Let us know whether the answer above clarifies your follow-up question. Thanks.

[2019-10-27 20:03] lrandall-gillsch commented on #1395
Hi,

In your example you set "$ConfirmPreference" to "None", which appears to allow the command to run the "Clear-Disk" cmdlet without confirmation, which would suggest "-confirm $false" is default, however whenever I run the cmdlet in Windows 10 and WinPE Version 1903 (On and off a domain if that makes any difference), as per my example, without setting this variable (I've never set this variable

[2019-10-27 20:07] lrandall-gillsch commented on #1395
In the article that you linked it says this:

The default setting of $ConfirmPreference is High. Therefore, in the default environment, only cmdlets and providers that specify a high-impact action request confirmation.

So I'm led to believe that the "-confirm" parameter for "Clear-Disk" is true as I would say it is a high-impact action request because it could cause users to lose date if used inc

[2019-10-27 20:29] e0i commented on #1559
Hello, @AvrumFocus

The issue is under investigation and you will be notified with any changes on the way.

Thank you for providing feedback.

[2019-10-27 20:29] velkovb commented on #1395
@lrandall-gillsch
Hi Luke,

Lets get back to the definition of a switch parameter(-Confirm is switch parameter):

This means that unless "-Confirm" is explicitly specified it is false so it is default value (the value when it is not specified) is false.

In you case you are not prompted because "-Confirm" is true but because the cmdlet implements ShouldProcess and its impacts is High. It will alwa

[2019-10-27 21:09] lrandall-gillsch commented on #1395
Hi,

I understand what your saying, totally, however I am conflicted between this documentation, your explanation, the outcome of my testing above, and the documentation for confirmations with powershell commands here: https://docs.microsoft.com/powershell/developer/cmdlet/users-requesting-confirmation

You're saying the default here is false, however, in my tests I don't specify the parameter and

[2019-10-27 21:10] lrandall-gillsch commented on #1395
Apologies, didn't mean to close this.

[2019-10-27 21:10] lrandall-gillsch commented on #1395
And thank you for the useful PowerShell information!

Luke

[2019-10-27 21:19] e0i commented on #1555
@steeleprice

The issue has been noted and the document will be revised in the light of your feedback.

Thank you.

[2019-10-27 21:22] e0i commented on #1553
Hello, @JulioQc

The issue is under investigation and you will be notified with any changes on the way.

Thank you for providing feedback.

[2019-10-27 21:27] e0i commented on #1544
Hello, @ChrisKibble

The content is being reviewed in the light of your feedback and we'll keep you posted on updates.

Thank you for providing feedback.

[2019-10-27 21:39] e0i commented on #1539
Hello, @shivtorov

The issue is under investigation and you will be notified with any changes on the way.

Thank you for providing feedback.

[2019-10-27 21:42] e0i commented on #1541
@X-Guardian Thank you for providing this nice catch.

The issue has been noted and the document will be revised in the light of your feedback.

Have a nice day.

[2019-10-28 10:16] velkovb commented on #1395
Hi Luke,

The Confirm parameter and prompting for confirmation are two separate things. A cmdlet can prompt for confirmation without implementing the Confirm parameter. Confirm is a switch parameter which is false unless explicitly specified.

$ConfirmPreference is a global variable that controls how you are prompted for confirmation. For example, if a command has Medium impact and your $ConfirmPr

[2019-10-28 10:27] lrandall-gillsch commented on #1395
Hi,

OK, thank you for the information.

I have just run "Clear-Disk -Number 1 -Confirm" thus running it with the default value of -Confirm, as I have not specified it? Which results in a confirm prompt, which means that -Confirm is true here? In a completely default scenario, this means -Confirm is default, surely?

![image](https://user-images.githubusercontent.com/41786812/67671230-6f907380-f96

[2019-10-28 11:19] velkovb commented on #1395
Hi Luke,

I don't think you get the switch parameters :) You probably confuse them with boolean.
You cannot pass a value to the switch parameter. A switch parameter is false if not specified and true only if it is specified (if you include -Confirm in the command line) . So when you specify it in the command that makes it true.  You can only override this behaviour with a slightly different syntax

[2019-10-28 19:52] JulioQc commented on #1553
@e0i I found my answers:

"HKLM:\SYSTEM\CurrentControlSet\Services\LanmanServer\Parameters"
either SMB1 or SMB2 set to 0 or 1

[2019-10-28 19:52] #1553 closed

[2019-10-30 00:11] nashuatek opened #1563 "AttackSurfaceReductionOnlyExclusions"
This parameter is missing from the documentation: AttackSurfaceReductionOnlyExclusions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40540e99-10c7-209d-f017-ccd36a5edb36
* Version Independent ID: 95c94241-a8d0-69b3-ec0d-f1c56b3ff360
* Content: [Remove-MpPreference (defender)](https://docs.microsoft.com/en-us/powershel

[2019-10-31 19:06] e0i commented on #1559
@AvrumFocus In our investigation we have confirmed that the private key is indeed being exported and the issue is being escalated as a bug. Thank you for providing this valuable feedback.

[2019-10-31 19:11] #1559 closed

[2019-10-31 19:12] joeyaiello opened #1566 "Decide what to do about enumeration of modules for Client v. Server and 2016 v. 2019"
Right now, the most up-to-date docset is called "Windows 10 and Server 2016", which carries a number of problems:

* there are some modules that I don't believe shipped until Server 2019 sitting in that docset
* some modules don't ship on Client, and others don't ship on Server
* some modules were introduced in Windows 10 during "obscure" (i.e. non-LTS or non-Server) milestones, but it's unclear t

[2019-10-31 20:24] e0i commented on #1566
@joeyaiello Hello Joey, We'd be happy to update the repository according to the spreadsheet. Thank you.

[2019-10-31 22:27] #1544 closed

[2019-10-31 22:44] e0i commented on #1395
Hello @lrandall-gillsch  ,

The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation.

Thanks.

[2019-10-31 22:50] #1555 closed

[2019-10-31 22:53] #1541 closed

[2019-11-01 07:12] pengzhisun opened #1568 "The cmdlet not worked"
I've tried to execute this cmdlet, but only created an empty backend pool resource without any backend ip configurations.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45300feb-159a-6671-75d1-4bd72c291aa1
* Version Independent ID: d5adde6a-0571-8095-8086-88b08abea686
* Content: [New-NetworkControllerLoadBalancerBacken

[2019-11-01 10:48] MaratMussabekov commented on #1429
Hello @SCLD-FJaramillo ,
ufortunately, I wasn't able to reproduce your issue (for me , command **Set-Processmitigation -Name  iexplore.exe -Disable DEP -Remove** worked correctly in 1903).
1. could you please check whether you are running the command as a user that has sufficient permissions?
2. could you please provide output of **Get-Processmitigation -Name  iexplore.exe** command?

Thank you

[2019-11-01 16:11] blouwagie opened #1569 "The MountPath example does not work, needs modifying"
Hi

(At least when I try this) on Server 2016 and I put a mountPath that contains something like "c:\users\..." it does not work. It only works for me when I use the root of the drive "c:\"  ... I learned this from others discussing the same and coming up with this. Why a mountpath is needed in the Import when it is not needed in the export is mind boggling.

Bart

---
#### Document Details

⚠ *Do

[2019-11-02 06:21] RAJU2529 commented on #1569
@blouwagie. Sir this topic about getting start layout xml from mounted windows image.
I think C:\users is not correct mounted point.

Did you mounted windows image .wim file before entering  commands in PS?

[2019-11-02 06:23] RAJU2529 commented on #1568
@pengzhisun. Sír could you tell me command you are typed. if possible give screenshot of error

[2019-11-02 08:03] X-Guardian opened #1571 "Adfs Module: Parameters and Cmdlets introduced in Server 2019 Missing from Documentation"
The following cmdlets and parameters introduced in the Windows Server 2019 version of ADFS, are missing from the documentation:

### Cmdlets with Missing Parameters

#### Set-AdfsProperties

- ExtranetLockoutMode
- ExtranetLockoutThresholdFamiliarLocation

#### Set-AdfsGlobalAuthenticationPolicy

- EnablePaginatedAuthenticationPages

### Cmdlets Missing

- Update-AdfsArtifactDatabasePermission
- G

[2019-11-02 13:59] blouwagie commented on #1569
Hi
I just tried the commands as per the instructions. If other commands are
needed first they should be documented.
Any way, as long as I put c:\ as the mount path it worked. Any other path
did not work. Certainly the mount path as in the documentation did not work.
It is frustrating that the export and import command have differing syntax.
My comment is about poor documentation, as I figured out

[2019-11-02 15:05] RAJU2529 commented on #1571
@X-Guardian. Sir I don't have server 2019 OS, so I cant check. If you think missing cmdlets are really needed and should be updated, then Create new PR with GitHub login.
Thanking  sir

[2019-11-02 15:12] X-Guardian commented on #1571
Not helpful @RAJU2529. If you can't check, don't comment.

[2019-11-04 10:08] lrandall-gillsch commented on #1395
OK, this documentation is very confusing! To me if you specify "-Confirm" with the cmdlet and as it confirm prompts that would say to me that the value of confirm is $true, which contradicts what you said.

In any case, is it possible to include somewhere in the documentation that this cmdlet confirm prompts by default unless you specify -Confirm:$false as when you run the cmdlet with -WhatIf it w

[2019-11-04 11:56] truehomie opened #1574 "Autoprovisioning recommended value"
Pls let me know recommended value for autoprovisionning.
Once I cleared the TPM and system set everything up should I reenable autoprovisioning or leave disabled?

[2019-11-04 15:00] SCLD-FJaramillo commented on #1429
I just tried the cmdlet that you suggested, I'm attaching the results:

![after](https://user-images.githubusercontent.com/54039217/68130577-93156a00-fee9-11e9-96d8-15ac2b6e6b96.png)
![Before](https://user-images.githubusercontent.com/54039217/68130578-93156a00-fee9-11e9-9177-5324ccefc15a.png)
![WindowsVersion](https://user-images.githubusercontent.com/54039217/68130579-93156a00-fee9-11e9-8e26-2fc

[2019-11-05 11:28] MaratMussabekov commented on #1429
Hello @SCLD-FJaramillo ,
Please try the following (it was workaround for error C000000D in Windows 10 1809, hope it will work for 1903 as well): Delete file **C:\Windows\Microsoft.NET\assembly\GAC_64\Microsoft.ProcessMitigations.Commands\v4.0_10.0.0.0__31bf3856ad364e35\Microsoft.ProcessMitigations.Commands.dll** and then restart the PC. Then try to run command again.
If it doesn't work, I would re

[2019-11-05 14:35] SCLD-FJaramillo commented on #1429
Hi,

I don’t have the file Microsoft.ProcessMitigations.Commands.dll in the suggested location, I checked in the two Windows 10 1903 computers that I’m testing on

Thanks.

From: MaratMussabekov <notifications@github.com>
Sent: Tuesday, November 5, 2019 6:29 AM
To: MicrosoftDocs/windows-powershell-docs <windows-powershell-docs@noreply.github.com>
Cc: Fredi Jaramillo <FJaramillo@Steelcloud.com>; Me

[2019-11-06 12:23] ubreddy opened #1576 "pkiclient module is not available"
Not sure where to import the pkiclient module from on windows 10. not available in powershell 6 or 7.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa44e0de-b8a0-a89a-78ec-fb85f080c4ff
* Version Independent ID: da88acb9-808b-1750-5da2-3dd9fa658174
* Content: [New-SelfSignedCertificate (pkiclient)](https://docs.microso

[2019-11-06 21:36] msbemba commented on #1275
@lrandall-gillsch Thank you for the feedback. We have made these changes on the doc via PR # https://github.com/MicrosoftDocs/windows-powershell-docs/pull/1577

Thanks
Sri

[2019-11-06 21:46] msbemba commented on #1278
@wmassingham Thank you for your feedback. The location for DNS directory is C:\Windows\System32\dns. I have that information via PR https://github.com/MicrosoftDocs/windows-powershell-docs/pull/1578

Thanks
Sri

[2019-11-07 06:35] MaratMussabekov commented on #1429
Dear @SCLD-FJaramillo ,
please also check folders C:\Windows\Microsoft.NET\assembly\GAC_MSIL\Microsoft.ProcessMitigations.Commands.resources\v4.0_10.0.0.0_en_31bf3856ad364e35\ and C:\Windows\Microsoft.NET\assembly\GAC_32\Microsoft.ProcessMitigations.Commands\v4.0_10.0.0.0__31bf3856ad364e35\

Thank you

[2019-11-07 09:15] msbemba commented on #1304
@nezaras2000 Thank you for your feedback. We have made the changes in the doc via PR https://github.com/MicrosoftDocs/windows-powershell-docs/pull/1579

Thanks
Sri

[2019-11-07 18:11] SCLD-FJaramillo commented on #1429
Hi,

I don’t have the “Microsoft.ProcessMitigations.Commands.resources” folder in the first path, and I don’t have the “Microsoft.ProcessMitigations.Commands” on the second path.

Thanks.

From: MaratMussabekov <notifications@github.com>
Sent: Thursday, November 7, 2019 1:36 AM
To: MicrosoftDocs/windows-powershell-docs <windows-powershell-docs@noreply.github.com>
Cc: Fredi Jaramillo <FJaramillo@St

[2019-11-08 20:32] JohnNelsonNmbr2 opened #1582 "appending each time?"
Does this cmdlet overwrite the WindowsUpdate.log each time it runs or does it append each time?  Just planning out my strategy for running this and wondering if I need to add in a purge step.  The documentation isn't clear on how it handles rows that already exist in the target log file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2019-11-09 02:48] RAJU2529 commented on #1582
@johncdawson. Normally all windows update logs will be stored in **C:\Windows\logs\WindowsUpdate** in .etl formats.

If you need new log files, then you must delete all .etl files after  getting **WindowsUpdateLog**
I hope this answered

[2019-11-11 21:37] e0i commented on #1237
Hello, @Beta-Tester99

Just like the similar issue, #1231, this issue as well has been reproduced and verified as a bug and is being escalated to product team for investigation.

The issue is thus being closed because the issues section of this repository is intended for product documentation problems, not product support.

Should you have any similar inquiries or problems, please consider consult

[2019-11-11 21:37] #1237 closed

[2019-11-11 23:28] pietilag commented on #1289
Needs info on which OS's this runs on.

[2019-11-12 02:09] #374 closed

[2019-11-12 02:10] e0i commented on #1052
@Bartolomeus-649 Yes, The merged content has been published online. Thank you.

[2019-11-12 02:10] #1052 closed

[2019-11-12 02:11] e0i commented on #1036
@JasonG-IT Apologies for the late response. The merged content has been published online. Thank you for the follow-up.

[2019-11-12 02:11] #1036 closed

[2019-11-12 02:12] e0i commented on #512
@msun-km

The issues section of this repository is intended for documentation problems.

Please consider checking any relevant resources and asking the community about your problem via the following link.

[PowerShell Community](https://docs.microsoft.com/powershell/#pivot=main&panel=community)

Also feel free to reply if there is anything else that could be done to improve the document itself.

T

[2019-11-12 02:12] #512 closed

[2019-11-12 02:13] #560 closed

[2019-11-12 02:14] e0i commented on #376
Content has had been merged.

[2019-11-12 02:14] #376 closed

[2019-11-12 08:56] MaratMussabekov commented on #1429
Hi @SCLD-FJaramillo,
Did you try to create a support request?
Thank you

[2019-11-12 14:23] SCLD-FJaramillo commented on #1429
We did open a support ticket around four weeks ago(Support Request #   119100724006908).
Kenneth Dawkins has been working with us.

Thanks

From: MaratMussabekov <notifications@github.com>
Sent: Tuesday, November 12, 2019 3:57 AM
To: MicrosoftDocs/windows-powershell-docs <windows-powershell-docs@noreply.github.com>
Cc: Fredi Jaramillo <FJaramillo@Steelcloud.com>; Mention <mention@noreply.github.co

[2019-11-12 14:26] lrandall-gillsch commented on #1395
Hi,

I think I have a better description of the -Confirm parameter that I found on another Microsoft documentation [page ](https://docs.microsoft.com/en-us/powershell/module/exchange/mailboxes/set-userphoto?view=exchange-ps#parameters)for the "Set-UserPhoto" cmdlet, please see below:

![image](https://user-images.githubusercontent.com/41786812/68678769-7a92f880-0556-11ea-9300-d55ea1524c2a.png)

Fo

[2019-11-12 20:13] jszabo98 opened #1584 "get-aduser doc: -filter is type string, any scriptblock references are incorrect"
Since the -filter option is documented as type "string", any references to scriptblocks are incorrect, such as example 4, and the Backus-Naur form under "-Filter".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39c80552-2be1-2869-5ea8-2368bb3dd2c8
* Version Independent ID: 8d825bb9-93d8-16ca-22f0-a8191d642a50
* Content

[2019-11-13 00:41] e0i commented on #1429
@SCLD-FJaramillo

The problematic behavior of mentioned commands could not be reproduced and it is better to consult appropriate support channels for this issue, as the issues section of this repository is intended for documentation and content issues only.

Thank you.

[2019-11-13 00:41] #1429 closed

[2019-11-13 07:44] Martony78 opened #1585 "Does the RemoveData parameter completely erase data?"
If I use the clear-disk cmdlet with RemoveData parameter, can I safely use the Bitlocker "Encrypt only used space" option without having to worry about previous data on disk?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e37de68a-e057-f398-7ae5-9664ebabfa6a
* Version Independent ID: d546bb03-3173-3740-b1a6-aa3e8f4b3a4

[2019-11-13 09:08] shivtorov opened #1587 "Broken formatting of Example 10"
On the web, Example 10 has broken formatting - description text is mixed with PowerShell code, causing incorrect handling of formatting characters ( * )

PS C:\> $ScopeIdList = Import-Csv -Path ".\ScopeList.txt"
This cmdlet imports the scopes using the variable named $ScopeIdList as input for the *ScopeId* parameter.
PS C:\> Import-DhcpServer -ComputerName "dhcpserver.contoso.com" -File "C:\export

[2019-11-13 09:51] shivtorov opened #1589 "Broken description"
Description section says:

Issues:
* `rrsandf_plural` shall be replaced with appropriate words
* `Windows Server 2012 R2` shall be replaced with a more generic OS reference

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ed4918e-8ebc-6b11-17fa-8c9662065bab
* Version Independent ID: 8d17a25e-ea2d-71cb-8c7d-965a8851d83d

[2019-11-13 16:12] #1487 closed

[2019-11-13 23:48] e0i commented on #1304
@nezaras2000

With the help of your feedback, the content has been updated with relevant changes accordingly. Thanks.

[2019-11-13 23:48] #1304 closed

[2019-11-13 23:49] e0i commented on #1275
@lrandall-gillsch

With the help of your feedback, the content has been updated with relevant changes accordingly. Thanks.

[2019-11-13 23:49] #1275 closed

[2019-11-14 16:26] worlvlhole commented on #85
FYI - Just encountered this exact issue..

Windows Server 2016
OS version: 1607
Build : 14393.2363

[2019-11-15 08:27] LD126 opened #1594 "出现异常CimException"
在本机powershell使用此命令后出现CimException异常

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 3f07ff81-8cce-53cb-c5b3-f9e4ca89d36c
* Version Independent ID: 2d6a4140-bba7-0635-42f3-3885b75332a2
* Content: [Add-NetNatStaticMapping (netnat)](https://docs.microsoft.com/zh-cn/powershell/module/netnat/Add-NetNatStaticMapping?view=win10-ps#feedback)
* Content Source: [docset/windows

[2019-11-15 14:24] sccmfan opened #1595 "custom web page"
out of the box Web Enrollment role service deploys to "Default Website"
is it possible/supported to deploy Web Enrollment role service to a custom website?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 377818a4-3905-e9c9-4c65-0c367d9e5a8f
* Version Independent ID: 4fd8e830-52b2-c828-e82b-08b998400052
* Content: [Insta

[2019-11-15 22:15] paul-alt-delete opened #1596 "Add-ClusterResourceDependency has an incorrect example and unclear parameters"
The current example for Add-ClusterResourceDependency is incorrect:
[code]
The generic `-Cluster` parameter indicates what cluster to connect to, not the resource to add the new dependency to.

When I checked the parameter descriptions to find the correct usage, I found that some parameters seem mutually exclusive (like `-InputObject` and `-Resource`). But this isn't called out, and the command do

[2019-11-17 06:13] reuvygroovy opened #1597 "Example is empty"
Hi the example on the page has no content. It's unclear how to use this example

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27b6535e-7541-05b7-9e9c-375e29719968
* Version Independent ID: ccdedaf1-8d1d-7ad5-78d0-39a57286bdd2
* Content: [Remove-RDDatabaseConnectionString (remotedesktop)](https://docs.microsoft.com/en-

[2019-11-18 09:20] slic0r opened #1598 "-RetainFilesOnFailure is missing a description"
The parameter -RetainFilesOnFailure is missing a description.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ecb4f0d3-57cc-12ec-4782-50c4bd76d3df
* Version Independent ID: a6e3366f-d935-d534-b0e9-f250095f9294
* Content: [Add-AppxPackage (appx)](https://docs.microsoft.com/en-us/powershell/module/appx/add-appxpackage?vie

[2019-11-18 09:21] slic0r opened #1599 "-Stage is missing a description"
-Stage parameter is missing a description.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ecb4f0d3-57cc-12ec-4782-50c4bd76d3df
* Version Independent ID: a6e3366f-d935-d534-b0e9-f250095f9294
* Content: [Add-AppxPackage (appx)](https://docs.microsoft.com/en-us/powershell/module/appx/add-appxpackage?view=win10-ps#feedback

[2019-11-19 10:58] pengzhisun commented on #1568
Hi @RAJU2529 , there is no error after this command, I've tried to add an IPConfig  object for one VM NIC to a new load balancer backend pool, but after the command execution, only an empty backend pool created without the IPConfig to be added.

The sample scripts to re-pro:

[code]

[2019-11-19 18:46] e0i commented on #1519
@martin-ellis

With the help of your feedback, the content has been updated with relevant changes accordingly. Thanks.

[2019-11-19 18:46] #1519 closed

[2019-11-20 12:09] gemzon commented on #139
My contribution of failed updates.

Searched for a solution (after a long time of failures which I've ignored).
The only thing found was several old issues, not been taken care of. Why not?

Also, read above about support suggesting a Windows re-installation. Poor guy.
[code]

[2019-11-20 17:55] lbarker66 opened #1603 "Default Behavior Change"
The test-connection default behavior now returns a failure at internetbeacon.msedge.com since it appears that site is no longer up. If this was on purpose a change in the documentation might be in order. there are customers who use that simple code to determine internet connectivity.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki