[2019-03-11 17:00] cnnrshd opened #744 "New-Netfirewallrule -InterfaceType Inconsistent default value"
There is an inconsistency between the paragraph description and the table below it. Paragraph says "Any", table says "None"

[2019-03-11 20:17] e0i commented on #731
@officedocsbot assign @e0i

[2019-03-11 20:19] e0i commented on #330
@officedocsbot close

[2019-03-11 20:22] e0i commented on #330
The PR for this issue has been merged. The issue can be closed @AndreaBarr

[2019-03-11 20:49] e0i commented on #231
@officedocsbot assign @e0i

[2019-03-11 22:40] #124 closed

[2019-03-12 07:01] rnitsch70 commented on #576
Hi
https://docs.microsoft.com/en-us/powershell/module/nettcpip/set-nettcpsetting?view=win10-ps
This is the documentation for set-nettcpsetting on MSDN

[2019-03-12 19:09] e0i commented on #580
@officedocsbot close

[2019-03-12 19:09] #580 closed

[2019-03-12 19:20] e0i commented on #286
@kenwith There is a new PR available for the issue #746

[2019-03-12 19:27] e0i commented on #286
@officedocsbot close

[2019-03-12 19:28] #286 closed

[2019-03-12 19:53] e0i commented on #105
@TamasKazsoki Somehow your issue has been opened without being associated to a documentation topic.

Could you clarify which documentation you're referring to? A link would be helpful.

Thanks.

[2019-03-12 19:56] e0i commented on #135
@martinbherbener  Somehow your issue has been opened without being associated to a documentation topic.

Could you clarify which documentation you're referring to? A link would be helpful.

Thanks.

[2019-03-12 20:40] e0i commented on #123
@dsolodow  Somehow your issue has been opened without being associated to a documentation topic.

Could you clarify which documentation you're referring to? A link would be helpful.

Thanks.

[2019-03-12 21:20] dsolodow commented on #123
It's actually for either the CONTRIBUTING.md or in .vscode.
Just thinking that some linting rules for the markdown files under the docs might be a good way to help manage consistency.

[2019-03-13 12:13] MaratMussabekov commented on #180
Hello, @AikenBM could you please review [PR 752](https://github.com/MicrosoftDocs/windows-powershell-docs/pull/752/files), whether it makes the situation clear?

@jszabo98 , I think the example 4 is ok, as value (ChewDavid) is not a variable, both curly braces and quotes are works correctly. What do you think?

Thank you

[2019-03-13 12:21] martinbherbener commented on #135
Hi,

There is a link in the original comment.  However, it appears that the documentation has been updated since I left the comment, and my comment/concern is no longer applicable, so I'll close.

thanks

Martin

[2019-03-13 12:21] #135 closed

[2019-03-13 13:08] andrewwillett opened #753 "Set-VpnServerIPsecConfiguration vs Set-VpnServerConfiguration"
This article confuses two cmdlets, one of which isn't properly documented:

&gt;  Set-VpnServerConfiguration
&gt;  Set-VpnServerIPsecConfiguration

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca1f61ad-1367-5a1f-d273-5e56403a1398
* Version Independent ID: 51dc34fc-6aab-5fc4-0b98-0baeee3624f4
* Content: [Set-VpnServerC

[2019-03-13 13:10] andrewwillett opened #754 "IPAddressRange parameter"
Only the first IPv4 address range supplied to this parameter is added to the VPN server configuration. The documentation states that multiple ranges will be added:

StartIPRange1, EndIPRange1, StartIPRange2, EndIPRange2, StartIPRange3, EndIPRange3, and so on.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 905472f1-5c82

[2019-03-13 13:15] andrewwillett opened #755 "PptpPorts Parameter missing"
This cmdlet is missing a parameter to configure the maximum number of PPTP Ports (unlike other WAN miniports, minimum 1).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca1f61ad-1367-5a1f-d273-5e56403a1398
* Version Independent ID: 51dc34fc-6aab-5fc4-0b98-0baeee3624f4
* Content: [Set-VpnServerConfiguration (remoteacces

[2019-03-13 13:41] andrewwillett opened #756 "SstpPorts/Ikev2Ports number increase"
Increasing the number of SSTP/IKEv2 ports is unreliable without a full server restart, not just a restart of the RemoteAccess server as advised by a PowerShell warning message.

This is possibly related to increasing WanEndpoints higher than MaxWanEndpoints value. Decreasing the number of ports is unaffected.

Incidentally netsh.exe ras set wanports=n is similarly broken/unreliable.

---
#### Docu

[2019-03-13 15:33] jszabo98 commented on #180
@MaratMussabekov I personally think example 4's filter should be a string, since that is the type, instead of depending on a script block being casted to a string.  Otherwise this teaches people to use something that won't work in all cases.  Quoting in filters seem to be a trial an error kind of thing.  For example, variables don't need to be quoted at all inside a single quoted filter:
[code]
By

[2019-03-13 16:19] msbemba commented on #576
@rnitsch70  Thank you for the feedback. We have created a PR https://github.com/MicrosoftDocs/windows-powershell-docs/pull/757

[2019-03-13 19:08] e0i commented on #293
@officedocsbot close

[2019-03-13 19:08] #293 closed

[2019-03-13 19:31] e0i commented on #313
@kenwith A PR #751 is available for this issue. Please review. Thanks.

[2019-03-13 19:56] schittli opened #758 "This is called Microsoft "Docs"?? It's a shame!"
Good evening

If a PowerShell-Function can be seriously described as documentation, then - of course - it is mandatory to describe the created object and its properties.

This "docs" here could almost be created by a generator using reflection.

It's a shame that M$$ demands many billions and offer this "quality" for fundamental PowerShell cmdlets.

---
#### Document Details

⚠ *Do not edit this s

[2019-03-13 20:29] e0i commented on #137
@officedocsbot close

[2019-03-13 20:29] #137 closed

[2019-03-13 20:37] jzabroski commented on #514
@e0i  Hi - I think the issue here is that the phrase "extent" is overloaded in Microsoft-land, and the examples in isolation don't make it clear what extent this doc is referring to when you land on it from Google Search.

[2019-03-13 20:38] e0i commented on #188
@schittli Glad to hear your feedback. Thanks.

[2019-03-13 20:38] e0i commented on #188
@officedocsbot close

[2019-03-13 20:38] #188 closed

[2019-03-13 20:41] e0i commented on #214
Duplicate of #213

[2019-03-13 20:42] #435 closed

[2019-03-13 20:42] e0i commented on #214
@officedocsbot close

[2019-03-13 20:42] #214 closed

[2019-03-13 20:56] e0i commented on #233
@yupsay Somehow your issue has been opened without being associated to a documentation topic.

Could you clarify which documentation you're referring to? A link would be helpful.

Thanks.

[2019-03-13 22:08] schittli opened #759 "It's Micsorofts Shame #25142, that M$$ is not reviewing it's "Docs""
Of course, "Default value: None" is almost always wrong. The Script has to select a Default value, e.g. for the parameter CaptureLiveState.

But you're right: it's the cheapest 'solution' to write 'this kind of docs'.
They're wrong, incomplete and it's a shame, but we're paying the licenses - so what?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-03-14 04:34] MaratMussabekov commented on #180
** Otherwise this teaches people to use something that won't work in all cases.**
Dear @jszabo98 , I do not think that using curly braces is somehow incorrect: both curly braces and quotes works, as long as PowerShell syntax is correct. More details here [Filters with PowerShell Active Directory Module Cmdlets](https://social.technet.microsoft.com/wiki/contents/articles/28485.filters-with-powershe

[2019-03-14 09:12] OleksiiKondratiev opened #763 "Help page is not valid to the specified command"
This help page is about different command Get-IpamIpAuditEvent that does not exist in Windows Server 2016. Please update data with correct command documentation Get-IpamIpAddressAuditEvent

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90c95d24-6e5d-4aa0-3eeb-9817159795fb
* Version Independent ID: 297ae8c7-e332-051e-68

[2019-03-14 13:06] jszabo98 commented on #180
Just because something is in the documentation, doesn't mean it's correct.  :)

[2019-03-14 20:19] e0i commented on #351
@officedocsbot assign @yogkumgit

[2019-03-14 20:22] e0i commented on #102
@officedocsbot assign @yogkumgit

[2019-03-14 20:22] e0i commented on #108
@officedocsbot assign @yogkumgit

[2019-03-14 20:22] e0i commented on #121
@officedocsbot assign @yogkumgit

[2019-03-14 20:22] e0i commented on #133
@officedocsbot assign @yogkumgit

[2019-03-14 20:22] e0i commented on #138
@officedocsbot assign @yogkumgit

[2019-03-14 20:22] e0i commented on #140
@officedocsbot assign @yogkumgit

[2019-03-14 20:22] e0i commented on #146
@officedocsbot assign @yogkumgit

[2019-03-14 20:22] e0i commented on #145
@officedocsbot assign @yogkumgit

[2019-03-14 20:22] e0i commented on #163
@officedocsbot assign @yogkumgit

[2019-03-14 20:22] e0i commented on #165
@officedocsbot assign @yogkumgit

[2019-03-14 20:22] e0i commented on #168
@officedocsbot assign @yogkumgit

[2019-03-14 20:22] e0i commented on #172
@officedocsbot assign @yogkumgit

[2019-03-14 20:23] e0i commented on #179
@officedocsbot assign @yogkumgit

[2019-03-14 20:23] e0i commented on #178
@officedocsbot assign @yogkumgit

[2019-03-14 20:23] e0i commented on #177
@officedocsbot assign @yogkumgit

[2019-03-14 20:23] e0i commented on #186
@officedocsbot assign @yogkumgit

[2019-03-14 20:23] e0i commented on #187
@officedocsbot assign @yogkumgit

[2019-03-14 20:23] e0i commented on #190
@officedocsbot assign @yogkumgit

[2019-03-14 20:23] e0i commented on #192
@officedocsbot assign @yogkumgit

[2019-03-14 20:23] e0i commented on #197
@officedocsbot assign @yogkumgit

[2019-03-14 20:23] e0i commented on #196
@officedocsbot assign @yogkumgit

[2019-03-14 20:23] e0i commented on #199
@officedocsbot assign @yogkumgit

[2019-03-14 20:23] e0i commented on #202
@officedocsbot assign @yogkumgit

[2019-03-14 20:23] e0i commented on #201
@officedocsbot assign @yogkumgit

[2019-03-14 20:23] e0i commented on #204
@officedocsbot assign @yogkumgit

[2019-03-14 20:23] e0i commented on #206
@officedocsbot assign @yogkumgit

[2019-03-14 20:23] e0i commented on #209
@officedocsbot assign @yogkumgit

[2019-03-14 20:23] e0i commented on #210
@officedocsbot assign @yogkumgit

[2019-03-14 20:23] e0i commented on #218
@officedocsbot assign @yogkumgit

[2019-03-14 20:23] e0i commented on #215
@officedocsbot assign @yogkumgit

[2019-03-14 20:23] e0i commented on #222
@officedocsbot assign @yogkumgit

[2019-03-14 20:23] e0i commented on #223
@officedocsbot assign @yogkumgit

[2019-03-14 20:24] e0i commented on #225
@officedocsbot assign @yogkumgit

[2019-03-14 20:24] e0i commented on #232
@officedocsbot assign @yogkumgit

[2019-03-14 20:24] e0i commented on #236
@officedocsbot assign @yogkumgit

[2019-03-14 20:24] e0i commented on #240
@officedocsbot assign @yogkumgit

[2019-03-14 20:24] e0i commented on #239
@officedocsbot assign @yogkumgit

[2019-03-14 20:24] e0i commented on #242
@officedocsbot assign @yogkumgit

[2019-03-14 20:24] e0i commented on #241
@officedocsbot assign @yogkumgit

[2019-03-14 20:24] e0i commented on #245
@officedocsbot assign @yogkumgit

[2019-03-14 20:24] e0i commented on #247
@officedocsbot assign @yogkumgit

[2019-03-14 20:24] e0i commented on #253
@officedocsbot assign @yogkumgit

[2019-03-14 20:24] e0i commented on #257
@officedocsbot assign @yogkumgit

[2019-03-14 20:24] e0i commented on #269
@officedocsbot assign @yogkumgit

[2019-03-14 20:24] e0i commented on #282
@officedocsbot assign @yogkumgit

[2019-03-14 20:24] e0i commented on #281
@officedocsbot assign @yogkumgit

[2019-03-14 20:24] e0i commented on #280
@officedocsbot assign @yogkumgit

[2019-03-14 20:24] e0i commented on #283
@officedocsbot assign @yogkumgit

[2019-03-14 20:24] e0i commented on #292
@officedocsbot assign @yogkumgit

[2019-03-14 20:24] e0i commented on #291
@officedocsbot assign @yogkumgit

[2019-03-14 20:24] e0i commented on #290
@officedocsbot assign @yogkumgit

[2019-03-14 20:24] e0i commented on #294
@officedocsbot assign @yogkumgit

[2019-03-14 20:24] e0i commented on #298
@officedocsbot assign @yogkumgit

[2019-03-14 20:24] e0i commented on #297
@officedocsbot assign @yogkumgit

[2019-03-14 20:24] e0i commented on #301
@officedocsbot assign @yogkumgit

[2019-03-14 20:24] e0i commented on #304
@officedocsbot assign @yogkumgit

[2019-03-14 20:24] e0i commented on #306
@officedocsbot assign @yogkumgit

[2019-03-14 20:24] e0i commented on #308
@officedocsbot assign @yogkumgit

[2019-03-14 20:24] e0i commented on #310
@officedocsbot assign @yogkumgit

[2019-03-14 20:24] e0i commented on #312
@officedocsbot assign @yogkumgit

[2019-03-14 20:25] e0i commented on #321
@officedocsbot assign @yogkumgit

[2019-03-14 20:25] e0i commented on #322
@officedocsbot assign @yogkumgit

[2019-03-14 20:25] e0i commented on #319
@officedocsbot assign @yogkumgit

[2019-03-14 20:25] e0i commented on #323
@officedocsbot assign @yogkumgit

[2019-03-14 20:25] e0i commented on #324
@officedocsbot assign @yogkumgit

[2019-03-14 20:25] e0i commented on #326
@officedocsbot assign @yogkumgit

[2019-03-14 20:25] e0i commented on #329
@officedocsbot assign @yogkumgit

[2019-03-14 20:25] e0i commented on #331
@officedocsbot assign @yogkumgit

[2019-03-14 20:25] e0i commented on #333
@officedocsbot assign @yogkumgit

[2019-03-14 20:25] e0i commented on #332
@officedocsbot assign @yogkumgit

[2019-03-14 20:25] e0i commented on #339
@officedocsbot assign @yogkumgit

[2019-03-14 20:25] e0i commented on #337
@officedocsbot assign @yogkumgit

[2019-03-14 20:25] e0i commented on #340
@officedocsbot assign @yogkumgit

[2019-03-14 20:25] e0i commented on #341
@officedocsbot assign @yogkumgit

[2019-03-14 20:25] e0i commented on #344
@officedocsbot assign @yogkumgit

[2019-03-14 20:25] e0i commented on #347
@officedocsbot assign @yogkumgit

[2019-03-14 20:25] e0i commented on #350
@officedocsbot assign @yogkumgit

[2019-03-14 20:25] e0i commented on #349
@officedocsbot assign @yogkumgit

[2019-03-14 20:25] e0i commented on #348
@officedocsbot assign @yogkumgit

[2019-03-14 20:33] e0i commented on #273
@skycommand  With the help of your feedback, the issue has been reviewed and an update to the documentation has been published. Thanks for your feedback.

[2019-03-14 20:33] e0i commented on #273
@officedocsbot close

[2019-03-14 20:33] #273 closed

[2019-03-14 20:51] e0i commented on #488
Duplicate of #487

[2019-03-14 20:51] e0i commented on #488
@officedocsbot close

[2019-03-14 20:51] #488 closed

[2019-03-14 21:15] e0i commented on #289
Hello, @randy1200 Thank you for providing feedback.

Note that the form that you have submitted this feedback from is intended for product documentation issues only.

Please consider checking any relevant resources and asking the community about your problem via the following link.

[PowerShell Community](https://docs.microsoft.com/powershell/#pivot=main&panel=community)

Thanks.

[2019-03-14 21:15] e0i commented on #289
@officedocsbot close

[2019-03-14 21:15] #289 closed

[2019-03-14 21:22] e0i commented on #180
@officedocsbot close

[2019-03-14 21:22] #180 closed

[2019-03-14 21:27] e0i commented on #584
@officedocsbot close

[2019-03-14 21:27] #584 closed

[2019-03-14 21:28] e0i commented on #583
@officedocsbot close

[2019-03-14 21:28] #583 closed

[2019-03-14 21:28] e0i commented on #573
@officedocsbot close

[2019-03-14 21:28] #573 closed

[2019-03-14 21:29] e0i commented on #562
@officedocsbot close

[2019-03-14 21:29] #562 closed

[2019-03-14 21:29] e0i commented on #561
@officedocsbot close

[2019-03-14 21:29] #561 closed

[2019-03-14 21:30] e0i commented on #313
@officedocsbot close

[2019-03-14 21:30] #313 closed

[2019-03-14 21:35] e0i commented on #576
@officedocsbot close

[2019-03-14 21:35] #576 closed

[2019-03-14 22:57] skycommand commented on #273
@e0i Hi. I am seeing your PR #747. Please do note that `-Source` requires extensive descriptions to help system administrators understand what constitutes a valid source. I've been struggling with this PowerShell cmdlet for a long time now.

[2019-03-15 04:57] nschonni opened #794 "See Also links to 00000000-0000-0000-0000-000000000000"
https://github.com/MicrosoftDocs/windows-powershell-docs/search?q=00000000-0000-0000-0000-000000000000&type=Code
There are around 330 hits to markdown links in various See Also sections. Maybe a glitch from a migration, but likely need manual intervention to clean up

[2019-03-15 05:15] nschonni opened #798 "Commandlet names are stuck to go.microsoft.com links"
Searching in VS Code for "\w+http://go.microsoft.com" shows around 5K links that are cmdlet name stuck to go.microsoft.com links

https://github.com/MicrosoftDocs/windows-powershell-docs/blame/b3ab7fb7c6bcee8b5e16460eec698d183bf451fd/docset/winserver2012-ps/dnsserver/Remove-DnsServerResourceRecord.md#L83

[code]

You might be able to use regex to break them apart or reformat them as Markdown forma

[2019-03-15 10:03] yogkumgit commented on #201
officedocsbot close

[2019-03-15 14:22] PCNerd2001 commented on #292
The below command will mount a vhd/vhdx and assign a specific drive letter using PowerShell.

#Set the F Drive
$Volumes_VHDX = Mount-VHD -Path "C:\My_Disk2.vhdx" -PassThru | Get-Disk | Get-Partition | Get-Volume | Select-Object DriveLetter

Set-Partition -DriveLetter $Volumes_VHDX.DriveLetter -NewDriveLetter F -Confirm:$false -ErrorAction SilentlyContinue

[2019-03-18 07:20] e0i commented on #343
@officedocsbot close

[2019-03-18 08:37] e0i commented on #176
@TNwestpointtg  With the help of your feedback, the issue has been reviewed and an update to the documentation has been published. Thanks for your feedback.

[2019-03-18 08:37] e0i commented on #176
@officedocsbot close

[2019-03-18 08:37] #176 closed

[2019-03-18 11:43] martinzugec commented on #343
Could we get better explanation of what it does @e0i please? Currently it says "Execute the command to all users."

My understanding is that -AllUsers will not affect provisioning (the main purpose of the cmdlet), but rather removed already provisioned apps from existing profiles. I am afraid that the help section does not really explain what this is used for. Thanks!

[2019-03-18 17:10] MaratMussabekov commented on #371
Hello @aolszowka , please check https://github.com/MicrosoftDocs/windows-powershell-docs/pull/865 , is it what are you talking about? or you mean anything else?
Thank you

[2019-03-18 17:14] e0i commented on #371
@kenwith PR #865 available for the issue.

[2019-03-18 17:20] e0i commented on #254
Hello, @62Hank  thank you for providing feedback.

Note that the feedback section you have submitted this feedback from is intended for product documentation issues only.

Please consider checking with PowerShell community for your problem so that it gets resolved quickly.

[PowerShell Community Links](https://docs.microsoft.com/powershell/#pivot=main&panel=community)

For bug reports specific to

[2019-03-18 17:20] e0i commented on #254
@officedocsbot close

[2019-03-18 17:20] #254 closed

[2019-03-18 18:11] Borkason commented on #343
The update is lazy and doesn't even work. See #344.

@officedocsbot open

[2019-03-18 18:25] Borkason commented on #343
@officedocsbot open

[2019-03-18 18:27] Borkason commented on #343
@coreyp-at-msft Please reopen this ticket. I can't get @officedocsbot to do it.

[2019-03-18 18:31] Malind19 commented on #181
Created pull request.
https://github.com/MicrosoftDocs/windows-powershell-docs/pull/867

[2019-03-18 18:32] Malind19 commented on #151
Created pull request.
 https://github.com/MicrosoftDocs/windows-powershell-docs/pull/866

[2019-03-18 18:34] Malind19 commented on #299
Created Pull Request
https://github.com/MicrosoftDocs/windows-powershell-docs/pull/868

[2019-03-18 18:39] Malind19 commented on #358
Created Pull Request
https://github.com/MicrosoftDocs/windows-powershell-docs/pull/869

[2019-03-18 18:41] Malind19 commented on #412
Created pull request
https://github.com/MicrosoftDocs/windows-powershell-docs/pull/870

[2019-03-18 18:47] Malind19 commented on #718
Created pull request
https://github.com/MicrosoftDocs/windows-powershell-docs/pull/871

[2019-03-18 19:33] Borkason commented on #343
It's probably my fault that I didn't merge both issues. This left #343 in a bit of a haze. Glad that I could clear this up however.

[2019-03-18 20:17] kenwith commented on #718
@Malind19 - did you also create a PR for the get-aduser that the issue mentions? thanks.

[2019-03-19 03:43] Malind19 commented on #718
@kenwith Shall I make it "{" <FilterComponentList> "}" | " <Script> "? Is that the correct syntax? for a string and  a script block

[2019-03-19 04:58] ivassallo19 opened #874 "VirtualDesktopAllocation"
Could you please update this document set, to give more detail around this parameter.

-VirtualDesktopAllocation &lt;Hashtable&gt;

There is no great explanation on the values for this Hashtable.
This seems to be directly related to the Virtual Desktop Allocation screen from Server Manager, where the values indicate how many machines are to be created per server?

---
#### Document Details

⚠ *Do

[2019-03-19 05:22] msbemba commented on #213
@MinutemanHS Thank you for the feedback. We have raised a PR https://github.com/MicrosoftDocs/windows-powershell-docs/pull/875 to add these two examples to the document.

[2019-03-19 11:57] cfalta opened #876 "Documentation error in Set-MpPreference"
The documentation for the parameter "-ThreatIDDefaultAction_Actions" in the cmdlets (Set/Add)-MpPreference is inconsistent.

This link (https://docs.microsoft.com/en-us/powershell/module/defender/set-mppreference?view=win10-ps) states that

This link (https://docs.microsoft.com/en-us/previous-versions/windows/desktop/defender/add-msft-mppreference) states that the value for "Allow" is "6"

I think

[2019-03-20 05:41] jaenicke opened #878 "Parameter LeasingMode is not described"
The parameter LeasingMode, introduced in RS3, should be described as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51c9fbdc-c716-bc1d-e258-300d3f1f22a1
* Version Independent ID: 6eb021c0-0a5f-06a5-625c-ce5a8310677a
* Content: [Set-SmbShare (smbshare)](https://docs.microsoft.com/en-us/powershell/module/smbshare/s

[2019-03-20 11:29] get-itips commented on #102
Hi @yyakushev thanks for your feedback.
I reviewed the article and did not find any reference to that psm1 module that could would need to edit the documentation for Get-VipHostMapping, can you kindly let me know what you see is wrong with this article?

Thank you

[2019-03-20 11:31] get-itips commented on #108
Hi @gtl23 thanks for your comments, I think your questions are more suitable for support services, @yogkumgit will kindly redirect you to the right place.
Thaks!

[2019-03-20 11:36] get-itips commented on #121
Hi @karthiktippireddy9
Thanks for getting in touch.
Is there any issue that you see in documentation? If not, @yogkumgit can redirect you to support to help you.

[2019-03-20 11:42] get-itips commented on #138
I think these questions are more suitable for support services, @yogkumgit can you kindly take over? Thanks

[2019-03-20 11:44] get-itips commented on #140
Hi @chipitsine thanks for finding out! although, from here we can not fix that link @yogkumgit can you kindly take over?
Thank you

[2019-03-20 14:09] yyakushev commented on #102
Hi Andres,

Sorry, I think that I added the issue into the wrong place. The problem that I mentioned was in a module HNVDiagnostics. It happened half and year ago and I don't know if it still exist. I think we can safely close this issue.

Thank you,
Yaroslav

[2019-03-20 14:12] get-itips commented on #102
Thanks to you @yyakushev

[2019-03-20 15:05] yogkumgit commented on #102
@get-itips Thank you very much for the contribution and sharing this explanation. @yyakushev
Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-03-20 15:06] yogkumgit commented on #102
@officedocsbot close

[2019-03-20 15:06] #102 closed

[2019-03-20 17:35] aolszowka commented on #371
@MaratMussabekov Not quite; we want to understand which registry keys are being disabled by this specific task.

Based on the Windows Documentation there are plenty of things that *could* be happening; but because the documentation for this task is vague its unclear. Is there a link to the implementation of this cmdlet?

[2019-03-20 17:50] e0i commented on #151
@officedocsbot close

[2019-03-20 17:50] #151 closed

[2019-03-20 18:12] e0i commented on #213
@kenwith A PR #875 is available for review. Thanks.

[2019-03-20 18:25] get-itips commented on #168
Hi @vikingtiger thanks for your feedback.
Tested in a lab and the given example did not worked as a HashTable.
I will propose to change the given example by creating a pull request.
Thank you

[2019-03-20 18:26] e0i commented on #412
Changes had already been fixed via #433
@officedocsbot close

[2019-03-20 18:26] #412 closed

[2019-03-20 18:29] e0i commented on #299
@officedocsbot close

[2019-03-20 18:29] #299 closed

[2019-03-20 18:37] get-itips commented on #172
I think these questions are more suitable for support services, @yogkumgit can you kindly take over? Thanks

[2019-03-20 18:42] get-itips commented on #177
Hi @rajeshr988
This is for creating issues with current articles, is there any issue with any article that you stumbled upon? if so, can you kindly provide it?
Thank you

[2019-03-20 19:09] get-itips commented on #178
Hi @DavidBerg-MSFT thanks for your suggestion.
I will suggest thru a PR to update the article with this information.

[2019-03-20 19:57] get-itips commented on #163
hi @alexandair thanks for your feedback, I'll create a PR to improve the article based on your comment.

[2019-03-20 20:56] DavidBerg-MSFT commented on #178
Thanks.

[2019-03-20 21:00] get-itips commented on #192
Thanks @poortom1004 for your suggestion, I'll add a PR to update and improve the article.

[2019-03-20 22:37] get-itips commented on #186
hi @Zentris thanks for your suggestion, we removed the link because it's not valid anymore.
Thank you

[2019-03-21 01:24] LuigiBruno opened #884 "XML file format"
What about the format of the XML file? Is it the same file that can be get when executing the below PowerShell
Get-ProcessMitigation -RegistryConfigFilePath settings.xml

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e8a834a-0684-307a-a5b5-ce4b8d439b46
* Version Independent ID: 92d92261-527d-9273-517d-d10f43898522
* C

[2019-03-21 10:42] MaratMussabekov commented on #371
Dear @aolszowka , this cmdlet set registry key "HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\Windows Error Reporting\Disabled" to the value 1.
However, cmdlet descriptions in Microsoft docs do not usually specify this kind of information. I mean, it is usually "cmdlet disables Windows Error Reporting on the server...", not "this cmdlet changes the value of the registry key..."

What do you think?

[2019-03-21 13:27] aolszowka commented on #371
@MaratMussabekov Sounds good to me; the reason I think this originally came about is we thought that you needed to set DontShowUI in addition to setting the disable flag. I think we can close it out as resolved with the additional documentation change to link the Windows Docs as you did in your PR.

[2019-03-21 13:27] #371 closed

[2019-03-21 13:35] yogkumgit commented on #186
@get-itips Thank you very much for the contribution and updating the documentation with PR. @zentris
Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-03-21 13:36] yogkumgit commented on #186
@officedocsbot close

[2019-03-21 13:36] #186 closed

[2019-03-21 13:45] yogkumgit commented on #192
@get-itips Thank you very much for the contribution and updating the documentation with PR. @poortom1004 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-03-21 13:45] yogkumgit commented on #192
@officedocsbot close

[2019-03-21 13:45] #192 closed

[2019-03-21 13:50] yogkumgit commented on #178
@get-itips Thank you very much for the contribution and updating the documentation with PR. @DavidBerg-MSFT Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-03-21 13:50] yogkumgit commented on #178
@officedocsbot close

[2019-03-21 13:50] #178 closed

[2019-03-21 13:53] get-itips commented on #196
Hi @jmichler how are you?
This is to inform of issues in docs article, is there any article that you see presents issues and need to be improved? if not, @yogkumgit will kindly redirect you to some support resources that will help you.
Thank you

[2019-03-21 13:55] yogkumgit commented on #163
@get-itips Thank you very much for the contribution and updating the documentation with PR. @alexandair Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-03-21 13:56] yogkumgit commented on #163
@officedocsbot close

[2019-03-21 13:56] #163 closed

[2019-03-21 14:09] yogkumgit commented on #168
@get-itips Thank you very much for the contribution and updating the documentation with PR. @vikingtiger Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-03-21 14:09] yogkumgit commented on #168
@officedocsbot close

[2019-03-21 14:09] #168 closed

[2019-03-21 14:14] get-itips commented on #197
Hi @jrbilodeau  how  are you? thanks for your feedback.

This is to inform of issues in docs  article, is there any article that you see presents issues and need to be   improved? if not, @yogkumgit will kindly redirect you to some support  resources that will help you.
Thank you

[2019-03-21 14:35] jmichler commented on #196
Hi,
the question/problem is clearly described, I think this is not about a doc but a bug in the cmdlet

[2019-03-21 22:09] get-itips commented on #199
Hi @meziantou thanks for notice! I created a PR to improve the article based on your suggestion.

Thank you

[2019-03-21 22:16] get-itips commented on #202
Hi @mkvalluri thanks for your feedback.
I created a PR to improve the documentation based on your comments.
**Thank you**

[2019-03-21 22:50] VLG17 commented on #165
changes have been made and commit merged.

[2019-03-21 23:17] get-itips commented on #204
Hi @colinangusmackay thanks for your feedback.
A PR has been created to improve the article based on your suggestion.
Thank you!

[2019-03-21 23:25] get-itips commented on #206
Hello @Brain2000 thanks for your feedback.
Description explaining what is a DnsVirtualizationInstance has been added to this article https://docs.microsoft.com/en-us/powershell/module/dnsserver/add-dnsservervirtualizationinstance?view=win10-ps after you posted this issue.
Hope this information helps you.
Thanks!

[2019-03-21 23:33] VLG17 commented on #257
the link redirects have been updated and are going to the correct article.

[2019-03-21 23:49] VLG17 commented on #282
Hi @mythkapo

thank you for your feedback. Indeed, the password should not be shown in plain text. I recommend that you create a suggestion using the UserVoice channel for Windows Server -https://windowsserver.uservoice.com/forums/295047-general-feedback

[2019-03-22 01:52] DavidRawling opened #902 "Description is missing metrics"
Details on the following metrics are missing from the description of this cmdlet:
* AggregatedAverageNormalizedIOPS
* AggregatedAverageLatency
* AggregatedDiskDataRead
* AggregatedDiskDataWritten
* AggregatedNormalizedIOCount
* HardDiskMetrics / AverageNormalizedIOPS
* HardDiskMetrics / AverageLatency
* HardDiskMetrics / DiskDataRead
* HardDiskMetrics / DiskDataWritten
* HardDiskMetrics / Normaliz

[2019-03-22 10:33] yogkumgit commented on #145
@kenwith  please merge this PR, if you find it suitable.

[2019-03-22 10:36] yogkumgit commented on #146
@kenwith please merge this PR, if you find it suitable.

[2019-03-22 10:39] yogkumgit commented on #165
@VLG17  Thank you very much for the contribution and sharing this explanation. @jgpisani
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-03-22 10:39] yogkumgit commented on #165
@officedocsbot close

[2019-03-22 10:39] #165 closed

[2019-03-22 10:46] yogkumgit commented on #187
@kenwith please merge this PR, if you find it suitable.

[2019-03-22 10:48] yogkumgit commented on #190
@kenwith please merge this PR, if find it suitable

[2019-03-22 10:50] yogkumgit commented on #215
@kenwith please merge this PR, if you find it suitable

[2019-03-22 10:53] yogkumgit commented on #218
@kenwith please merge this PR, if you find it suitable

[2019-03-22 10:56] yogkumgit commented on #257
@VLG17  Thank you very much for the contribution and sharing this explanation. @Styxxy
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-03-22 10:57] yogkumgit commented on #257
@officedocsbot close

[2019-03-22 10:57] #257 closed

[2019-03-22 11:01] yogkumgit commented on #269
@kenwith Please merge this PR, if find it suitable

[2019-03-22 11:04] yogkumgit commented on #282
@mythkapo  Thank you very much for your kind feedback. Considering your valuable feedback, as suggested by @VLG17 please logg this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. Thanks again for taking out some time and sharing your feedback.

[2019-03-22 11:05] yogkumgit commented on #282
@officedocsbot close

[2019-03-22 11:05] #282 closed

[2019-03-22 11:08] yogkumgit commented on #291
@kenwith Please merge this PR, if you find it suitable

[2019-03-22 13:25] get-itips commented on #223
Hi @jkobs
Thanks for your comments, we really appreciate them.
I tested in a lab, and got the same error, the article should say:

Set-MsmqQueue -Journaling:$true
or
Set-MsmqQueue -Journaling:$false

I'll create a PR to fix the article.

**Thank you!**

[2019-03-22 15:19] AndresPae opened #904 "-DnsHostname and -restricttosinglehost issues"
In theory -DNS hostname IS NOT server hostname!
It is kind of account DNS name. So you can in result have duplicated hostnames ( for server and MAservice )  or if you specify -restricttosinglehost  cmdlet fails with "Parameter set cannot be resolved using the specified named parameters. "

Please see https://social.technet.microsoft.com/Forums/windowsserver/en-US/9a66d1d5-44e9-4ea1-ba9c-88862023c4

[2019-03-22 16:12] zrbrc opened #905 "Firewall group is wrong"
The above command to open the firewall ports is wrong.

It should be "Distributed Transaction Coordinator" group.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6bb83e47-15b2-86aa-f296-06a44ff798a5
* Version Independent ID: 68a4a153-4502-6620-4edc-d76829e3bc07
* Content: [Test-Dtc (msdtc)](https://docs.microsoft.com/en

[2019-03-22 16:16] MrSent opened #906 "Examples?"
Where are the examples? When I issue the command with no parameters it lists all printers, but because the text is so long in some of the output it truncates the data so I cannot see it. How do you stop the stupid command from truncating the text? Give me a tool but blind me before seeing the output. Great.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2019-03-22 17:01] get-itips commented on #225
Hi @jszabo98 thanks for your comments!
This system is for declaring issues specific with documentation, to suggest new features, the user voice is more suitable, please visit https://windowsserver.uservoice.com/forums/301869-powershell
Thank you!

[2019-03-22 17:13] get-itips commented on #239
Hello @martinbherbener thanks for your feedback.
Actually, Disable-TlsCipherSuite as the documentation of that cmdlet says:

So Get-TlsCipherSuite is showing to you, the ones that are enabled and present in the computer.

Hope this information has helped you.

Thanks!

[2019-03-22 17:44] martinbherbener commented on #239
Ok, well, I agree that the Disable-TlsCipherSuite documentation is clear.  However, if I want to understand what Get-TlsCipherSuite is going to do, I am reading this:

The Get-TlsCipherSuite cmdlet gets the ordered list of cipher suites for a computer that Transport Layer Security (TLS) can use.

and I don't think it's obvious that "can use" means "enabled".  Maybe no one else finds it confusing.

[2019-03-22 17:45] get-itips commented on #239
Thanks @martinbherbener I'll create a PR to improve the article based on your feedback.
Thank you.

[2019-03-22 18:41] e0i commented on #419
Hello, @jdurlewanger  thank you for providing feedback.

Note that the form that you have submitted this feedback from is intended for product documentation issues only.

Please consider checking any relevant resources and asking the community about your problem via the following link.

[PowerShell Community](https://docs.microsoft.com/powershell/#pivot=main&panel=community)

Thanks.

[2019-03-22 18:42] e0i commented on #419
@officedocsbot close

[2019-03-22 18:42] #419 closed

[2019-03-22 18:44] e0i commented on #426
Hello, @jszabo98

It seems that your question has already been answered by the community and thus we are marking this issue as resolved.

Feel free to re-open the issue if you feel it hasn't been resolved.

Thank you for providing feedback.

[2019-03-22 18:44] e0i commented on #426
@officedocsbot close

[2019-03-22 18:44] #426 closed

[2019-03-22 18:48] e0i commented on #463
Hello, @desmondkung

Somehow your issue has been opened without being associated to a documentation topic.

Could you clarify which documentation you're referring to? A link would be helpful.

Thanks.

[2019-03-22 18:49] e0i commented on #476
Hello, @Pxtl Thank you for providing feedback.

Note that the feedback section you have submitted this feedback from is intended for product documentation issues only.

Please consider checking with PowerShell community for your problem so that it gets resolved quickly.

[PowerShell Community Links](https://docs.microsoft.com/powershell/#pivot=main&panel=community)

For bug reports specific to Pow

[2019-03-22 18:49] e0i commented on #476
@officedocsbot close

[2019-03-22 18:49] #476 closed

[2019-03-22 18:51] e0i commented on #511
Hello, @stylerOD  thank you for providing feedback.

Note that the form that you have submitted this feedback from is intended for product documentation issues only.

Please consider checking any relevant resources and asking the community about your problem via the following link.

[PowerShell Community](https://docs.microsoft.com/powershell/#pivot=main&panel=community)

Thanks.

[2019-03-22 18:51] e0i commented on #511
@officedocsbot close

[2019-03-22 18:51] #511 closed

[2019-03-22 18:53] e0i commented on #526
@officedocsbot close

[2019-03-22 18:53] #526 closed

[2019-03-22 18:55] e0i commented on #535
Hello, @JFarthing  thank you for providing feedback.

Note that the form that you have submitted this feedback from is intended for product documentation issues only.

Please consider checking any relevant resources and asking the community about your problem via the following link.

[PowerShell Community](https://docs.microsoft.com/powershell/#pivot=main&panel=community)

Thanks.

[2019-03-22 18:55] e0i commented on #535
@officedocsbot close

[2019-03-22 18:55] #535 closed

[2019-03-22 18:57] e0i commented on #566
Hello, @3ter  thank you for providing feedback.

Note that the form that you have submitted this feedback from is intended for product documentation issues only.

Please consider checking any relevant resources and asking the community about your problem via the following link.

[PowerShell Community](https://docs.microsoft.com/powershell/#pivot=main&panel=community)

Thanks.

[2019-03-22 18:57] e0i commented on #566
@officedocsbot close

[2019-03-22 18:58] e0i commented on #566
@officedocsbot open

[2019-03-22 19:01] schittli opened #907 "No warnings??"
If Update-VMVersion is started by using the Hyper-V Manager, then it displays strange warnings that "this operation will discard all saved state etc."
Therefore, we expect a clear description for those warnings about what exactly will be deleted.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 707f6902-9162-daaa-9c9f-cf

[2019-03-22 19:04] e0i commented on #566
@officedocsbot reopen

[2019-03-22 19:06] schittli opened #908 ""Docs" means "Documentation". Therefore: what exactly is a "saved state"?"
It's really annoying that we have to ask M$ the most basic questions like thise one:
what is a "Saved State" in Hyper-V?
If a VM is powered off, why does it has a saved state?
Do Checkpoints have a saved state - and why?

Yes, real Docs would be very useful for commercial and expensive products.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-03-22 19:17] stylerOD commented on #511
My product documentation issue is that the documentation for Set-WebBinding makes no mention of how to specify the certificate being bound to a site when using port 443.

[2019-03-22 21:34] e0i commented on #224
@kenwith A PR #913 available for this issue. Thanks.

[2019-03-22 22:09] e0i commented on #718
@kenwith Two PRs, #911 and #912 are available for review. Thanks.

[2019-03-23 00:06] desmondkung commented on #463
Hi @e0i
It's been a while for this this. I don't really remember but my guess would be something to do with ADFS Device Registration based on the content of the comment?

[2019-03-23 09:43] eeegs opened #914 "Examples for -Service?"
I can't find any information on the -Service option. Could an example be provided?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35517b3c-d00e-c08d-c274-8b606ad87bfa
* Version Independent ID: 3428c627-8703-752e-fbdf-52526f281f57
* Content: [Enable-BitLocker (bitlocker)](https://docs.microsoft.com/en-us/powershell/modu

[2019-03-24 05:38] VLG17 commented on #319
@hiway65n "Starting with Windows 10, version 1607, you can run PowerShell Cmdlets, BITSAdmin, or other applications that use the BITS interfaces from a PowerShell Remote command line connected to another machine (physical or virtual). This capability is not available when using a PowerShell Direct command line to a virtual machine on the same physical machine, and it is not available when using Wi

[2019-03-24 07:11] VLG17 commented on #349
@MichaelMc64 you can use other methods such as

1. "Services.msc" -> set Windows Error Reporting Service to disabled.
2. HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\Windows Error Reporting -> set Disabled DWORD to 1 (or create it if it's not present)

[2019-03-24 09:38] theoamaya opened #919 "Corrupt files"
Thank you your the best

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc610a0c-fc0d-8a00-a443-3447eb3ec6f0
* Version Independent ID: 2902add4-6897-0d89-9d80-685c58bf1239
* Content: [Add-PartitionAccessPath (storage)](https://docs.microsoft.com/en-us/powershell/module/storage/Add-PartitionAccessPath?view=win10-ps#feedb

[2019-03-24 12:14] get-itips commented on #245
Hi @dzboy15 **Thanks for taking the time to leave feedback, we really appreciate it**.
As this module was introduced for Windows Server 2012, which Ps version is 3.0, it isn't available for Ps version 2.0 nor a version for it.
You will need to run classic command console net.exe to get this information.

**Hope this information has helped you**

[2019-03-24 12:19] get-itips commented on #242
Hi @hewhoisnobody **thanks for your feedback**.

I tested the cmdlet in my lab, and I succesfully exported the layout, the cmdlet expects that all folders on the specified path be created before running it.
I could reproduce your error when the destination path wasn't fully created.

**Hope this information helps you**.

[2019-03-24 23:48] BlackV opened #920 "-All parameter has NO help description, just your place holder text"
Optional Parameters
-All
{{Fill All Description}}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 481fac77-bfea-4bd2-4e1e-fa69e81e9d5f
* Version Independent ID: 1ab5623d-3757-e9a1-13d0-f0518edd2913
* Content: [Get-ClusterAvailableDisk (failoverclusters)](https://docs.microsoft.com/en-us/powershell/module/failovercluster

[2019-03-25 08:35] Malind19 commented on #252
@kenwith Created PR
https://github.com/MicrosoftDocs/windows-powershell-docs/pull/921

[2019-03-25 08:47] Malind19 commented on #342
@kenwith Created the PR https://github.com/MicrosoftDocs/windows-powershell-docs/pull/922

[2019-03-25 08:57] Malind19 commented on #458
PR for this issue https://github.com/MicrosoftDocs/windows-powershell-docs/pull/923

[2019-03-25 09:02] Malind19 commented on #478
Created PR https://github.com/MicrosoftDocs/windows-powershell-docs/pull/924

[2019-03-25 09:42] sowjanya365 commented on #356
Hi @boivsamuel

Thanks for your patience and contribution. Much appreciated.

Please refer to the below URL for "Default Input Profiles (Input Locales) in Windows".

https://docs.microsoft.com/en-us/windows-hardware/manufacture/desktop/default-input-locales-for-windows-language-packs

Hope this information helps you. Kindly confirm. Thank you.

[2019-03-25 10:10] sowjanya365 commented on #327
Hi @Geinsbeing

Thanks for your patience and contribution. Much appreciated.

We've observed that there is no association between "Clear-Disk" cmdlet and the -sanitize flag.

If you think our understanding of this issue is incorrect would you be so kind as to elaborate more on this? It would help us to understand it better and take appropriate steps to correct it or clarify. Thank you.

[2019-03-25 10:31] Mugbaz opened #925 "Set-AssignedAccess System Error 1376 on non-English locale"
When Set-AssignedAccess is run on an non-English localization of Windows an internal net command produces a System Error 1376 when looking for a group specifically titled "administrators" which in this case does not exist.

The following snippet is from a Finnish localization saying "System Error 1376" and "Specified group does not exist."

[code]

This can be remedied by creating a local group ti

[2019-03-25 11:00] yogkumgit commented on #108
@gtl23  Thank you very much for posting this issue. Considering the nature of the issue, it is advised that please open a service ticket in your tenant and follow with them for the resolution. If you wish to know how to open the service ticket, please follow this link:
https://docs.microsoft.com/powershell/#pivot=main&panel=community

We will be very happy if you can share the outcome or resolutio

[2019-03-25 11:00] yogkumgit commented on #108
@officedocsbot close

[2019-03-25 11:00] #108 closed

[2019-03-25 11:03] yogkumgit commented on #121
@karthiktippireddy9 Thank you very much for posting this issue. Considering the nature of the issue, it is advised that please open a service ticket in your tenant and follow with them for the resolution. If you wish to know how to open the service ticket, please follow this link:
https://docs.microsoft.com/powershell/#pivot=main&panel=community

We will be very happy if you can share the outcome

[2019-03-25 11:04] yogkumgit commented on #121
@officedocsbot close

[2019-03-25 11:04] #121 closed

[2019-03-25 11:06] yogkumgit commented on #138
@ Thank you very much for posting this issue. Considering the nature of the issue, it is advised that please open a service ticket in your tenant and follow with them for the resolution. If you wish to know how to open the service ticket, please follow this link:
https://docs.microsoft.com/powershell/#pivot=main&panel=community

We will be very happy if you can share the outcome or resolution with

[2019-03-25 11:07] yogkumgit commented on #138
@officedocsbot close

[2019-03-25 11:07] #138 closed

[2019-03-25 11:09] yogkumgit commented on #172
@kukucz Thank you very much for posting this issue. Considering the nature of the issue, it is advised that please open a service ticket in your tenant and follow with them for the resolution. If you wish to know how to open the service ticket, please follow this link:
https://docs.microsoft.com/powershell/#pivot=main&panel=community

We will be very happy if you can share the outcome or resolutio

[2019-03-25 11:09] yogkumgit commented on #172
@officedocsbot close

[2019-03-25 11:09] #172 closed

[2019-03-25 11:16] yogkumgit commented on #177
@get-itips  Thank you very much for the contribution. @rajeshr988 hope there is no update required in this article. If you see there is a need to update the article please reopen the issue with specific inputs. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-03-25 11:17] yogkumgit commented on #177
@officedocsbot close

[2019-03-25 11:17] #177 closed

[2019-03-25 11:20] yogkumgit commented on #196
@jmichler Thank you very much for posting this issue. Considering the nature of the issue, it is advised that please open a service ticket in your tenant and follow with them for the resolution. If you wish to know how to open the service ticket, please follow this link:
https://docs.microsoft.com/powershell/#pivot=main&panel=community

We will be very happy if you can share the outcome or resolut

[2019-03-25 11:21] yogkumgit commented on #196
@officedocsbot close

[2019-03-25 11:21] #196 closed

[2019-03-25 11:25] yogkumgit commented on #197
@jrbilodeau Thank you very much for posting this issue. Considering the nature of the issue, it is advised that please open a service ticket in your tenant and follow with them for the resolution. If you wish to know how to open the service ticket, please follow this link:
https://docs.microsoft.com/powershell/#pivot=main&panel=community

We will be very happy if you can share the outcome or resol

[2019-03-25 11:26] yogkumgit commented on #197
@officedocsbot close

[2019-03-25 11:26] #197 closed

[2019-03-25 12:42] yogkumgit commented on #242
@get-itips  Thank you very much for the contribution and sharing this explanation. @hewhoisnobody
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-03-25 12:42] yogkumgit commented on #242
@officedocsbot close

[2019-03-25 12:42] #242 closed

[2019-03-25 12:44] yogkumgit commented on #245
@get-itips  Thank you very much for the contribution and sharing this explanation. @dzboy15
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-03-25 12:44] yogkumgit commented on #245
@officedocsbot close

[2019-03-25 12:44] #245 closed

[2019-03-25 12:55] yogkumgit commented on #225
@jszabo98  Thank you very much for your kind feedback. Considering your valuable feedback, as suggested please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. Thanks again for taking out some time and sharing your feedback.

[2019-03-25 12:55] yogkumgit commented on #225
@officedocsbot close

[2019-03-25 12:56] #225 closed

[2019-03-25 12:59] yogkumgit commented on #223
@kenwith please merge this PR if find it suitable

[2019-03-25 13:04] joinimran commented on #553
@GlennJC Thank you for your feedback and help to make docs better. The duplicate line has been removed. And to answer your 2nd question, you need to run the command from Non-RODC server.

[2019-03-25 14:26] yogkumgit commented on #179
@jszabo98 Thank you very much for posting this issue. Considering the nature of the issue, it is advised that please open a service ticket in your tenant and follow with them for the resolution. If you wish to know how to open the service ticket, please follow this link:
https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10

We will be very happy if you can share the outcome o

[2019-03-25 14:27] yogkumgit commented on #179
@officedocsbot close

[2019-03-25 14:27] #179 closed

[2019-03-25 15:11] get-itips commented on #253
Hello @Daniel-Beardsmore
**Thanks for your feedback, we really appreciate it.**

Docs article reflect or try to reflect the functionality _provided by the cmdlet_. As you may know, this issue system only covers issues with documentation, if you have new ideas to improve the behaviour of them, I kindly suggest Powershell UserVoice. https://windowsserver.uservoice.com/forums/301869-powershell

Said

[2019-03-25 15:58] alexkuc commented on #906
Use command Format-List to show the text in a list rather than the table. Then the text won't be truncated. For example, "Get-PrinterPort | Format-List *" or "Get-PrinterPort | FL *". Asterisk is used to avoid omitting any properties.

[2019-03-25 18:50] nicksterx commented on #511
@stylerOD It's not well documented how to do it. But you have to use Get-WebBinding and then AddSslCertificate.

This stackoverflow post helped me
https://serverfault.com/a/757904/50097

Relevant PowerShell:
[code]

[2019-03-25 20:28] e0i commented on #244
@kenwith A PR is available for this issue at #915. Kindly review. Thanks.

[2019-03-25 20:58] e0i commented on #553
@kenwith A PR #926 available for this issue. Please review. Thanks.

[2019-03-25 20:59] e0i commented on #155
@kenwith A PR #927 available for this issue. Please review. Thanks.

[2019-03-25 22:10] kenwith commented on #155
Please send all Office and Windows PowerShell through @AndreaBarr and she will track down product team members that own the area and get sign off.

[2019-03-26 04:55] joinimran commented on #566
@3ter Thank you for sharing your feedback. Can you please format the whole command that works for you so that we can further look in this issue.

[2019-03-26 06:52] MaratMussabekov commented on #723
@e0i ,
article, where link should point (https://docs.microsoft.com/windows-server/identity/ad-fs/deployment/Install-AD-FS-Delegated-Admin), does not exist anymore.

There is still the same article in different locale (https://docs.microsoft.com/cs-cz/windows-server/identity/ad-fs/deployment/install-ad-fs-delegated-admin)

Onur, what should we do?

Thank you

[2019-03-26 19:05] e0i commented on #723
This issue is same as #545 which in turn is same as #35 .

[2019-03-26 19:23] e0i commented on #157
Hello, @giwleb

The `rrsandf_plural` values have actually been typos and have been fixed with recent changes to documentation. See issue #581 for details.

Thanks for providing feedback.

[2019-03-26 19:23] e0i commented on #157
@officedocsbot close

[2019-03-26 19:23] #157 closed

[2019-03-26 21:43] RUGANDH opened #933 "Cannot add hostname for RemoteAddress in New-NetFirewall"
The -RemoteAddress parameter specifies this parameter value can be an IPv4 or IPv6 address, hostname, subnet, range, or the following keyword: Any. However the acceptable formats for this parameter are only address, subnet or a range. We cannot add hostname for this parameter.
I request you to change this public documentation.

One of our Microsoft customers requires this change to be made and to

[2019-03-27 08:56] e0i commented on #181
@officedocsbot close

[2019-03-27 08:56] #181 closed

[2019-03-27 09:02] e0i commented on #358
@officedocsbot close

[2019-03-27 09:02] #358 closed

[2019-03-27 18:37] e0i commented on #718
@officedocsbot close

[2019-03-27 18:37] #718 closed

[2019-03-27 18:41] 3ter commented on #566
[code]

[2019-03-27 20:04] e0i commented on #354
@AndreaBarr Please have the PR #909 for this issue reviewed. Thanks.

[2019-03-27 20:04] e0i commented on #155
@AndreaBarr Please have the PR #927 for this issue reviewed. Thanks.

[2019-03-27 20:04] e0i commented on #252
@AndreaBarr Please have the PR #921 for this issue reviewed. Thanks.

[2019-03-27 20:05] e0i commented on #288
@AndreaBarr Please have the PR #932 for this issue reviewed. Thanks.

[2019-03-27 20:05] e0i commented on #311
@AndreaBarr Please have the PR #931 for this issue reviewed. Thanks.

[2019-03-27 20:05] e0i commented on #342
@AndreaBarr Please have the PR #922 for this issue reviewed. Thanks.

[2019-03-27 20:05] e0i commented on #458
@AndreaBarr Please have the PR #923  for this issue reviewed. Thanks.

[2019-03-27 20:08] e0i commented on #213
@AndreaBarr PR for #875 for this issue has passed technical review via Andres. Please pass through review. Thanks.

cc @kenwith

[2019-03-27 20:52] j0rt3g4 commented on #246
I've worked on this issue and the additional information has been added into PR #935

[2019-03-28 07:17] schtobia commented on #139
Same for de-DE:

    PS C:\WINDOWS\system32> Update-Help
    Update-Help : Fehler beim Aktualisieren von Hilfe für die Module "WindowsUpdateProvider" mit den Benutzeroberflächenkulturen {de-DE}: Die XML-Datei "HelpInfo" für die Benutzeroberflächenkultur de-DE kann nicht abgerufen werden. Stellen Sie sicher, dass die HelpInfoUri-Eigenschaft im Modulmanifest gültig
    ist, oder überprüfen Sie die N

[2019-03-28 14:14] yogkumgit commented on #247
@kenwith kindly merge this PR if you find it suitable

[2019-03-28 14:16] yogkumgit commented on #241
@kenwith please merge this PR, if you find it suitable

[2019-03-28 14:17] yogkumgit commented on #204
@kenwith please merge this PR, if you find it suitable

[2019-03-28 14:18] yogkumgit commented on #202
@kenwith please merge this PR, if you find it suitable

[2019-03-28 14:18] yogkumgit commented on #199
@kenwith please merge this PR, if you find it suitable

[2019-03-29 14:56] peetrike opened #939 "ActiveDirectory module misses about topics"
PowerShell module [ActiveDicretory](https://docs.microsoft.com/en-us/powershell/module/activedirectory) (or addsadministration) lacks About topics that are referenced in several cmdlet help topics and were present in  Windows Server 2008 R2 version of same module.  Those topics are available at https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-server-2008-R2-and-2008/hh5315

[2019-03-29 15:00] yogkumgit commented on #206
@get-itips  Thank you very much for the contribution and sharing this explanation. @Brain2000
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2019-03-29 15:00] yogkumgit commented on #206
@officedocsbot close

[2019-03-29 15:00] #206 closed

[2019-03-29 15:13] yogkumgit commented on #253
@get-itips  Thank you very much for the contribution and sharing this explanation. @Daniel-Beardsmore
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2019-03-29 15:14] yogkumgit commented on #253
@officedocsbot close

[2019-03-29 15:14] #253 closed

[2019-03-29 17:55] Malind19 commented on #93
@e0i I see this clearly explained. Kindly suggest what else is to add.

[2019-03-29 18:34] Malind19 commented on #93
@AndreasL53 Thank you very much for the feedback. Can you kindly suggest what are we missing in this explanation. I can see the command it self explained with details. How can we improve the whole explanation in that section?

[2019-03-30 00:23] dariomws306 commented on #310
Hi @skycommand , thank you for your feedback.

I think we should remove "-Source "C:\Windows\winsxs"" from these examples, this paremeters is not requiered.
Are you agree? Thanks.

[2019-03-30 07:13] skycommand commented on #310
@dariomws306 Hi. Theoretically, replacing "C:\Windows\winsxs" with "\\REMOTE-PC\Windows-share\winsxs" should do the trick.

In practice, however, I cannot answer your question with certainty. If I could, I'd have filed a pull request instead. You see, even before 1809, when Microsoft still published FODv2 discs, I could not use this command with a "-Source" parameter. In a last-ditch effort, I rep

[2019-03-30 13:02] skycommand commented on #310
I'm afraid I cannot say I agree. I did a few tests.

This command works:

    Add-WindowsCapability -Online -Name "Msix.PackagingTool.Driver~~~~0.0.1.0"

But this do not:

    Add-WindowsCapability -Path "E:\Queue\mp\" -Name "Msix.PackagingTool.Driver~~~~0.0.1.0"

So, no. Removing "-Source" does not solve the problem.

Also, I tried adding -Source switch. It looks like in all cases, DISM was looki

[2019-03-30 22:29] Daniel-Beardsmore commented on #253
The page for Set-ADUser is still inadequate, as it does not explain any of the pitfalls with this cmdlet. If the error handling was useful, it would be less of a problem, but the meaningless error handling means that the documentation is required to note all the things you might legitimately expect to work, but that don’t. This is part of the fundamental requirements behind documentation!

[2019-04-01 19:14] CW-Nyobi opened #944 "Legitimate Switches"
In example2 there is a switch -RegistryType, which doesn't actually exist. If its not valid it shouldn't be there.

-In addition the set-netadapteradvancedproperty doesn't succeed if the registrykeyword isn't preexisting. As I would like to set the PnpCapabilities key on each of my adapters to 24(currently not existing), this seems rather a large short coming. Having the -RegistryType would make s

[2019-04-01 23:28] dariomws306 commented on #301
Hi @agowa338, thank you for your feedback.

If you activate parameters starting with "Disable*" you will disable this feature. You activate them with $true.
If you set these paremeters to $false, it won't disable the feature.

[2019-04-02 00:04] dariomws306 commented on #294
Hi @bjessie , thank you for your feedback.

Updates to this article are coming in the next days to fix these issues.

[2019-04-02 00:19] dariomws306 commented on #281
Hi @PowershellPerson , thank you for your feedback.

Could you detail what cmdlets are missing? Thanks.

[2019-04-02 11:12] get-itips commented on #210
Hello @excelsi84 How are you?
Thanks for your feedback.
Article has changed heavily from the moment you created this issue, so, kindly visit the current version of the article that added more and better examples to add or change languages.
**Thank you**

[2019-04-02 12:43] agowa338 commented on #301
It's still inconsistent and misleading, examples:

### DisableEmailScanning

### DisableScanningNetworkFiles

What does it do if neither $True or $False is specified? Do we have some Schrödinger cats here?

[2019-04-02 13:07] dariomws306 commented on #301
Thank you @agowa338!

Both parameters are now fixed.

[2019-04-02 13:40] agowa338 commented on #301
@dariomws306 There are more like this, I only picket these two. Can you have a look at the others too?

[2019-04-02 14:28] get-itips commented on #331
Hello @gitterman
Thanks for your feedback, we appreciate it.
I created a PR to add an example for a UNIX-type sharing, please keep in mind that more steps are needed that are out of the scope of this specific cmdlet article.

Hope you find it useful.

[2019-04-02 14:31] dariomws306 commented on #292
Hi @ilias-selfhost, thank you for your feedback.

I am adding Mount-DiskImage under Related Notes.

[2019-04-02 14:36] get-itips commented on #236
Hello, thanks for your feedback.
I think your question is more suitable for support resources like https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10

Hope this information helps you.

[2019-04-02 15:19] get-itips commented on #306
Hello @hoyty76 thanks for your suggestion. I created a PR to improve the article adding the missing parameter.
Thank you

[2019-04-02 15:50] TheBestPessimist commented on #236
@get-itips what are you talking about?
Is this spam?

[2019-04-03 02:05] dariomws306 commented on #297
Hi @virag004 and @skille , thanks for your feedback.

I have tried PaperSize and Color parameters and I could change them. Could you try again?

[2019-04-03 02:07] dariomws306 commented on #304
Hi @nobrassring , thank you for your feedback.

I think this parameter was updated since you have published this issue. Could you check? Thanks.

[2019-04-03 10:45] fijam opened #949 "parameters insufficiently described"
I assume PFS1, PFS2 and PFS2048 correspond to DH groups 1, 2 and 14 but what is PFSMM?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: feb2472e-4c1f-b26f-709b-12336de2728b
* Version Independent ID: e0eff45a-be41-6dbb-ab48-724c08a854b5
* Content: [Set-VpnConnectionIPsecConfiguration (vpnclient)](https://docs.microsoft.co

[2019-04-03 14:27] nobrassring commented on #304
If it has been changed, it is not much of an improvement. The definition of '-Force' still uses the word 'force', which makes the description circular as in
    "Q: What is a dog?  A: A dog is a dog."
If I ran the command without '-Force' when would it fail to sync?  Why would it fail to sync?
Those are the questions this description should answer.

[2019-04-03 14:54] yogkumgit commented on #298
@BinaryInk Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-04-03 14:54] yogkumgit commented on #298
@officedocsbot close

[2019-04-03 14:54] #298 closed

[2019-04-03 16:48] get-itips commented on #236
Hello @TheBestPessimist  How are you? hope you are doing great.
I replied to the original poster that now seems out of GitHub (His account appears deleted)
This issue system is specifically for issues with documentation.
Other type of issues like the one the original poster submitted are handled by support services.
Hope this clarified the information provided.
Thank you.

[2019-04-03 18:03] get-itips commented on #351
hello @4lex11s
Thanks for your comments.
I created a PR to improve the article based in your comments.
Thank you

[2019-04-03 19:29] get-itips commented on #312
Hello @darksidemilk
Thanks for your feedback.
As this issue system is specific for issues found in documentation and what you describe belongs exclusively to the cmdlet/module I suggest you to kindly visit this resource https://windowsserver.uservoice.com/forums/301869-powershell to make this suggestion.
**Thank you!**

[2019-04-03 19:39] get-itips commented on #322
Hello @IntelligentSiliconLtd thanks for your feedback.

I think that this support resource https://support.microsoft.com/en-us/hub/4338813/windows-help?os=windows-10 better fits your request, kindly check it.

**Thank you**

[2019-04-03 20:00] get-itips commented on #323
Hello @blankf thanks for your feedback. We really appreciate it.

I think that this support resource https://support.microsoft.com/en-us/supportforbusiness/productselection better fits your request, kindly check it.

Thank you

[2019-04-03 20:18] get-itips commented on #324
Hello @jszabo98
Thanks for your feedback.
Your question is more related to general powershell than the cmdlet so I kindly suggest you look on how to cast data types in Powershell, as this system is specific for issues with documentation.

**Thank you**

[2019-04-03 20:22] e0i commented on #93
@AndreasL53

We couldn't get further clarification regarding suggested improvements. Feel free to re-open this issue with further clarification if you feel that it hasn't been resolved.

Thank you for providing feedback.

[2019-04-03 20:22] e0i commented on #93
@officedocsbot close

[2019-04-03 20:22] #93 closed

[2019-04-03 21:00] e0i commented on #311
The issue had been addressed via PR #456

[2019-04-03 21:00] e0i commented on #311
@officedocsbot close

[2019-04-03 21:00] #311 closed

[2019-04-03 21:08] get-itips commented on #326
Hello @neilfairall thanks for reaching out.
Could you please specify what is the issue with the Search-ADAccount article?
Thank you!

[2019-04-03 21:58] get-itips commented on #329
Hello @skycommand Thanks for your suggestion, I created a pull request to improve the article based on your comments.
Thanks

[2019-04-04 00:09] get-itips commented on #340
Hello @arthas1123 Thanks for your feedback.

At the bottom of the article you will find Outputs, as the cmdlet returns a MSFT_StorageReliabilityCounter object, you can find the units of the output of this cmdlet at
https://docs.microsoft.com/en-us/previous-versions/windows/desktop/stormgmt/msft-storagereliabilitycounter

Hope this information helps you.

Thanks

[2019-04-04 00:15] get-itips commented on #341
Hello @skycommand thanks for your feedback.

I created a PR to improve the article so the online version link points to a valid url.

Thank you

[2019-04-04 00:21] dariomws306 commented on #301
Hi @agowa338 ,

I have verified and I cannot see more missing. Thanks.

[2019-04-04 05:40] TheBestPessimist commented on #236
But imo what @op said is a documentation issue. The problem with `Update-Help` happens since at least a year ago in Windows 10.

Here's what happens on my machine:

[code]

[2019-04-04 05:48] dozer75 opened #955 "Firewall feedback is wrong."
The tools is broken.

I have disabled the firewalls on both computers, but still getting warnings about firewall rules that is disabled. The firewall rules doesn't even exists on Windows 10/Windows Server 2016.

Because of this, it will stop with the following error:

DTC security settings and firewall settings should be fixed in order to complete the transactions propagation test.

---
#### Docum

[2019-04-04 11:11] get-itips commented on #236
Hello @TheBestPessimist thanks for your reply.
This issue system is specific for when you find issues with how the documentation is written online, for example if some specific article is missing some parameter information.
There is this specific resource I sent when you need support, and that includes errors when you try to download/update/ the help of a cmdlet in your setup.

Hope this informati

[2019-04-04 13:23] dariomws306 commented on #310
Second example works for me:
Add-WindowsCapability -Name "Language.TextToSpeech~~~fr-FR~0.0.1.0" -Online -LimitAccess -Source "C:\Windows\winsxs"

I cannot test the first example because I don't have an OS image in my disk to add this capability. But It will use the same files in "C:\Windows\winsxs", so it should work.

Have you test in another OS/Machine?

[2019-04-04 13:40] dariomws306 commented on #304
Ok, I am adding more detail.

Thank you for your feedback.

[2019-04-04 13:53] skycommand commented on #310
Hi. Thanks for writing back.

Dozens. My job requires that I work on many different machines. And anyway, I cannot reproduce it on a pristine VM.

May I please know what does "works for me" exactly means here? Do you mean that when you run it, it completes without generating an error message? That, I am afraid, is not enough; this command tells the servicing stack to add the French language from y

[2019-04-04 13:58] dariomws306 commented on #310
Hi @skycommand.

Yes I think that if you are trying to use in complex scenarios the cmdlet and it doesn't work the best place to go is support.
Here we are available to help people to fix docs mistakes and improve them. And you are in the right direction about that examples are usually simple examples with easy and useful purpose.

Thank you again for your feedback.

[2019-04-04 14:13] skycommand commented on #310
@dariomws306 Good news. Microsoft Support agent referred me to the old documentation pages for the old `dism.exe`. They are much clearer. I'll probably submit a PR to fix this documentation page based on that. I think it is safe that I close this topic and take it off your plate. (After all, you can reopen it if you felt it is needed, right?)

[2019-04-04 14:13] #310 closed

[2019-04-04 15:25] j0rt3g4 commented on #246
I've created a new PR solve this issue #954

[2019-04-04 16:06] get-itips commented on #339
Hello @DaveHelps Thanks for your feedback.
I created a Pull Request to update the output data types based on your comments.
We really appreciate your help and suggestions.
Thank you

[2019-04-04 17:10] ivoruetsche opened #958 "Get-NfsMappedIdentity not working with UserIdentifier 0"
When I try to check the mapped username to uid 0, I don't get a result:
(Get-NfsMappedIdentity -AccountType User -UserIdentifier 0).UserName
Every uid &gt; 0 works, also (Get-NfsMappedIdentity -AccountType Group -GroupIdentifier 0).GroupName works fine, but not uid=0
(Windows 2012)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2019-04-04 20:18] e0i commented on #213
@officedocsbot close

[2019-04-04 20:19] #213 closed

[2019-04-04 21:08] e0i commented on #327
Hello @Geinsbeing,

We are closing this issue since your support question seems to be answered. Feel free to re-open this issue if you still experience problems.

Thanks.

[2019-04-04 21:08] e0i commented on #327
@officedocsbot close

[2019-04-04 21:08] #327 closed

[2019-04-05 09:14] e0i commented on #246
@nenonix @JohanFreelancer9 Kindly perform copy editing on this PR. Thanks.

[2019-04-05 09:50] e0i commented on #155
@therefriedbean We have updated the documentation with relevant links. Thanks for your feedback.

[2019-04-05 09:50] e0i commented on #155
@officedocsbot close

[2019-04-05 09:50] #155 closed

[2019-04-05 09:51] e0i commented on #252
@Daniel-Beardsmore Upon your feedback, We have updated the content with relevant changes. Thanks.

[2019-04-05 09:52] e0i commented on #252
@officedocsbot close

[2019-04-05 09:52] #252 closed

[2019-04-05 09:52] e0i commented on #288
@bharath993 Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-04-05 09:52] e0i commented on #288
@officedocsbot close

[2019-04-05 09:52] #288 closed

[2019-04-05 09:53] e0i commented on #342
@tofkamp  Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-04-05 09:53] e0i commented on #342
@officedocsbot close

[2019-04-05 09:53] #342 closed

[2019-04-05 09:54] tdimli opened #962 "Supported range for LocalASN parameter"
LocalASN parameter is defined as UInt32 but only values between 1 and 65534 are supported by this cmdlet. It would be helpful to have the valid range documented here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6198f91-958e-f682-a09f-50622b790b28
* Version Independent ID: f7955b94-a3e3-5935-6072-7f5363a2f76b
* Cont

[2019-04-05 09:54] e0i commented on #458
@eponerine  With the help of your feedback, the issue has been reviewed and an update to the documentation has been published. Thanks for your feedback.

[2019-04-05 09:55] e0i commented on #458
@officedocsbot close

[2019-04-05 09:55] #458 closed

[2019-04-05 09:56] e0i commented on #478
@gabriuz  Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-04-05 09:56] e0i commented on #478
@officedocsbot close

[2019-04-05 09:56] #478 closed

[2019-04-05 09:57] e0i commented on #566
@3ter  With the help of your feedback, the issue has been reviewed and an update to the documentation has been published. Thanks for your feedback.

[2019-04-05 09:57] e0i commented on #566
@officedocsbot close

[2019-04-05 09:57] #566 closed

[2019-04-05 15:41] yogkumgit commented on #292
@dariomws306  Thank you very much for the contribution and updating the documentation with PR. @ilias-selfhost Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-04-05 15:42] yogkumgit commented on #292
@officedocsbot close

[2019-04-05 15:42] #292 closed

[2019-04-05 15:46] yogkumgit commented on #294
@dariomws306  Thank you very much for the contribution and updating the documentation with PR. @bjessie Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-04-05 15:46] yogkumgit commented on #294
@officedocsbot close

[2019-04-05 15:46] #294 closed

[2019-04-05 15:52] yogkumgit commented on #290
@bithost Thank you very much for posting this issue. Considering the nature of the issue, it is advised that please open a service ticket in your tenant and follow with them for the resolution.
https://docs.microsoft.com/powershell/#pivot=main&panel=community

We will be very happy if you can share the outcome or resolution with us. We will certainly update this documentation with that valuable in

[2019-04-05 15:53] yogkumgit commented on #290
@officedocsbot close

[2019-04-05 15:53] #290 closed

[2019-04-05 15:57] yogkumgit commented on #301
@dariomws306  Thank you very much for the contribution and updating the documentation with PR. @agowa338 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-04-05 15:58] yogkumgit commented on #301
@officedocsbot close

[2019-04-05 15:58] #301 closed

[2019-04-05 16:01] yogkumgit commented on #304
@dariomws306  Thank you very much for the contribution and updating the documentation with PR. @nobrassring Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-04-05 16:01] yogkumgit commented on #304
@officedocsbot close

[2019-04-05 16:01] #304 closed

[2019-04-05 16:04] yogkumgit commented on #145
@VLG17  Thank you very much for the contribution and updating the documentation with PR. @nedpyle
Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-04-05 16:04] yogkumgit commented on #145
@officedocsbot close

[2019-04-05 16:04] #145 closed

[2019-04-05 16:08] yogkumgit commented on #146
@VLG17  Thank you very much for the contribution and updating the documentation with PR. @nedpyle
Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-04-05 16:08] yogkumgit commented on #146
@officedocsbot close

[2019-04-05 16:08] #146 closed

[2019-04-05 16:12] yogkumgit commented on #190
@VLG17  Thank you very much for the contribution and updating the documentation with PR. @Ulyssys
Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-04-05 16:12] yogkumgit commented on #190
@officedocsbot close

[2019-04-05 16:12] #190 closed

[2019-04-05 16:22] yogkumgit commented on #218
@VLG17  Thank you very much for the contribution and updating the documentation with PR. @joakimlemb  Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-04-05 16:23] yogkumgit commented on #218
@officedocsbot close

[2019-04-05 16:23] #218 closed

[2019-04-05 16:24] yogkumgit commented on #232
@VLG17  Thank you very much for the contribution and updating the documentation with PR. @boffies
Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-04-05 16:25] yogkumgit commented on #232
@officedocsbot close

[2019-04-05 16:25] #232 closed

[2019-04-05 16:27] yogkumgit commented on #269
@VLG17  Thank you very much for the contribution and updating the documentation with PR. @brianhorizon  Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-04-05 16:27] yogkumgit commented on #269
@officedocsbot close

[2019-04-05 16:27] #269 closed

[2019-04-05 16:58] yogkumgit commented on #140
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @chipitsine Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-04-05 16:58] yogkumgit commented on #140
@officedocsbot close

[2019-04-05 16:58] #140 closed

[2019-04-05 16:59] nobrassring commented on #304
Much better now. Thank you.

[2019-04-05 17:13] yogkumgit commented on #199
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @meziantou Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-04-05 17:13] yogkumgit commented on #199
@officedocsbot close

[2019-04-05 17:13] #199 closed

[2019-04-05 17:21] yogkumgit commented on #236
@TheBestPessimist  Thank you very much for posting this issue. Considering the nature of the issue, it is advised that please open a service ticket in your tenant and follow with them for the resolution.
https://docs.microsoft.com/powershell/#pivot=main&panel=community

We will be very happy if you can share the outcome or resolution with us. We will certainly update this documentation with that v

[2019-04-05 17:22] yogkumgit commented on #236
@officedocsbot close

[2019-04-05 17:22] #236 closed

[2019-04-05 17:24] e0i commented on #553
@GlennJC  Upon your feedback, We have updated the content with relevant changes accordingly. Thanks for your feedback.

[2019-04-05 17:24] e0i commented on #553
@officedocsbot close

[2019-04-05 17:24] #553 closed

[2019-04-05 17:26] yogkumgit commented on #239
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @martinbherbener Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-04-05 17:26] yogkumgit commented on #239
@officedocsbot close

[2019-04-05 17:26] #239 closed

[2019-04-05 17:29] yogkumgit commented on #241
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @davewoodward Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-04-05 17:29] yogkumgit commented on #241
@officedocsbot closed

[2019-04-05 17:29] #241 closed

[2019-04-05 17:34] yogkumgit commented on #210
@get-itips  Thank you very much for the contribution and sharing this explanation. @excelsi84
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-04-05 17:34] yogkumgit commented on #210
@officedocsbot close

[2019-04-05 17:35] #210 closed

[2019-04-05 17:39] yogkumgit commented on #339
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @DaveHelps Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-04-05 17:39] yogkumgit commented on #339
@officedocsbot close

[2019-04-05 17:39] #339 closed

[2019-04-05 17:42] yogkumgit commented on #351
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @4lex11s Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-04-05 17:42] yogkumgit commented on #351
@officedocsbot close

[2019-04-05 17:42] #351 closed

[2019-04-05 17:45] yogkumgit commented on #312
@get-itips  Thank you very much for the contribution and sharing this explanation. @darksidemilk
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-04-05 17:46] yogkumgit commented on #312
@officedocsbot closed

[2019-04-05 17:46] #312 closed

[2019-04-05 17:49] yogkumgit commented on #322
@IntelligentSiliconLtd  Thank you very much for posting this issue. Considering the nature of the issue, it is advised that please open a service ticket in your tenant and follow with them for the resolution.

We will be very happy if you can share the outcome or resolution with us. We will certainly update this documentation with that valuable information. Thanks again, for taking out some time t

[2019-04-05 17:49] yogkumgit commented on #322
@officedocsbot close

[2019-04-05 17:49] #322 closed

[2019-04-05 17:51] yogkumgit commented on #323
@Blankf Thank you very much for posting this issue. Considering the nature of the issue, it is advised that please open a service ticket in your tenant and follow with them for the resolution.

We will be very happy if you can share the outcome or resolution with us. We will certainly update this documentation with that valuable information. Thanks again, for taking out some time to open the issue

[2019-04-05 17:51] yogkumgit commented on #323
@officedocsbot close

[2019-04-05 17:51] #323 closed

[2019-04-05 17:54] yogkumgit commented on #324
@get-itips  Thank you very much for the contribution and sharing this explanation. @jszabo98
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-04-05 17:54] yogkumgit commented on #324
@officedocsbot close

[2019-04-05 17:54] #324 closed

[2019-04-05 17:56] yogkumgit commented on #329
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @skycommand Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-04-05 17:57] yogkumgit commented on #329
@officedocsbot close

[2019-04-05 17:57] #329 closed

[2019-04-05 18:00] yogkumgit commented on #340
@get-itips  Thank you very much for the contribution and sharing this explanation. @arthas1123
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-04-05 18:00] yogkumgit commented on #340
@officedocsbot close

[2019-04-05 18:00] #340 closed

[2019-04-05 18:02] yogkumgit commented on #341
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @skycommand Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-04-05 18:02] yogkumgit commented on #341
@officedocsbot close

[2019-04-05 18:02] #341 closed

[2019-04-05 18:05] yogkumgit commented on #344
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @Borkason Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-04-05 18:05] yogkumgit commented on #344
@officedocsbot close

[2019-04-05 19:48] Borkason commented on #344
@yogkumgit No man, the PR is trash. I commented about that there. The commands are broken and the PR doesn't address how they work at all. You should have at least looked at that before closing this ticket. This makes not wanna try to improve documentations at all anymore, if you at Microsoft don't take the time to quality check.

I hope this wasn't a waste of my time...

[2019-04-05 19:51] Borkason commented on #344
@yogkumgit Have you looked at my comments about that PR? The explanation is wrong. The quality is bad. And worst of all, the PR does not address this issue **at all**, which is blatantly obvious but you didn't even care to read into it.

I expected more from a project manager and consultant, than closing a valid issue that is still very much unsolved!

This is the second time a ticket of mine was

[2019-04-05 19:52] Borkason commented on #962
@officedocsbot close

[2019-04-05 19:58] kenwith commented on #344
@yogkumgit @get-itips see above.

@Borkason - we are doing the best we can and really appreciate your contributions. We don't take offense when we make a mistake on closing one and it is OK to re-open. We are all learning and trying to get better.

[2019-04-05 20:01] Borkason commented on #344
It would be easier if we could reopen ourselves. Communication is hard enough with Microsoft as it is. I don't really want to hope and pray that it's being reopened. This is stressful. I just wanna do it.

[2019-04-05 20:05] kenwith commented on #344
I agree. I thought the person that opened the original issue could also open it again themselves. I wonder if it has to do with the Issue being opened from the document in docs.microsoft.com (bottom of the page).

I think if an issue is opened in GitHub directly then person that opened it can re-open at any time.

I am going to look into how these can be changed so you can re-open. I agree if some

[2019-04-05 20:07] Borkason commented on #344
No, I couldn't re-open the ticket as well as the other one. The button wasn't there. I can only close my open tickets. Thanks for looking into this.

[2019-04-05 21:31] dariomws306 commented on #304
You're welcome!

Thank you for your contribution!

[2019-04-05 22:01] e0i commented on #344
@Borkason In our investigation we have found that there might be a bug.

Our team has been reviewing the issue for couple of days and they have not been able to "find a working combination of the Remove-AppXPProvisionedPackage with the -AllUsers parameter"

We suspect that "AllUsers parameter might be in the source code but doesn't work;" and note, "-AllUsers parameter seems to be valid for Get-Ap

[2019-04-08 13:23] AvrumFocus opened #964 "-Reset parameter not needed"
From my experience the -reset parameter is not needed when resetting a password, simply using -newpassword with a value without providing an -oldpassword parameter value will also reset the password.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4ccc946-9393-581d-8ca2-e32d4c8ce99c
* Version Independent ID: 50982f9a-a

[2019-04-08 14:28] yogkumgit commented on #281
@PowershellPerson We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-04-08 14:28] yogkumgit commented on #281
@officedocsbot close

[2019-04-08 14:28] #281 closed

[2019-04-08 14:32] yogkumgit commented on #297
@dariomws306  Thank you very much for the contribution and sharing this explanation. @virag004
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-04-08 14:32] yogkumgit commented on #297
@officedocsbot close

[2019-04-08 14:32] #297 closed

[2019-04-08 18:35] e0i commented on #356
Hello @boivsamuel

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-04-08 18:35] e0i commented on #356
@officedocsbot close

[2019-04-08 18:35] #356 closed

[2019-04-08 19:23] e0i commented on #463
Hello, @desmondkung

Based on the provided information, we could not identify which documentation this issue might be associated with.

Note that the feedback section you have used to submit this issue is intended for product documentation issues only.

Thus, please consider opening a product support ticket by the following link below for your problem so that it gets resolved quickly.

[Windows 10

[2019-04-08 19:23] e0i commented on #463
@officedocsbot close

[2019-04-08 19:23] #463 closed

[2019-04-08 19:24] e0i commented on #233
@officedocsbot close

[2019-04-08 19:24] #233 closed

[2019-04-08 19:28] e0i commented on #105
@officedocsbot close

[2019-04-08 19:28] #105 closed

[2019-04-08 19:31] e0i commented on #144
@officedocsbot close

[2019-04-08 19:31] #144 closed

[2019-04-08 21:05] #448 closed

[2019-04-08 23:07] javincraig opened #966 "Typo Example 2"
Example 2: Get all IPv4 DHSP servers in the IPAM server inventory
I believe should be
Example 2: Get all IPv4 DHCP servers in the IPAM server inventory

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99397990-a9e6-4c7d-27d1-243ef44eb179
* Version Independent ID: 4bd48375-f086-455d-e50c-8cbb349a06b5
* Content: [Get-IpamS

[2019-04-09 13:03] 3ter opened #968 "Remove the optional flags [ ] for the mandatory parameters"
Hi there,

when you run `Search-ADAccount` there is no default parameter set. You have to specify one e.g. `-AccountDisabled`.
In the output of `Search-ADAccount -?` the [ ] are also missing to reflect that it is mandatory to specify at least one of these parameters.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87483

[2019-04-09 18:30] e0i commented on #968
@officedocsbot add label test

[2019-04-09 18:30] e0i commented on #968
@officedocsbot delete label test

[2019-04-09 18:34] e0i commented on #722
@officedocsbot unassign e0i

[2019-04-09 18:35] e0i commented on #722
@officedocsbot assign @e0i

[2019-04-09 18:52] get-itips commented on #332
Hello @ucgeek thanks for your feedback.
Article was updated after you added this suggestion, https://github.com/MicrosoftDocs/windows-powershell-docs/commit/c9539f5da3dde4a34fb6ad4028a8815283cb089a#diff-656ae923cdc063b67fd62eba3653bb06 thank you

[2019-04-09 18:53] e0i commented on #224
@arowswell  Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

_PS: The PR `#915` is an accidental reference to this issue, please ignore._

[2019-04-09 18:53] e0i commented on #224
@officedocsbot close

[2019-04-09 18:53] #224 closed

[2019-04-09 19:03] get-itips commented on #347
Hello, @diaz405 could you please tell us what is the issue description for the referenced article? thank you

[2019-04-09 22:07] e0i commented on #966
@officedocsbot assign @e0i

[2019-04-09 22:07] e0i commented on #728
@officedocsbot assign @e0i

[2019-04-09 22:08] e0i commented on #231
@officedocsbot assign @e0i

[2019-04-10 09:29] yogkumgit commented on #187
@VLG17  Thank you very much for the contribution and updating the documentation with PR. @george-chakhidze Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-04-10 09:29] yogkumgit commented on #187
@officedocsbot close

[2019-04-10 09:29] #187 closed

[2019-04-10 09:32] yogkumgit commented on #215
@VLG17  Thank you very much for the contribution and updating the documentation with PR. @claymen Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-04-10 09:32] yogkumgit commented on #215
@officedocsbot close

[2019-04-10 09:32] #215 closed

[2019-04-10 09:41] yogkumgit commented on #202
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @mkvalluri Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-04-10 09:42] yogkumgit commented on #202
@officedocsbot close

[2019-04-10 09:42] #202 closed

[2019-04-10 09:45] yogkumgit commented on #204
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @colinangusmackay Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-04-10 09:46] yogkumgit commented on #204
@officedocsbot close

[2019-04-10 09:46] #204 closed

[2019-04-10 09:48] yogkumgit commented on #223
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @jkobs
Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-04-10 09:48] yogkumgit commented on #223
@officedocsbot close

[2019-04-10 09:48] #223 closed

[2019-04-10 09:51] yogkumgit commented on #306
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @hoyty76 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-04-10 09:51] yogkumgit commented on #306
@officedocsbot close

[2019-04-10 09:51] #306 closed

[2019-04-10 09:53] yogkumgit commented on #331
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @gitterman Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-04-10 09:54] yogkumgit commented on #331
@officedocsbot close

[2019-04-10 09:54] #331 closed

[2019-04-10 10:17] e0i commented on #388
@officedocsbot close

[2019-04-10 10:17] #388 closed

[2019-04-10 10:34] e0i commented on #231
Hello, @luke-MEE

The issue that you have addressed has been fixed via the following commit. Thank you for your feedback.

[ Update reset-physicaldisk.md ](https://github.com/MicrosoftDocs/windows-powershell-docs/commit/66aae808a1d215b05a02aade88c2a50341cf1b99)

[2019-04-10 10:34] e0i commented on #231
@officedocsbot close

[2019-04-10 10:34] #231 closed

[2019-04-10 16:20] yogkumgit commented on #291
@VLG17  Thank you very much for the contribution and updating the documentation with PR. @edwardg-MSFT Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-04-10 16:20] yogkumgit commented on #291
@officedocsbot close

[2019-04-10 16:20] #291 closed

[2019-04-10 17:01] colinangusmackay commented on #204
Thank you. It is much appreciated.

[2019-04-10 17:19] get-itips commented on #350
Hello @MiguelAlho  thanks for your feedback.
Article was updated after you added this suggestion, thank you

[2019-04-10 18:24] e0i commented on #442
Hello, @bdcoder2

Hello, @bdcoder2

The rrsandf_plural values have actually been typos and have been fixed with recent changes to documentation. See issue #581 for details.

Thanks for providing feedback.

[2019-04-10 18:24] e0i commented on #442
@bdcoder2,

We are closing this issue since your support question seems to be answered. Feel free to re-open this issue if you still experience problems.

Thanks.

[2019-04-10 18:25] e0i commented on #442
@officedocsbot close

[2019-04-10 18:25] #442 closed

[2019-04-10 19:16] e0i commented on #572
Hello, @thetrav thank you for providing feedback.

Note that the form that you have submitted this feedback from is intended for product documentation issues only.

Please consider checking any relevant resources and asking the community about your problem via the following link.

[PowerShell Community](https://docs.microsoft.com/powershell/#pivot=main&panel=community)

Thanks.

[2019-04-10 19:16] e0i commented on #572
@officedocsbot close

[2019-04-10 19:16] #572 closed

[2019-04-10 19:18] e0i commented on #722
Hello, @dsolodow  thank you for providing feedback.

Note that the form that you have submitted this feedback from is intended for product documentation issues only.

Please consider checking any relevant resources and asking the community about your problem via the following link.

[PowerShell Community](https://docs.microsoft.com/powershell/#pivot=main&panel=community)

Thanks.

[2019-04-10 19:18] e0i commented on #722
@officedocsbot close

[2019-04-10 19:18] #722 closed

[2019-04-11 00:06] e0i commented on #395
Hello, @Digger937  thank you for providing feedback.

Note that the form that you have submitted this feedback from is intended for product documentation issues only.

Please consider checking any relevant resources and asking the community about your problem via the following link.

[PowerShell Community](https://docs.microsoft.com/powershell/#pivot=main&panel=community)

Thanks.

[2019-04-11 00:06] e0i commented on #395
@officedocsbot close

[2019-04-11 00:06] #395 closed

[2019-04-11 02:26] j0rt3g4 commented on #244
@e0i Any update on this PR? thank you in advance

[2019-04-11 18:46] Malind19 commented on #364
@e0i Created PR https://github.com/MicrosoftDocs/windows-powershell-docs/pull/973

[2019-04-11 18:52] Malind19 commented on #487
@e0i Can we please check from the tech team whether user needs to be on that machine administrator group or the domain admin group?

[2019-04-11 19:15] wvoyek opened #974 "Errors on Remove-WebVirtualDirectory doc"
`Site` and `Application` are listed as optional but are actually required from my experience using this command.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00544400-b443-d558-a315-e03392d528ff
* Version Independent ID: 35c13c66-4b89-a2e3-cc0a-08e744877492
* Content: [Remove-WebVirtualDirector

[2019-04-11 19:17] wvoyek opened #975 "Additional Parameters for Remove-WebVirtualDirectory"
Please add a `-Recurse` parameter and/or a `-Force` parameter for this cmdlet.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00544400-b443-d558-a315-e03392d528ff
* Version Independent ID: 35c13c66-4b89-a2e3-cc0a-08e744877492
* Content: [Remove-WebVirtualDirectory (webadminstration)](https://docs

[2019-04-11 20:48] e0i commented on #424
Hello, @AveYo

Somehow your issue has been opened without being associated to a documentation topic.

Could you clarify which documentation you're referring to? A link would be helpful.

Thanks.

[2019-04-11 20:57] e0i commented on #443
@doctordns  Somehow your issue has been opened without being associated to a documentation topic.

Could you clarify which documentation you're referring to? A link would be helpful.

Thanks.

[2019-04-12 01:01] #966 closed

[2019-04-12 12:59] doctordns commented on #443
https://docs.microsoft.com/en-us/powershell/module/dnsserver/test-dnsserver is the page. The issue also notes the GitHub Path.

In my case, I never see TCPTried being TRUE. In my home domain I see this:

[code]

[2019-04-12 13:23] yogkumgit commented on #350
@get-itips  Thank you very much for the contribution and sharing this explanation. @MiguelAlho
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-04-12 13:24] yogkumgit commented on #350
@officedocsbot close

[2019-04-12 13:24] #350 closed

[2019-04-12 15:49] severud opened #979 "Name used in Example 3 code snip does not match text below it: MyWeekendOptimization != MyWeekdayOptimization"
The code snipet of Example 3 has the text "MyWeekendOptimization" but the discussion below the code reads "MyWeekdayOptimization". The code line should be modified to have "MyWeekdayOptimization" since that is what the other parameters are set to, namely Mon-Fri optimization.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-04-13 12:57] e0i commented on #443
@doctordns Thanks for clarification. We will investigate and follow up with an update accordingly.

[2019-04-13 19:08] Malind19 commented on #487
Created PR https://github.com/MicrosoftDocs/windows-powershell-docs/pull/981

[2019-04-13 23:16] danofnz opened #982 "Incorrect example"
The cmdlet is incorrect, 'Get-PartitionSupportedSizes'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7582541-5c8e-2a7f-5a8b-d7a08570f8e9
* Version Independent ID: 976b2d36-9c01-712a-3d9b-330151794e20
* Content: [Get-PartitionSupportedSize (storage)](https://docs.microsoft.com/en-us/powershell/module/storage/get-parti

[2019-04-14 05:13] skycommand opened #983 "Page is not being updated"
Hello. As of today, 14 April 2019, the ["Repair-Volume (`win10-ps`)", page on Microsoft Docs](https://docs.microsoft.com/en-us/powershell/module/storage/repair-volume?view=win10-ps) is not reflecting changes made to its GitHub source code as far back as 15 January 2019.

The same complaint applies to the [`winserver2012-ps` version of the "Repair-Volume" page](https://docs.microsoft.com/en-us/powe

[2019-04-15 13:22] yogkumgit commented on #326
@neilfairall  We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-04-15 13:22] yogkumgit commented on #326
@officedocsbot close

[2019-04-15 13:25] TheGhost2804 opened #984 "Wrong use of $Profile"
$Profile is a fixed variable for the Powershell profile! It should NEVER be used like the example is showing! Please change it (suggest something like $NetworkProfile or $NWProfile

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18e96475-a601-25ea-66c8-0c646042cbfb
* Version Independent ID: f42c8e2b-b5bd-cf1e-188b-7c4f7

[2019-04-15 13:30] yogkumgit commented on #347
@diaz405  We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-04-15 13:30] yogkumgit commented on #347
@officedocsbot close

[2019-04-15 13:30] #347 closed

[2019-04-15 19:44] e0i commented on #574
Hello, @thetrav  thank you for providing feedback.

Note that the form that you have submitted this feedback from is intended for product documentation issues only.

Please consider checking any relevant resources and asking the community about your problem via the following link.

[PowerShell Community](https://docs.microsoft.com/powershell/#pivot=main&panel=community)

Thanks.

[2019-04-15 19:44] e0i commented on #574
@officedocsbot close

[2019-04-15 19:44] #574 closed

[2019-04-15 19:53] e0i commented on #564
@Big2thaE Thank you for providing feedback.

Would you clarify the subject of your request?

If you would like to provide specific feedback for the documentation content, we would like to learn more about your suggestions and follow-up.

Note that if you are experiencing problems with PowerShell or have specific questions to ask about a difficulty you are experiencing, please seek advice via Power

[2019-04-15 21:42] e0i commented on #515
Hello @hoksource ,

We are closing this issue since your support question seems to be answered by the community.

Note that this issue section is for product documentation issues only. For any similar problems that you encounter, feel free to seek advice via [PowerShell Community](https://docs.microsoft.com/powershell/#pivot=main&panel=community)

Thank you for providing feedback.

[2019-04-15 21:42] e0i commented on #515
@officedocsbot close

[2019-04-15 21:42] #515 closed

[2019-04-15 22:04] ojrb commented on #359
@e0i The PR #985 solved the issue, I have described in detail the parameter **-DNSHostName** to clarify the use of it with the command.

[2019-04-16 16:14] dariomws306 commented on #246
Hi @j0rt3g4,

[2019-04-16 16:15] j0rt3g4 commented on #246
HI, @dariomws306 What's up?

[2019-04-16 16:18] j0rt3g4 commented on #246
Write that on Teams ty.

[2019-04-16 18:30] e0i commented on #514
Hello, @jzabroski

We are investigating this issue and will follow up with updates.

Thank you for your feedback and following up.

[2019-04-16 18:59] jzabroski commented on #514
@e0i  Someone on StackOverflow already answered my questions. One second while I update this response with the stackoverflow answer - effectively, the issue is the documentation is not clear that this command doesn't work for regular extents, because the word extent is overloaded and not really documented well by MSFT

[2019-04-16 19:00] jzabroski commented on #514
https://serverfault.com/questions/946676/how-do-i-use-get-physicalextent-on-get-physicaldisk/946834#946834

[2019-04-16 19:00] jzabroski commented on #514
To be clear, please don't close this, as I still think this is wicked confusing.

[2019-04-16 19:32] si1ic0ngh0st opened #987 "Screening Type doesn't appear to default to "Passive""
The documentation for the -Active parameter states that the default Screening Type will be Passive unless the -Active parameter is specified.  I just created a new file screen _without_ specifying the -Active parameter, and it was created as an Active screen (files blocked when triggered).  Re-running the command with -Active:$false resolved this issue and it creates as Passive.

---
#### Document

[2019-04-16 22:16] e0i commented on #364
@ggbce  Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-04-16 22:16] e0i commented on #364
@officedocsbot close

[2019-04-16 22:16] #364 closed

[2019-04-16 22:38] j0rt3g4 commented on #246
Updated PR #954

[2019-04-16 23:22] e0i commented on #354
@officedocsbot close

[2019-04-16 23:22] #354 closed

[2019-04-17 08:29] martinohansen opened #989 "InitiatorLatency Unit"
Hi,

What unit is InitiatorLatency reported in, msec or usec? We're having trouble getting what this page: https://docs.microsoft.com/en-us/previous-versions/windows/desktop/clusstorageqosprov/msft-storageqosflow says to correspond to what we see.

Thanks,
Martin

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cbdbfded-

[2019-04-17 09:26] PetRose commented on #480
Either one knows to get to GitHub (see link near bottom) or a more friendly approach would be to have a reverence to this 'common' description for Windows 10 and Windows Server 2016:
   https://docs.microsoft.com/en-us/powershell/module/addsadministration/?view=win10-ps

[2019-04-17 15:31] yogkumgit commented on #319
@VLG17  Thank you very much for the contribution and sharing this explanation. @hiway65n
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-04-17 15:31] yogkumgit commented on #319
@officedocsbot close

[2019-04-17 15:31] #319 closed

[2019-04-17 15:58] yogkumgit commented on #321
@VLG17  Thank you very much for the contribution and updating the documentation with PR. @thesmall Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-04-17 15:58] yogkumgit commented on #321
@officedocsbot close

[2019-04-17 15:58] #321 closed

[2019-04-17 16:03] yogkumgit commented on #348
@VLG17  Thank you very much for the contribution and updating the documentation with PR. @keccs
Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-04-17 16:03] yogkumgit commented on #348
@officedocsbot close

[2019-04-17 16:03] #348 closed

[2019-04-17 16:05] yogkumgit commented on #349
@VLG17  Thank you very much for the contribution and sharing this explanation. @MichaelMc64
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-04-17 16:05] yogkumgit commented on #349
@officedocsbot close

[2019-04-17 16:05] #349 closed

[2019-04-17 18:01] ojrb commented on #368
Hi @e0i The PR #991 solved this issue, please review it and merge !

[2019-04-17 18:04] darksidemilk commented on #368
Well thank you good sir. So basically it's something that works with SCCM and not wsus alone.

[2019-04-17 20:04] e0i commented on #549
Hello, @yupsay

In our investigation we have found that the article might not need to be updated.

As expressed in the section title, the article applies to _Windows 10_ and _Windows Server 2016_, and it is not known yet whether a _Windows Server 2019_ section will be added.

We are closing this issue but feel free to re-open and comment anything we might have missed.

Thank you for your feedback.

[2019-04-17 20:04] e0i commented on #549
@officedocsbot close

[2019-04-17 20:04] #549 closed

[2019-04-17 20:14] si1ic0ngh0st opened #992 "Time is said to be seconds when it should be minutes"
All settings on this page that adjust the time between events firing off are said to be in seconds (eg: "the minimum number of seconds"), when it should be in minutes.  I am getting this information from the File Server Resource Manager (MMC) GUI, where it shows that these values are in minutes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-04-17 21:42] e0i commented on #368
Hello, @darksidemilk We'll close this issue once the referenced PR gets merged.

Thank you for your feedback.

[2019-04-17 21:42] e0i commented on #368
@officedocsbot reopen

[2019-04-17 22:10] e0i commented on #480
Hello, @Pxtl @PetRose

Does the description from a [related PR #212](https://github.com/MicrosoftDocs/windows-powershell-docs/pull/212/files) answers your question?

We'd like to follow-up and perform relevant changes accordingly.

Thank you for your feedback.

[2019-04-17 23:29] e0i commented on #496
@officedocsbot close

[2019-04-17 23:29] #496 closed

[2019-04-18 00:01] e0i commented on #421
Hello, @Rychard

It seems that your question has already been answered by the community and thus we are marking this issue as resolved.

Note that the form that you have submitted this feedback from is intended for product documentation issues only.

Please consider checking any relevant resources and asking the community about any of your similar problems problem via the following link.

[PowerSh

[2019-04-18 00:01] e0i commented on #421
@officedocsbot close

[2019-04-18 00:02] #421 closed

[2019-04-18 11:11] sowjanya365 commented on #452
Hi @poenn

Thank you for reporting and making the docs better. Much appreciated.

We've modified the output label names now. Kindly verify and confirm. Thank you.

[2019-04-18 12:15] yogkumgit commented on #201
@officedocsbot close

[2019-04-18 12:15] #201 closed

[2019-04-18 16:49] ojrb commented on #376
Hi @e0i  The PR #994 Solve this issue ! I updated the documentation for the confirm swhitch. Please review and Merge !

[2019-04-18 18:45] e0i commented on #374
@jszabo98

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-04-18 18:45] e0i commented on #374
@officedocsbot close

[2019-04-18 18:46] e0i commented on #533
@PaulDrumm

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-04-18 18:46] e0i commented on #533
@officedocsbot close

[2019-04-18 18:46] #533 closed

[2019-04-18 18:48] e0i commented on #360
@IanMercer

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-04-18 18:48] e0i commented on #360
@officedocsbot close

[2019-04-18 18:48] #360 closed

[2019-04-18 18:49] e0i commented on #487
@fran-ki

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-04-18 18:49] e0i commented on #487
@officedocsbot close

[2019-04-18 18:49] #487 closed

[2019-04-18 22:41] e0i commented on #495
Hello, @Stroell  thank you for providing feedback.

Note that the form that you have submitted this feedback from is intended for product documentation issues only.

Please consider checking any relevant resources and asking the community about your problem via the following link.

[PowerShell Community](https://docs.microsoft.com/powershell/#pivot=main&panel=community)

Thanks.

[2019-04-18 22:41] e0i commented on #495
@officedocsbot close

[2019-04-18 23:04] e0i commented on #497
Hello, @ChrisFors  thank you for providing feedback.

Note that the feedback section you have submitted this feedback from is intended for product documentation issues only.

Please consider checking with PowerShell community for your problem so that it gets resolved quickly.

[PowerShell Community Links](https://docs.microsoft.com/powershell/#pivot=main&panel=community)

For bug reports specific

[2019-04-18 23:05] e0i commented on #497
@officedocsbot close

[2019-04-18 23:05] #497 closed

[2019-04-18 23:14] kenwith opened #995 "test"
test

[2019-04-18 23:14] #995 closed

[2019-04-18 23:14] kenwith commented on #995
open test

[2019-04-19 08:06] Stroell commented on #495
Hey @e0i,
from my understanding this is a documentation issue, because the paramenter "Type -DataPort" is not documented. It is available on Server 2019, but missing in the documentation

[2019-04-19 17:40] RAJU2529 commented on #492
I think .etl  can be converted  into .log text file on windows 10 pro .
Also .etl can be read using WPR tool

[2019-04-19 20:30] e0i commented on #226
Hello, @LUCScape

_Windows 7_ and _Windows 2008 PowerShell_ versions will not be covered in this documentation as _Windows 7_ will reach its end of life in less than a year.

Thank you for providing feedback.

[2019-04-19 20:30] e0i commented on #226
@officedocsbot close

[2019-04-19 20:30] #226 closed

[2019-04-19 20:45] e0i commented on #495
@officedocsbot reopen

[2019-04-19 21:35] e0i commented on #495
Hello @Stroell, Thank you for clarification.

We'll pass this issue to technical writing team for review and keep you posted on updates.

Regards.

[2019-04-19 23:58] e0i commented on #564
@Big2thaE

We are closing this issue since we couldn't get a response. Feel free to re-open this issue with more  more details and we will follow-up accordingly.

Thanks.

[2019-04-19 23:58] e0i commented on #564
@officedocsbot close

[2019-04-19 23:58] #564 closed

[2019-04-20 02:48] kenwith opened #998 "test"
test

[2019-04-20 02:49] kenwith commented on #998
test comment by original issue opener to reopen.

[2019-04-20 02:50] kenwith commented on #998
another test

[2019-04-20 02:52] kenwith opened #999 "test 2"
test 2

[2019-04-20 02:53] #999 closed

[2019-04-20 02:53] kenwith commented on #995
try open

[2019-04-20 20:44] dariomws306 commented on #363
Hi @gaknigge, thank you for your feedback.

I have added a reference link about certificate store locations to all the cmdlets in this section with the CertStoreLocation parameter.

[2019-04-22 06:07] MaratMussabekov commented on #529
Dear @doctordns ,
I had the same issue, when i tried.
it looks like there is a error in **$task = new-FsrmScheduledTask -Time $d.ToFileTimeUtc() -Monthly 1**
When I run **$task = new-FsrmScheduledTask -Time $d -Monthly 1**
The command run successfully.
I will perform further investigation then create a PR for this issue.

Thank you

[2019-04-22 14:59] yogkumgit commented on #332
@ucgeek Thank you very much for posting this issue. Considering the nature of the issue, it is advised that please open a service ticket in your tenant and follow with them for the resolution. If you wish to know how to open the service ticket, please follow this link:
https://answers.microsoft.com/en-us/windows/forum/windows_10?sort=LastReplyDate&dir=Desc&tab=All&status=all&mod=&modAge=&advFil=&p

[2019-04-22 14:59] yogkumgit commented on #332
@officedocsbot close

[2019-04-22 14:59] #332 closed

[2019-04-22 22:12] ccarls-cloudfit commented on #247
Any kind of documentation other than boiler plate template would be preferable. Is there any other documentation that can be cross referenced in the meantime while this content backlog item is worked?

[2019-04-23 08:13] j0rt3g4 commented on #246
#1006  Solves the issue.

[2019-04-23 08:41] j0rt3g4 commented on #244
New PR #1007

[2019-04-23 21:25] pcnova opened #1010 "Removing corrupted VM"
Is there any guidance on how to remove a VM for which you no longer have the files, e.g., because they're missing or corrupt? This cmdlet returns an error saying the VM cannot be found, and Hyper-V Manager does not list the VM.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11f3f349-c2e3-67f4-2eb4-0244ddd78479
* Versio

[2019-04-24 04:05] j0rt3g4 commented on #514
To be honest @jzabroski  I replicated the issue as well on my computer (Virtual machine with WS 2019)
http://prntscr.com/ng26y5

This, however, is a "Cmdlet issue" instead of a lack of documentation, I've expanded the documentation but we need to wait for the author to be present about it. on PR #1011

@e0i We need to contact the author so he can expand the knowledge about it because the cmdlet di

[2019-04-24 17:18] ojrb commented on #454
Hi @e0i  reviewing the document and the comment, this document that is referenced by the issue is about the PS command **Set-NetAdapterPowerManagement**, the comment indicate that the property  **r AllowComputerToTurnOffDevice** can not be set for the PS command **Get-NetAdapterPowerManagementSettings** but this command Does not exists, the correct one is **Get-NetAdapterPowerManagement**.  The co

[2019-04-24 17:42] SharS commented on #308
Mail to Desmond Lee to review.

[2019-04-24 19:03] ojrb commented on #493
Hi @e0i ! the PR #1014 solve the issue ! Please review and Merge !

[2019-04-24 23:25] e0i commented on #246
@bagdxk

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-04-24 23:25] e0i commented on #246
@officedocsbot close

[2019-04-24 23:25] #246 closed

[2019-04-24 23:27] e0i commented on #244
@Kondziowy

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-04-24 23:27] e0i commented on #244
@officedocsbot close

[2019-04-24 23:27] #244 closed

[2019-04-25 12:20] sowjanya365 commented on #375
Hi @swatt6400

Thanks for reaching out!

-Cleanup parameter attempts to force a clean-up of the root target in Active Directory Domain Services (AD DS). We can add this parameter when you have a situation where the cmdlet would otherwise fail, but can be convinced to complete the action.

Hope this information is helpful. Kindly confirm. Thank you.

[2019-04-25 12:49] swatt6400 commented on #375
Ah yes, that does clarify a bit more, thanks for giving it some
    attention to improve for everyone!  :)
    ________________________________________________________
        Sandra Watt, B.Sc., MCITP Enterprise Administrator, MCTS .NET
        WPF
        Bermuda Information Technology Systems (BITS) Ltd.
        sandras@technologist.com / sandra.watt@bits.bm
        (441) 504-6404

    On 4/25/

[2019-04-25 15:44] sowjanya365 commented on #555
Hi @BlackV

Thanks for reaching out!

Yes, the -DestinationPath parameter is optional. If we don't mention it in the command, it transfer the contents of the differencing disk into its parent. The differencing disk is destroyed at the end of this operation.

Hope this information is helpful. Kindly confirm. Thank you.

[2019-04-25 20:59] dstrome opened #1020 "dstrome test"
test issue

[2019-04-25 21:01] kenwith commented on #998
open me

[2019-04-25 22:00] dstrome commented on #1020
test

[2019-04-25 22:01] dstrome commented on #1020
test

[2019-04-25 22:01] #1020 closed

[2019-04-25 23:43] kenwith commented on #998
open this issue

[2019-04-25 23:44] kenwith commented on #344
@Borkason - I believe we have functionality now where the person that originally opened an issue can reopen a closed issue by just commenting on it. I am going to close this one and please try to comment and let's see if it opens automatically. If not I will manually reopen it.

[2019-04-25 23:50] thetrav commented on #234
Why is this closed?  The docs still say it defaults to False, where it seems to default to True

[2019-04-26 18:20] JordanTheITGuy opened #1021 "Confirm-SecureBootUefi/Get-SecureBootUEFI"
Both of these cmdlets write to the error stream when BIOS or UEFI are not found. The goal I seems to have been to produce three possible outputs with a set of booleans, however this means it generates an "error" that isn't really an error just a validation of if a computer supports or doesnt support UEFI. I would prefer to see an output message that could be properly interpreted over a true thrown

[2019-04-27 15:27] zzzz4 opened #1022 "Typo: "48-bit" should read "48-digit""
"cmdlet creates a random 48-bit recovery password"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18ba23fe-4cf9-e36c-cb26-0f04484fb392
* Version Independent ID: 4a116594-a3d6-804e-883f-72cb79e9dc21
* Content: [Add-BitLockerKeyProtector (bitlocker)](https://docs.microsoft.com/en-us/powershell/module/bitlocker/add-bitloc

[2019-04-27 15:28] zzzz4 opened #1023 "Typo: "48-bit" should read "48-digit""
"cmdlet creates a random 48-bit recovery password"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35517b3c-d00e-c08d-c274-8b606ad87bfa
* Version Independent ID: 3428c627-8703-752e-fbdf-52526f281f57
* Content: [Enable-BitLocker (bitlocker)](https://docs.microsoft.com/en-us/powershell/module/bitlocker/enable-bitlocker?vi

[2019-04-28 19:15] Malind19 commented on #546
@e0i , Created PR https://github.com/MicrosoftDocs/windows-powershell-docs/pull/1024

[2019-04-28 19:21] Malind19 commented on #547
@e0i Created PR https://github.com/MicrosoftDocs/windows-powershell-docs/pull/1025

[2019-04-29 00:11] zzzz4 opened #1026 "Clarify the acceptable values for -GptType"
I haven't done exhaustive tests, but it appears that not all GUID strings are acceptable values.

See https://docs.microsoft.com/en-us/dotnet/api/system.guid.tostring?view=netcore-2.2
VALID
* Guid.ToString("B")

NOT VALID ("The specified partition type is not valid." error)
* Guid.ToString("N")
* Guid.ToString("D")
* Guid.ToString("P")
* Guid.ToString("X")

---
#### Document Details

⚠ *Do not edi

[2019-04-29 15:42] #250 closed

[2019-04-30 13:31] MKoeppl-Microsoft opened #1029 "QuarantineDuration / Quarantine­Threshold missing"
Hi, the Get-Cluster output above seems to be from an older version as on recent S2016 builds there are more objects returned. Like QuarantineDuration / Quarantine­Threshold.
Would love to see links to those values, there defaults and meanings from this page here.
Thanks, Michael

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-04-30 16:23] e0i commented on #452
@poenn

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-04-30 16:23] e0i commented on #452
@officedocsbot close

[2019-04-30 16:23] #452 closed

[2019-04-30 16:23] e0i commented on #422
@BryanLaValley

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-04-30 16:23] e0i commented on #422
@officedocsbot close

[2019-04-30 16:23] #422 closed

[2019-04-30 16:23] e0i commented on #477
@poortom1004

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-04-30 16:24] e0i commented on #477
@officedocsbot close

[2019-04-30 16:24] #477 closed

[2019-04-30 16:24] e0i commented on #531
@TheFiZi

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-04-30 16:24] e0i commented on #531
@officedocsbot close

[2019-04-30 16:24] #531 closed

[2019-04-30 16:25] e0i commented on #529
@doctordns

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-04-30 16:25] e0i commented on #529
@officedocsbot close

[2019-04-30 16:25] #529 closed

[2019-04-30 17:07] e0i commented on #555
Hello @BlackV ,

We are closing this issue since your support question seems to be answered. Feel free to re-open this issue if you still experience problems.

Thanks.

[2019-04-30 17:08] e0i commented on #555
@officedocsbot close

[2019-04-30 17:08] #555 closed

[2019-04-30 17:10] e0i commented on #375
Hello @swatt6400,

We are closing this issue since your support question seems to be answered. Feel free to re-open this issue if you still experience problems.

Thanks.

[2019-04-30 17:11] e0i commented on #375
@officedocsbot close

[2019-04-30 17:11] #375 closed

[2019-04-30 18:25] ojrb commented on #454
Hi @e0i  The PR #1030 solve this issue ! please review and merge !

[2019-05-01 00:16] chendrixson opened #1032 "Should list the common error cases here."
Package in use, missing framework, etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b59ed2d-1535-135c-bdaf-95dd93a3ef6b
* Version Independent ID: 6dcca508-5e35-5cb4-942b-22a20dbb1a4d
* Content: [Add-AppxPackage (appx)](https://docs.microsoft.com/en-us/powershell/module/appx/add-appxpackage?view=win10-ps)
* Content

[2019-05-02 04:55] MrDoNotBreak opened #1033 "Add a link to the RSAT module"
I think it would be helpful if you included a link either to the RSAT package or to a page with information regarding RSAT - for instance like: https://support.microsoft.com/en-us/help/2693643/remote-server-administration-tools-rsat-for-windows-operating-systems

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b818a192-2

[2019-05-02 17:44] dariomws306 commented on #560
Hi @logmod, thank you for your feedback.

It's true that virtual switch is not the same as a virtual adapter, but you see virtual switchs in your Hyper-V host (management OS) as Network Adapter.

I don't have more information about -VM parameter.

I have added more detail to -Access and -Trunk.

@coreyp-at-msft, could you help here with more information/detail? Thanks.

[2019-05-02 21:08] e0i commented on #1033
@officedocsbot assign @e0i

[2019-05-02 21:33] e0i commented on #1033
@officedocsbot assign @e0i

[2019-05-03 01:39] e0i commented on #1032
@officedocsbot assign @e0i

[2019-05-03 01:44] e0i commented on #1032
@chendrixson

The issue is being routed to Windows PowerShell writing team for investigation. You'll be notified with relevant updates as content gets updated.

Thank you for providing feedback.

[2019-05-03 01:53] e0i commented on #1033
@MrDoNotBreak

The issue is being routed to Windows PowerShell writing team for investigation. You'll be notified with relevant updates as content gets updated.

Thank you for providing feedback.

[2019-05-03 12:35] Borkason commented on #344
Test to reopen.

[2019-05-03 14:34] JasonG-IT opened #1036 "Missing descriptions and examples"
No descriptions or examples on here or using help in powershell. I'm just trying to make sure I can detect a PPKG by ID.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d30e83b-a8aa-f4de-09a1-6e3d55ba16de
* Version Independent ID: 058b8547-e4a8-17cf-1994-d9fbe6423d16
* Content: [Get-ProvisioningPackage (provisioning)](

[2019-05-03 19:32] e0i commented on #1036
@JasonG-IT

The issue is being routed to Windows PowerShell writing team for investigation. You'll be notified with relevant updates as content gets updated.

Thank you for providing feedback.

[2019-05-03 19:32] e0i commented on #1036
@officedocsbot assign @e0i

[2019-05-03 19:48] icyfire0573 opened #1037 "Example Text error"
says:
until either the Enable-DedupVolume -DataAccess command runs, or the restarts.

I'm guessing it should say
"runs, or the server restarts."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e95ced9-eede-d5ad-07ba-c3cd648ff445
* Version Independent ID: 3816e35d-9742-639f-3e34-54350691269d
* Content: [Disable-DedupVol

[2019-05-06 07:11] abstract17 opened #1038 "Typo - in description"
issue section:
------------------------------------------------------------------------------------------------
Description
The Add-VMRemoteFx3dVideoAdapter cmdlet adds a '''RemovteFX '''video adapter in a virtual machine.
----------------------------------------------------------------------------------------------
details -
in discription '''RemoteFx'''' is typed as ''' RemovteFx  '''.

Thank yo

[2019-05-06 08:35] VLG17 commented on #227
@sycki i have tested the same syntax on Windows Server 2016 Datancenter and i get the exact error. I recommend opening a [support ticket](https://support.microsoft.com/en-us/supportforbusiness/productselection) so that a support engineer can look into this.

Regarding the question related to docker, we first need to understand where it runs (AKS, VM or Service Fabric).

[2019-05-06 08:55] VLG17 commented on #369
@darksidemilk the "updateServices" module contains 12 cmdlets, but the article lists 16 cmdlets under wsus (the 4 extra cmdlet are not included in the updateServices module).

For each article describing a cmdlet from "updateServices" module the is an **Input** segment where this is made clear: **Microsoft.UpdateServices.Commands.InsertCmdletHere**

I fully understand what you mean and will create

[2019-05-06 13:04] yogkumgit commented on #337
@VLG17  Thank you very much for the contribution and updating the documentation with PR. @s-n-ushakov Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-05-06 13:05] yogkumgit commented on #337
@officedocsbot close

[2019-05-06 13:05] #337 closed

[2019-05-06 22:16] e0i commented on #1037
@officedocsbot assign @e0i

[2019-05-06 22:17] e0i commented on #1037
Hello, @icyfire0573

The issue is under investigation and you'll be notified with relevant updates on the go.

Thank you for taking the time to provide feedback.

[2019-05-07 07:17] VLG17 commented on #227
@matushorvath i have checked example 2 and i think it has been updated because it now shows -RegistryDataType REG_SZ which is correct.

[2019-05-07 18:06] MWRobertson opened #1040 "Password Exposure"
Unless I'm doing something wrong, if you use the -Password flag there doesn't appear to be a way to either enter the password securely or pass a credentials variable. It looks like I'm being asked to enter the plaintext password with the cmdlet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a28e55f1-0862-f421-d8f9-d21

[2019-05-07 21:23] #453 closed

[2019-05-07 22:45] e0i commented on #443
@doctordns
Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-05-07 22:46] e0i commented on #248
@mattpwhite

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-05-07 22:46] e0i commented on #248
@officedocsbot close

[2019-05-07 22:46] #248 closed

[2019-05-07 22:46] e0i commented on #443
@officedocsbot close

[2019-05-07 22:46] #443 closed

[2019-05-07 22:48] e0i commented on #554
@GitHubBJW

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-05-07 22:48] e0i commented on #554
@officedocsbot close

[2019-05-07 22:48] #554 closed

[2019-05-07 22:48] e0i commented on #505
@Brian9770

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-05-07 22:48] e0i commented on #505
@officedocsbot close

[2019-05-07 22:48] #505 closed

[2019-05-07 22:49] e0i commented on #368
@darksidemilk

With the help of your feedback, the issue has been reviewed and an update to the documentation has been published. Thanks for your feedback.

[2019-05-07 22:49] e0i commented on #368
@officedocsbot close

[2019-05-07 22:49] #368 closed

[2019-05-07 22:50] e0i commented on #548
@az-devops

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-05-07 22:50] e0i commented on #548
@officedocsbot close

[2019-05-07 22:50] #548 closed

[2019-05-07 22:51] e0i commented on #363
@gaknigge

With the help of your feedback, the issue has been reviewed and an update to the documentation has been published. Thanks for your feedback.

[2019-05-07 22:51] e0i commented on #363
@officedocsbot close

[2019-05-07 22:51] #363 closed

[2019-05-08 17:01] kensel commented on #719
Is there a cmdlet to import Controlled GPO from production?  Looking at a script that will import from production Daily and report changed GPOs.

[2019-05-08 18:43] e0i commented on #1040
Hello, @MWRobertson

The issues section of this repository is intended for documentation problems only.

Please consider checking any relevant resources and asking the community regarding your problem via the following link.

[PowerShell Community](https://docs.microsoft.com/powershell/#pivot=main&panel=community)

If you feel that this document can also be updated with information related to your

[2019-05-08 18:44] e0i commented on #1040
@officedocsbot assign @e0i

[2019-05-08 18:44] e0i commented on #1040
@officedocsbot close

[2019-05-08 18:44] #1040 closed

[2019-05-08 18:57] e0i commented on #1038
@officedocsbot assign @e0i

[2019-05-08 18:58] e0i commented on #1038
@abstract17 Thank you for providing feedback.

We are investigating the issue and will follow-up with updates.

[2019-05-08 21:28] jeffreymcclain commented on #139
Same for me.

[2019-05-09 11:22] e0i commented on #1029
@officedocsbot assign @e0i

[2019-05-09 11:23] e0i commented on #1029
Hello, @MKoeppl-Microsoft

The content is being reviewed in the light of your feedback and we'll keep you posted on updates.

Thank you for providing feedback.

[2019-05-09 11:26] e0i commented on #1026
@officedocsbot assign @e0i

[2019-05-09 11:28] e0i commented on #1026
Hello, @zzzz4

The content is being reviewed in the light of your feedback and we'll keep you posted on updates.

Thank you for providing feedback.

[2019-05-09 11:28] e0i commented on #1023
@officedocsbot assign @e0i

[2019-05-09 11:30] e0i commented on #1023
@zzzz4

The issue has been noted and the document will be revised in the light of your feedback.

Thanks.

[2019-05-09 11:30] e0i commented on #1023
Similar to: #1022

[2019-05-09 11:31] e0i commented on #1022
@officedocsbot assign @e0i

[2019-05-09 11:31] e0i commented on #1022
@zzzz4 The issue has been noted and the document will be revised in the light of your feedback.

Thanks.

[2019-05-09 11:50] e0i commented on #992
@officedocsbot assign @e0i

[2019-05-09 11:50] e0i commented on #987
@officedocsbot assign @e0i

[2019-05-09 12:47] e0i commented on #983
@officedocsbot assign @e0i

[2019-05-09 12:51] e0i commented on #982
@officedocsbot assign @e0i

[2019-05-09 12:51] e0i commented on #982
@danofnz

The issue has been noted and the document will be revised in the light of your feedback.

Thank you.

[2019-05-09 12:52] e0i commented on #979
@officedocsbot assign @e0i

[2019-05-09 12:52] e0i commented on #979
@severud

The issue is being routed to Windows PowerShell writing team for investigation. You'll be notified with relevant updates as content gets updated.

Thank you for providing feedback.

[2019-05-09 12:55] e0i commented on #975
@officedocsbot assign @e0i

[2019-05-09 12:56] e0i commented on #974
@officedocsbot assign @e0i

[2019-05-09 12:57] e0i commented on #974
Hello, @wvoyek

The issue is under investigation and you will be notified with any changes on the way.

Thank you for providing feedback.

[2019-05-09 13:53] e0i commented on #968
@officedocsbot assign @e0i

[2019-05-09 13:53] e0i commented on #955
@officedocsbot assign @e0i

[2019-05-09 13:56] e0i commented on #949
@officedocsbot assign @e0i

[2019-05-09 13:57] e0i commented on #949
@fijam

The issue has been noted and the document will be revised in the light of your feedback.

Thank you.

[2019-05-09 14:03] e0i commented on #906
@MrSent It seems that your question has been answered by the community.

Note that the issues section of this repository is intended for documentation and content issues only.

Should you have any further issues similar to this one, please consider opening a product support ticket here:

[PowerShell Community](https://docs.microsoft.com/powershell/#pivot=main&panel=community)

Thanks.

[2019-05-09 14:03] e0i commented on #906
@officedocsbot assign @e0i

[2019-05-09 14:03] e0i commented on #906
@officedocsbot close

[2019-05-09 14:03] #906 closed

[2019-05-09 14:03] e0i commented on #902
@officedocsbot assign @e0i

[2019-05-09 14:04] e0i commented on #902
@DavidRawling

The issue is being routed to Windows PowerShell writing team for investigation. You'll be notified with relevant updates as content gets updated.

Thank you for providing feedback.

[2019-05-09 14:28] e0i commented on #798
@officedocsbot assign @e0i

[2019-05-09 14:30] e0i commented on #794
@officedocsbot assign @e0i

[2019-05-09 14:52] e0i commented on #758
@officedocsbot assign @e0i

[2019-05-09 14:55] e0i commented on #758
Hello, @schittli

The content is being reviewed in the light of your feedback and we'll keep you posted on updates.

Thank you for providing feedback.

[2019-05-09 14:56] e0i commented on #754
@officedocsbot assign @e0i

[2019-05-09 14:57] e0i commented on #754
@andrewwillett

The issue has been noted and the document will be revised in the light of your feedback.

Thank you.

[2019-05-09 15:10] e0i commented on #729
@officedocsbot assign @e0i

[2019-05-09 15:11] e0i commented on #729
@blouwagie

The issue has been noted and the document will be revised in the light of your feedback.

Thank you.

[2019-05-09 15:45] e0i commented on #569
@jwhelms

The issue has been noted and the document will be revised in the light of your feedback.

Thank you.

[2019-05-09 16:12] e0i commented on #359
@SQLHorizons

With the help of your feedback, the issue has been reviewed and an update to the documentation has been published. Thanks for your feedback.

[2019-05-09 16:12] e0i commented on #359
@officedocsbot close

[2019-05-09 16:12] #359 closed

[2019-05-09 16:53] junkiebev commented on #139
+1

[2019-05-10 12:47] ozthe2 opened #1041 "-Replace parameter error - Semicolon separated not comma"
-Replace

Specifies values for an object property that will replace the current values. Use this parameter to replace one or more values of a property that cannot be modified using a cmdlet parameter. To modify an object property, you must use the LDAP display name. You can modify more than one property by specifying a **comma-separated list**. The format for this parameter is:

-Replace @{Attribu

[2019-05-10 13:53] lifemanship commented on #139
+1

[2019-05-10 16:35] zzzz4 opened #1042 "Example 1 uses Lock-Volume instead of Lock-BitLocker"
PS C:\> Lock-Volume -MountPoint "E:" -ForceDismount
should read
 PS C:\> Lock-BitLocker -MountPoint "E:" -ForceDismount
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02d5601e-74dc-d528-1c19-8b0738fee2f6
* Version Independent ID: 012a8322-ddf8-fda3-5a3d-4c2f0d570503
* Content: [Lock-BitLocker (bitlocker)](https://docs.m

[2019-05-13 07:28] 3ter opened #1043 "Add-ADFineGrainedPasswordPolicySubject example 4 typo"
Hi there,

in **example 4** it says
[code]

which should be
[code]

as `Get-ADGroup` doesn't have a property _lastname_ and the description says "to any **users** whose last name is Fuller".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 353a2a78-7715-3b9b-0896-0bf508497b74
* Version Independent ID: 1abb6ebb-7c86-5c77-

[2019-05-13 08:52] AceLearnGit commented on #512
I  pin my app to start and then use "PS C:\> Export-StartLayout -Path "C:\Layouts\Marketing.xml" to export a .xml file, then i use "PS C:\> Import-StartLayout -LayoutPath "Layout.xml" -MountPath "C:\Layouts\Marketing.xml" cmd to import the .xml but powershell return error"can't find path C:\Layout.xml"
why?

[2019-05-13 16:11] #409 closed

[2019-05-13 17:30] e0i commented on #409
@danabrash

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-05-13 17:31] e0i commented on #389
@jszabo98

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-05-13 17:31] e0i commented on #389
@officedocsbot close

[2019-05-13 17:31] #389 closed

[2019-05-13 17:33] e0i commented on #493
@Fydon

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-05-13 17:33] e0i commented on #493
@officedocsbot close

[2019-05-13 17:33] #493 closed

[2019-05-13 17:34] e0i commented on #514
@jzabroski

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-05-13 17:34] e0i commented on #514
@officedocsbot close

[2019-05-13 17:34] #514 closed

[2019-05-13 17:37] e0i commented on #547
@jeffreymcclain

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-05-13 17:38] e0i commented on #547
@officedocsbot close

[2019-05-13 17:38] #547 closed

[2019-05-14 07:23] 3ter opened #1044 "New-ADServiceAccount wrong parameter information in description"
In the description there is mention of a `-Standalone` parameter which is (no longer) present for the cmdlet.

I'm pretty positive that it has been replaced by the `-RestrictToSingleComputer` parameter so the description should reflect the change.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ebd731d8-61d8-f6b3-0e8a-3

[2019-05-14 08:34] SetiGeek commented on #719
I created a user voice for this. Actually, there is no way of doing this import
https://windowsserver.uservoice.com/forums/304621-active-directory/suggestions/37640764-agpm-and-powershell-scripting

[2019-05-14 19:20] PrinceMarkieD commented on #429
Can this be used to specify Win32 apps for Assigned Access?

[2019-05-15 13:06] ngetchell commented on #139
Ran into this today

[2019-05-15 17:08] e0i commented on #227
Hello @sycki,

We are closing this issue since your question seems to be answered. Feel free to re-open this issue if you still experience problems.

Thanks.

[2019-05-15 17:08] e0i commented on #227
@officedocsbot close

[2019-05-15 17:08] #227 closed

[2019-05-15 18:39] MarkIannucci opened #1045 "Add section to explain how to get these cmdlets if they are missing from your machine"
I spent a decent amount of time trying to find out how to add these cmdlets to my powershell environment.  I think all of these are in the Windows Feature RSAT-Clustering-Powershell.  I'll propose a PR which indicates that.  It would be very helpful if the rest of the documents here also explained how to get the cmdlets if they're missing in your powershell environment.

---
#### Document Details

[2019-05-16 05:19] Dbones202 commented on #139
same.

[2019-05-16 06:10] CreaterNo1 opened #1047 "Typo in the Description"
There is a typo in the description in the -Filter section. The Asterix (*) should be after the "other than" words.
"Note: PowerShell wildcards other than , such as ?, are not supported by the *Filter syntax."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0b9f4db-305b-847a-1ab6-ad3b547a91f7
* Version Independent ID: a

[2019-05-16 15:25] DavidUnboxed opened #1048 "Suggested Improvement"
Please add the ability to exclude disabled/unlinked when using "all".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4b1b069-1d92-d783-ba1c-7f18f3a501ec
* Version Independent ID: 9ab7a246-fa1f-bd55-a9a9-bb48fba59738
* Content: [Get-GPO (grouppolicy)](https://docs.microsoft.com/en-us/powershell/module/grouppolicy/get-g

[2019-05-16 17:04] e0i commented on #1041
@officedocsbot assign @e0i

[2019-05-16 17:05] e0i commented on #1042
@officedocsbot assign @e0i

[2019-05-16 17:07] e0i commented on #1043
@officedocsbot assign @e0i

[2019-05-16 17:08] e0i commented on #1044
@officedocsbot assign @e0i

[2019-05-16 22:10] e0i commented on #480
@officedocsbot close

[2019-05-16 22:10] #480 closed

[2019-05-16 22:13] e0i commented on #424
We are closing this issue since we haven't got response from your side regarding issue details.

Feel free to re-open this is issue and specify the documentation. We'd like to follow-up with content updates.

Thank you.

[2019-05-16 22:13] e0i commented on #424
@officedocsbot close

[2019-05-16 22:13] #424 closed

[2019-05-16 23:19] SamB commented on #139
Well, [the Module Manifest for WindowsUpdateProvider](https://gist.github.com/SamB/da46329bf616f47faf5ce0224f166e46) on this machine doesn't give any attribution beyond "Microsoft Corporation", but it does specify a `HelpInfoUri` of <https://go.microsoft.com/fwlink/?linkid=390794>, so there's actually no need to futz around figuring out where the module comes from and somehow make the case that th

[2019-05-16 23:46] e0i commented on #955
Hello, @dozer75 thank you for providing feedback.

Note that the issue tracker of this repository is intended for product documentation issues only.

Please consider checking any relevant resources and asking the community about your problem via the following link.

[PowerShell Community](https://docs.microsoft.com/powershell/#pivot=main&panel=community)

Thanks.

[2019-05-16 23:53] e0i commented on #955
@officedocsbot close

[2019-05-16 23:53] #955 closed

[2019-05-16 23:54] e0i commented on #958
@officedocsbot assign @e0i

[2019-05-17 08:31] pdario commented on #139
Same here; I see that I haven't any *HelpInfo.xml in
C:\Windows\System32\WindowsPowerShell\v1.0\Modules\WindowsUpdateProvider

Do you think this is correct??

Plus: do you know why I see more files in those dirs within CLI as compared to File Explore???

[2019-05-17 14:20] e0i commented on #563
@officedocsbot unassign @e0i

[2019-05-17 14:20] e0i commented on #563
@officedocsbot assign @yogkumgit

[2019-05-17 14:21] e0i commented on #559
@officedocsbot unassign @e0i
@officedocsbot assign @yogkumgit

[2019-05-17 14:21] e0i commented on #558
@officedocsbot unassign @e0i
@officedocsbot assign @yogkumgit

[2019-05-17 14:22] e0i commented on #545
@officedocsbot unassign @e0i
@officedocsbot assign @yogkumgit

[2019-05-17 14:22] e0i commented on #544
@officedocsbot unassign @e0i
@officedocsbot assign @yogkumgit

[2019-05-17 14:22] e0i commented on #542
@officedocsbot unassign @e0i
@officedocsbot assign @yogkumgit

[2019-05-17 14:22] e0i commented on #541
@officedocsbot unassign @e0i
@officedocsbot assign @yogkumgit

[2019-05-17 14:22] e0i commented on #536
@officedocsbot unassign @e0i
@officedocsbot assign @yogkumgit

[2019-05-17 14:22] e0i commented on #520
@officedocsbot unassign @e0i
@officedocsbot assign @yogkumgit

[2019-05-17 14:22] e0i commented on #517
@officedocsbot unassign @e0i
@officedocsbot assign @yogkumgit

[2019-05-17 14:23] e0i commented on #509
@officedocsbot unassign @e0i
@officedocsbot assign @yogkumgit

[2019-05-17 14:23] e0i commented on #510
@officedocsbot unassign @e0i
@officedocsbot assign @yogkumgit

[2019-05-17 14:23] e0i commented on #502
@officedocsbot unassign @e0i
@officedocsbot assign @yogkumgit

[2019-05-17 14:23] e0i commented on #491
@officedocsbot unassign @e0i
@officedocsbot assign @yogkumgit

[2019-05-17 14:24] e0i commented on #485
@officedocsbot unassign @e0i
@officedocsbot assign @yogkumgit

[2019-05-17 14:24] e0i commented on #483
@officedocsbot unassign @e0i
@officedocsbot assign @yogkumgit

[2019-05-17 14:24] e0i commented on #481
@officedocsbot unassign @e0i
@officedocsbot assign @yogkumgit

[2019-05-17 14:24] e0i commented on #475
@officedocsbot unassign @e0i
@officedocsbot assign @yogkumgit

[2019-05-17 14:25] e0i commented on #474
@officedocsbot unassign @e0i
@officedocsbot assign @yogkumgit

[2019-05-17 14:25] e0i commented on #462
@officedocsbot unassign @e0i
@officedocsbot assign @yogkumgit

[2019-05-17 14:26] e0i commented on #455
@officedocsbot unassign @e0i
@officedocsbot assign @yogkumgit

[2019-05-17 15:26] e0i commented on #958
Hello, @ivoruetsche  thank you for providing feedback.

Note that the issue tracker of this repository is intended for product documentation issues only.

Please consider opening a support ticket for product issues and bugs via the following link,

[PowerShell UserVoice](https://windowsserver.uservoice.com/forums/301869-powershell)

You can also check relevant resources and ask the community regar

[2019-05-17 15:27] e0i commented on #958
@officedocsbot close

[2019-05-17 15:27] #958 closed

[2019-05-17 15:29] e0i commented on #939
@peetrike

Somehow your issue has been opened without being associated to a documentation topic.

Could you clarify which documentation you're referring to? A link would be helpful.

Thanks.

[2019-05-17 15:30] e0i commented on #939
@officedocsbot assign @e0i

[2019-05-17 15:48] e0i commented on #550
@MikeChristensen

The issue has been noted and the document will be revised in the light of your feedback.

Thank you.

[2019-05-17 17:38] peetrike commented on #939
it's not connected to existing documentation.  I was talking about missing (omitted) about topics that were present in ActiveDirectory module during Windows Server 2008 R2 era.  Those topics are available at https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-server-2008-R2-and-2008/hh531525(v%3dws.10) and could be once again included in the current module.

[2019-05-17 17:47] e0i commented on #537
@AndyChips

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-05-17 17:47] e0i commented on #537
@officedocsbot close

[2019-05-17 17:47] #537 closed

[2019-05-17 17:47] e0i commented on #552
@AndyChips

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-05-17 17:48] e0i commented on #552
@officedocsbot close

[2019-05-17 17:48] #552 closed

[2019-05-17 17:48] e0i commented on #467
@fdcastel

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-05-17 17:48] e0i commented on #467
@officedocsbot close

[2019-05-17 17:48] #467 closed

[2019-05-17 18:57] e0i commented on #557
@ChrisParrBIE

Note that the form that you have submitted this feedback from is intended for product documentation issues only.

Please consider checking any relevant resources and asking the community about your problem via the following link.

[PowerShell Community](https://docs.microsoft.com/powershell/#pivot=main&panel=community)

Thanks.

[2019-05-17 18:57] e0i commented on #557
@officedocsbot close

[2019-05-17 18:57] #557 closed

[2019-05-17 18:58] e0i commented on #556
@UnityUser

Note that the form that you have submitted this feedback from is intended for product documentation issues only.

Please consider checking any relevant resources and asking the community about your problem via the following link.

[PowerShell Community](https://docs.microsoft.com/powershell/#pivot=main&panel=community)

Thanks.

[2019-05-17 18:58] e0i commented on #556
@officedocsbot close

[2019-05-17 18:58] #556 closed

[2019-05-17 19:05] e0i commented on #551
Hello, @ChrisParrBIE thank you for providing feedback.

Note that the issue tracker of this repository is intended for product documentation issues only.

Please consider opening a support ticket for product issues and bugs via the following link,

[PowerShell UserVoice](https://windowsserver.uservoice.com/forums/301869-powershell)

You can also check relevant resources and ask the community regar

[2019-05-17 19:05] e0i commented on #551
@officedocsbot close

[2019-05-17 19:06] #551 closed

[2019-05-17 19:12] e0i commented on #568
Hello, @aheusdens thank you for providing feedback.

Note that the issue tracker of this repository is intended for product documentation issues only.

Please consider opening a support ticket for product issues and bugs via the following link,

[PowerShell UserVoice](https://windowsserver.uservoice.com/forums/301869-powershell)

You can also check relevant resources and ask the community regardin

[2019-05-17 19:12] e0i commented on #568
@officedocsbot close

[2019-05-17 19:12] #568 closed

[2019-05-17 19:19] e0i commented on #519
@KaizounaTOR

Note that the issues section of this repository is intended for product documentation issues only.

Please consider checking any relevant resources and asking the community about your problem via the following link.

[PowerShell Community](https://docs.microsoft.com/powershell/#pivot=main&panel=community)

Thanks.

[2019-05-17 19:19] e0i commented on #519
@officedocsbot close

[2019-05-17 19:19] #519 closed

[2019-05-17 21:37] MCTSQL opened #1049 "Mount-DiskImage does not respect the WhatIf parameter"
Mount-DiskImage does not respect the WhatIf parameter

**Example**
- **Input**: _Mount-DiskImage -ImagePath c:\iso\MyImage.iso -WhatIf_
- **Output**:
- - **Expected**: _no mounted image_
- - **Actual**: _mounted image_

**$PSVersionTable**
PSVersion                      6.2.0
PSEdition                      Core
GitCommitId                    6.2.0
OS                             Microsoft Windows 1

[2019-05-17 22:11] e0i commented on #492
Hello, @GuyWiththeHat  thank you for providing feedback.

Note that the issue tracker of this repository is intended for product documentation issues only.

Please consider opening a support ticket for product issues and bugs via the following link,

[PowerShell UserVoice](https://windowsserver.uservoice.com/forums/301869-powershell)

You can also check relevant resources and ask the community reg

[2019-05-17 22:12] e0i commented on #492
@officedocsbot close

[2019-05-17 22:12] #492 closed

[2019-05-18 19:40] e0i commented on #1049
@officedocsbot assign @e0i

[2019-05-18 19:41] e0i commented on #1048
@officedocsbot assign @e0i

[2019-05-18 19:42] e0i commented on #1047
@officedocsbot assign @e0i

[2019-05-18 19:42] e0i commented on #1045
@officedocsbot assign @e0i

[2019-05-20 08:25] sowjanya365 commented on #979
Hi @severud

Thank you for sharing your views and making the docs better. We appreciate it.

The typo has been corrected. Please find the below PR link for your reference.

https://github.com/MicrosoftDocs/windows-powershell-docs/pull/976

Thank you.

[2019-05-20 09:40] srochford46 opened #1051 "Access denied even when running as administrator"
I keep getting access denied even when I'm running as administrator. I used this script to test:
$currentPrincipal = New-Object Security.Principal.WindowsPrincipal([Security.Principal.WindowsIdentity]::GetCurrent())
$currentPrincipal.IsInRole([Security.Principal.WindowsBuiltInRole]::Administrator)
Confirm-SecureBootUEFI

The first two lines give the message "True" (ie I am in elevated mode) but th

[2019-05-20 12:01] Bartolomeus-649 opened #1052 "-BitsJob is an array, but no info on how the cmdLet interacts with an array of BitsJob"
What's the effect of supplying more than one BitsJob?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c4fb913-db10-2eee-4339-83d22c53ee05
* Version Independent ID: 34f9104c-948a-4fdd-235f-de4099dbd98d
* Content: [Add-BitsFile (bitstransfer)](https://docs.microsoft.com/en-us/powershell/module/bitstransfer/add-bitsfile?v

[2019-05-20 14:50] SirJewDanielBerg opened #1053 "Blocked inheritance question"
Hi.

This article doesn't clarify if GPOs in other parent OUs different to the parent OU of MyOU would apply.

For example, if I have a user in a completely different parent OU and sub-OU, with a GPO to map a drive as a user setting, would that GPO apply when said user logs into a machine that is inside an OU in a completely different parent OU that has blocked inheritance turned on?

---
#### Doc

[2019-05-20 14:52] SirJewDanielBerg opened #1054 ""Example 3: Block inheritance for an OU in a domain" is wrong"
I think the title for Example 3 should be "Example 3: Unblock inheritance for an OU in a domain".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0768068-c8ac-91de-3f3c-e31e01f4a225
* Version Independent ID: ebe4263f-4a02-c9f1-8c9d-2a445590d724
* Content: [Set-GPInheritance (grouppolicy)](https://docs.microsoft.com/en-

[2019-05-20 15:47] e0i commented on #1052
@officedocsbot assign @e0i

[2019-05-20 15:47] e0i commented on #1051
@officedocsbot assign @e0i

[2019-05-20 16:18] get-itips commented on #563
Hello @silversword411
Thanks for your feedback.
If you refer to this:

[code]

Actually, if you run the example as in the documentation, it will only list by default those attributes, but if you add a | Format-List it will list all possible attributes, and some of them, with data. So I'll create a Pull Request to improve the example.
Please take note that, for some attributes to have data, it depe

[2019-05-20 16:50] sowjanya365 commented on #949
Hi @fijam

Thank you for reaching out.

All parameters PFS1, PFS2, PFS2048, ECP256, ECP384, PFSMM, and PFS24 belongs to PfsGroup. So PFSMM is also a field in the PfsGroup.

For more details, please see the below links.

https://docs.microsoft.com/azure/templates/microsoft.network/2018-11-01/vpngateways/vpnconnections?view=azure-dotnet

https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.ma

[2019-05-20 16:56] #559 closed

[2019-05-20 18:41] get-itips commented on #558
Hello @quickware
Thanks for your feedback.
I tested and could verify what you experienced. Also I assume you are taking into account [this](https://windowsserver.uservoice.com/forums/301869-powershell/suggestions/33983191-powershell-sessions-don-t-support-mixed-culture-va)

Although, this issue resource system is specifically to address issues in documentation, so I encourage you to please visit t

[2019-05-20 19:11] get-itips commented on #544
Hello @gdukevt thanks for your feedback.
Could you please specify what you think should be corrected in the New-FsrmAction article? Or, if you are just suggesting that the _Quota notification variables_ article be maintained?
We appreciate, thank you!

[2019-05-20 20:38] get-itips commented on #542
Hello @michaelkrieger
Thanks for your feedback.
Can you kindly tell me if is there any specific issue you see with the documentation of the cmdlet?
Tell me please if I misunderstood but I think that maybe your question is more suitable for user voice, kindly visit here.
https://windowsserver.uservoice.com/forums/295047-general-feedback

Thank you

[2019-05-20 21:02] get-itips commented on #541
Hello @doctordns
Thanks for your feedback.
This issue resource is specifically to address issues in documentation.
Besides that, please see [this](https://social.technet.microsoft.com/Forums/SqlServer/en-US/21038481-5508-4bc8-b31a-f3898130f511/newdfsnroottarget-gives-quotrequested-object-could-not-be-foundquot-but-seems-to-succeed?forum=winserverfiles)
and [this](https://support.microsoft.com/de-d

[2019-05-20 21:15] get-itips commented on #536
Hello @DKusnir
Thanks for your feedback.
As the article says _Event-based triggers include starting a task when the system starts up or when a user logs on to the computer_
Those are currently, the event-based triggers available to be created.
About the cimSession, I'll create a pull request to add the missing description.
Thank you

[2019-05-20 21:18] doctordns commented on #541
The cmdlet still creates a spurious error message. :-)

[2019-05-20 21:22] get-itips commented on #541
I agree with you @doctordns  that the cmdlet should better describe the error, please visit this resource to suggest that improvement https://windowsserver.uservoice.com/forums/301869-powershell as that is out of the scope of Docs.
Thank you

[2019-05-20 22:04] fijam commented on #949
Hi,

Thank you for the reply.

A few comments:

* The first problem is that your designations for various DH groups don't
follow a discernible scheme. It's helpful to remember that Diffie-Hellman
groups used for IKE ("DHGroup") and later Child SA rekeying ("PfsGroup")
are the same thing. They are defined by Internet Assigned Numbers Authority
as follows:
http://www.iana.org/assignments/ikev2-param

[2019-05-20 22:35] get-itips commented on #520
Hello @docteurdid thanks for your feedback.
I created a pull request to add the article to the current version of Windows.
Hopefully, it will be on the live version in the next couple of days.
Thank You

[2019-05-20 23:05] e0i commented on #1044
Hello, @3ter

The issue is under investigation and you will be notified with any changes on the way.

Thank you for providing feedback.

[2019-05-20 23:10] get-itips commented on #517
Hello @LuigiBruno
Thanks for your feedback.
I created a Pull Request (and referenced here) to include a link to more info on the description of every property returned by this cmdlet. It will be live hopefully in a couple of days but you can take a sneak peek looking into the pr.
Thank you

[2019-05-20 23:14] e0i commented on #1043
Hello, @3ter

The issue is under investigation and you will be notified with any changes on the way.

Thank you for providing feedback.

[2019-05-20 23:22] get-itips commented on #510
Hello @ChrisKibble thanks for your feedback.
I created a Pull Request to improve the article adding the missing description.
Thank You

[2019-05-21 01:11] get-itips commented on #509
Hello @j1mmyfever
Thanks for your feedback, I created a Pull Request to include the missing parameter value.
Thank you

[2019-05-21 02:09] get-itips commented on #502
Hello @Jodyl1971 thanks for your feedback.
From documentation side, I can tell you that there isn't currently a timeout parameter on it.
As this is a resource to report of issues in documentation, i found more suitable in this case a support resource, please visit https://support.microsoft.com and also this one https://windowsserver.uservoice.com/forums/301869-powershell which _accepts bug reports

[2019-05-21 05:24] sowjanya365 commented on #518
Hi @LuigiBruno

Thank you for reaching out!

If we specify either 0 or $False or not specified, Windows Defender scans archive files.

If we specify either 1 or $True, Windows Defender stops scanning the archive files.

Hope this clarifies your query. Kindly confirm. Thank you.

[2019-05-21 10:26] LuigiBruno commented on #518
Hi @sowjanya365.
Thank you.

[2019-05-21 15:33] yogkumgit commented on #502
@get-itips  Thank you very much for the contribution and sharing this explanation. @Jodyl1971
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-05-21 15:33] yogkumgit commented on #502
@officedocsbot close

[2019-05-21 15:33] #502 closed

[2019-05-21 15:52] yogkumgit commented on #541
@officedocsbot close

[2019-05-21 15:52] #541 closed

[2019-05-21 16:01] yogkumgit commented on #542
@officedocsbot close

[2019-05-21 16:01] #542 closed

[2019-05-21 16:06] yogkumgit commented on #558
@get-itips  Thank you very much for the contribution and sharing this explanation. @quickware
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-05-21 16:06] yogkumgit commented on #558
@officedocsbot close

[2019-05-21 16:06] #558 closed

[2019-05-21 18:14] get-itips commented on #475
Hello @TheGhost2804 Thanks for your feedback. I created a PR to add the missing description of parameters. Hopefully, it will be reflected on live version soon.
Thanks again

[2019-05-21 18:15] MikeChristensen opened #1063 "What does no return value mean?"
What does it mean if Import-PfxCertificate does not output anything or return anything, however nothing gets imported into the cert store?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f36c4f79-411b-f859-7488-456b65e61e73
* Version Independent ID: 9a5652dd-c33c-a658-9ee1-3af47189136a
* Content: [Import-PfxCertificate

[2019-05-21 18:16] MikeChristensen commented on #1063
For example:

![image](https://user-images.githubusercontent.com/6528426/58120290-c96c6080-7bb9-11e9-9743-82b5c15bbb01.png)

[2019-05-21 18:19] get-itips commented on #474
Hello @SeanQuinlan
Thanks for your feedback.
I created a pull request to correct the description of Partition parameter.
Many thanks

[2019-05-21 18:43] get-itips commented on #462
Hello @jschlackman
Thanks for your feedback.
I created a pull request to correct the ScopeId parameter.
Thank you

[2019-05-21 18:48] get-itips commented on #455
Hello @jmwolfe thanks for your feedback.
I could reproduce, so I created a pull request to correct the article.
Thank you

[2019-05-21 19:50] kenwith commented on #344
Just an update, @AndreaBarr is looking for a member of product team to discuss this with. We are hoping to find the right contact soon.

[2019-05-21 22:01] danieldjewell opened #1067 "Get-TlsCipherSuite - No Documentation on "Protocols""
Get-TlsCipherSuite returns the "Protocols" value but there is no information/reference to what these values are or how to resolve them. Perhaps a link to that information or inclusion of a table?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ec96c08-42f2-4f28-312f-0bd043aa74c2
* Version Independent ID: 563d7048-b46e-

[2019-05-22 00:43] get-itips commented on #485
Hello @anagbh
Thanks for your feedback.
I pulled my lab and came up with an example to set the required config, so I created a pull request to add this example to the article, hopefully, it will go live in a couple of days, but you can take a look at the pr too.
Thank you.

[2019-05-22 09:45] sowjanya365 commented on #758
Hi @schittli

Good Evening!

Thank you so much for your valuable contribution. Really appreciate it!

Kindly help us to understand what exactly need to be added/modified on this documentation. We will definitely consider your feedback and make the necessary changes. Looking forward to your response. Thank you.

[2019-05-22 20:58] e0i commented on #369
@darksidemilk

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-05-22 20:58] e0i commented on #369
@officedocsbot close

[2019-05-23 21:33] SykieChen commented on #295
Use the following method instead
[code]

[2019-05-23 21:53] e0i commented on #1036
@JasonG-IT

With the help of your feedback, the issue has been reviewed and an update to the documentation has been published. Thanks for your feedback.

[2019-05-23 21:54] e0i commented on #1036
@officedocsbot close

[2019-05-24 00:44] e0i commented on #1067
@officedocsbot assign @e0i

[2019-05-24 00:44] e0i commented on #1063
@officedocsbot assign @e0i

[2019-05-24 10:02] juanirm opened #1071 "The description of ServicePrincipalNames is not correct"
Though the issue has been marked as "Closed" on https://github.com/MicrosoftDocs/windows-powershell-docs/issues/246 I can still see the description of the ServicePrincipalNames as originally reported on that issue.

As title:

-ServicePrincipalNames
Use the DateTime syntax when you specify this parameter. Time is assumed to be local time unless otherwise specified. When a time value is not specifi

[2019-05-24 10:33] sowjanya365 commented on #949
Hello @fijam

Thank you so much for your valuable inputs and recommendations. Appreciate your efforts in making the docs better.

We kindly request you to submit your recommendations here in this user voice forum.

https://wpdev.uservoice.com/forums/110705-universal-windows-platform

We believe that product team will definitely look into it. And please share with us the out come. We will definitel

[2019-05-24 15:43] e0i commented on #518
@LuigiBruno

This issue has already been addressed with the following commit.

[[51ccac0] Update set-mppreference.md ](https://github.com/MicrosoftDocs/windows-powershell-docs/commit/51ccac0bef741c05d870b18ec7df995cd1e08f6d)

The issue is thus being marked as resolved.

Thank you for your feedback and taking the time to follow-up.

[2019-05-24 15:43] e0i commented on #518
@officedocsbot close

[2019-05-24 16:53] e0i commented on #1053
@officedocsbot assign @e0i

[2019-05-25 01:25] e0i commented on #726
@officedocsbot assign @e0i

[2019-05-25 01:25] e0i commented on #730
@officedocsbot assign @e0i

[2019-05-25 01:26] e0i commented on #731
@officedocsbot assign @e0i

[2019-05-25 01:26] e0i commented on #735
@officedocsbot assign @e0i

[2019-05-25 01:26] e0i commented on #741
@officedocsbot assign @e0i

[2019-05-25 01:26] e0i commented on #742
@officedocsbot assign @e0i

[2019-05-25 01:26] e0i commented on #744
@officedocsbot assign @e0i

[2019-05-25 01:26] e0i commented on #744
@cnnrshd

Somehow your issue has been opened without being associated to a documentation topic.

Could you clarify which documentation you're referring to? A link would be helpful.

Thanks.

[2019-05-25 01:27] e0i commented on #753
@officedocsbot assign @e0i

[2019-05-25 01:27] e0i commented on #756
@officedocsbot assign @e0i

[2019-05-25 01:27] e0i commented on #755
@officedocsbot assign @e0i

[2019-05-25 01:27] e0i commented on #759
@officedocsbot assign @e0i

[2019-05-25 01:27] e0i commented on #763
@officedocsbot assign @e0i

[2019-05-25 01:27] e0i commented on #876
@officedocsbot assign @e0i

[2019-05-25 01:28] e0i commented on #874
@officedocsbot assign @e0i

[2019-05-25 01:28] e0i commented on #878
@officedocsbot assign @e0i

[2019-05-25 01:28] e0i commented on #884
@officedocsbot assign @e0i

[2019-05-25 01:28] e0i commented on #905
@officedocsbot assign @e0i

[2019-05-25 01:28] e0i commented on #904
@officedocsbot assign @e0i

[2019-05-25 01:29] e0i commented on #908
@officedocsbot assign @e0i

[2019-05-25 01:29] e0i commented on #907
@officedocsbot assign @e0i

[2019-05-25 01:29] e0i commented on #914
@officedocsbot assign @e0i

[2019-05-25 01:29] e0i commented on #919
@officedocsbot assign @e0i

[2019-05-25 01:29] e0i commented on #920
@officedocsbot assign @e0i

[2019-05-25 01:29] e0i commented on #925
@officedocsbot assign @e0i

[2019-05-25 01:29] e0i commented on #933
@officedocsbot assign @e0i

[2019-05-25 01:30] e0i commented on #944
@officedocsbot assign @e0i

[2019-05-25 01:30] e0i commented on #962
@officedocsbot assign @e0i

[2019-05-25 01:30] e0i commented on #964
@officedocsbot assign @e0i

[2019-05-25 01:30] e0i commented on #984
@officedocsbot assign @e0i

[2019-05-25 01:31] e0i commented on #989
@officedocsbot assign @e0i

[2019-05-25 01:32] cnnrshd commented on #744
Not sure how that happened, I thought I sent this issue through the bottom of the associated doc page. [docs.microsoft.com/en-us/powershell/module/netsecurity/new-netfirewallrule?view=win10-ps](Here's) the link, and in particular, I was referring to the 'InterfaceType' flag. I've included an image that I hope shows the problem. This probably isn't worth an issue tbh.
![inconsistent](https://user-i

[2019-05-25 01:33] e0i commented on #1010
@officedocsbot assign @e0i

[2019-05-25 01:33] e0i commented on #1021
@officedocsbot assign @e0i

[2019-05-25 01:34] e0i commented on #1054
@officedocsbot assign @e0i

[2019-05-25 01:35] e0i commented on #1071
@officedocsbot assign @e0i

[2019-05-25 01:35] e0i commented on #1071
@officedocsbot assign @e0i

[2019-05-25 16:53] MikeChristensen commented on #1063
Figured this out, I believe this is the behavior when the PFX file has no private key.

[2019-05-25 18:51] e0i commented on #546
@iricigor

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-05-25 18:51] e0i commented on #546
@officedocsbot close

[2019-05-25 18:52] #546 closed

[2019-05-27 13:13] yogkumgit commented on #544
@get-itips  Thank you very much for the contribution and digging deep into it.  @gdukevt We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documen

[2019-05-27 13:14] yogkumgit commented on #544
@officedocsbot close

[2019-05-27 13:14] #544 closed

[2019-05-27 14:46] e0i commented on #1038
@abstract17

@abstract17

It seems that the issue has already been addressed with the following commit.

[[e840853 ] typo: Removte -&gt; Remote ](https://github.com/MicrosoftDocs/windows-powershell-docs/commit/e840853eb71dd8a49c8116a535f917d1eef74bcb)

We are thus closing this issue since it seems to be resolved.

Thank you for taking the time to provide feedback.

[2019-05-27 14:46] e0i commented on #1038
@officedocsbot close

[2019-05-27 14:46] #1038 closed

[2019-05-27 18:40] e0i commented on #523
@rodsaw11

The issue has been noted and the document will be revised in the light of your feedback.

Thank you.

[2019-05-27 18:43] e0i commented on #1032
@chendrixson We are working on a PR to address this issue. Thanks.

[2019-05-27 19:01] e0i commented on #979
@officedocsbot close

[2019-05-27 19:01] #979 closed

[2019-05-27 19:03] e0i commented on #949
@officedocsbot close

[2019-05-27 19:03] #949 closed

[2019-05-27 19:04] e0i commented on #902
@DavidRawling A PR is under delivery for this issue. Thanks.

[2019-05-27 19:07] e0i commented on #754
@andrewwillett The issue is currently under investigation. Thanks.

[2019-05-27 20:48] e0i commented on #1071
@juanirm The issue is under investigation. Thank you for providing this feedback.

[2019-05-27 21:30] e0i commented on #1067
@danieldjewell

The issue has been noted and the document will be revised in the light of your feedback.

Thank you.

[2019-05-27 21:31] e0i commented on #1063
@officedocsbot close

[2019-05-27 21:31] #1063 closed

[2019-05-27 21:32] e0i commented on #1052
Hello, @Bartolomeus-649

The issue is under investigation and you will be notified with any changes on the way.

Thank you for providing feedback.

[2019-05-27 21:33] e0i commented on #1051
@srochford46

Note that the form that you have submitted this feedback from is intended for product documentation issues only.

Please consider checking any relevant resources and asking the community about your problem via the following link.

[PowerShell Community](https://docs.microsoft.com/powershell/#pivot=main&panel=community)

Thanks.

[2019-05-27 21:41] e0i commented on #450
Hello, @SotoDucani

The issue is under investigation and you will be notified with any changes on the way.

Thank you for providing feedback.

[2019-05-28 01:19] get-itips commented on #536
Hello @DKusnir I could confirm that the Pull Request will be reflected soon. We will proceed closing this. Thank you

[2019-05-28 09:24] get-itips commented on #491
Hello @TaylorTWBrown thanks for your feedback.
I added some of the missing information and more information will be added later as we get it from product team. We will proceed closing this. @yogkumgit
Thank you.

[2019-05-28 12:34] e0i commented on #987
@si1ic0ngh0st

In our investigation we have been able to reproduce the problematic behavior and the issue is being passed to the product team as a bug.

Thank you for taking the time to provide feedback. Much appreciated.

[2019-05-28 12:34] e0i commented on #987
@officedocsbot close

[2019-05-28 12:34] #987 closed

[2019-05-28 12:47] velkovb commented on #565
@ActualReverend Thank you for your constructive feedback. We really appreciate you taking time to improve the content. I am working on the submitted issue, but I am having trouble replicating the problem and understanding it. I had no problem registering a task which has a trigger with the -At parameter.
Could you provide the example that is failing?
Could you provide reference to the pages descri

[2019-05-28 12:55] velkovb commented on #550
@MikeChristensen Hi Mike,  Thanks for reaching out and helping improve MS Docs. Please let me know if this article helps - https://docs.microsoft.com/iis/configuration/system.applicationhost/sites/site/bindings/binding#configuration

[2019-05-28 14:37] MikeChristensen commented on #550
Yup, perfect!

[2019-05-28 20:06] AndyP2 commented on #420
Try `Remove-IISSite -Confirm:$False`

[2019-05-28 21:44] e0i commented on #550
@MikeChristensen

We are closing this issue since your question seems to be answered.

Thanks.

[2019-05-28 21:44] e0i commented on #550
@officedocsbot close

[2019-05-28 21:44] #550 closed

[2019-05-28 23:53] ActualReverend commented on #565
From what I remember, I would have no problem creating the task for let's say "in 15 min"... but the task would stick around forever.  One server I did this on had a few dozen "run once" scripts that had either failed or succeed (it didn't matter) and were not scheduled to run again, yet stuck around until I manually deleted them.  I was under the impression that after a task was finished, it woul

[2019-05-29 05:58] velkovb commented on #565
@ActualReverend Hi Bryan, thank you for getting back to me. I know it has been a while and it is hard to remember exactly what the issue was. Unfortunately, I am not aware of any functionality that will automatically cleanup such tasks once they are executed. If you could recall those other pages where you read about this functionality I could do further investigation.

[2019-05-29 14:21] yogkumgit commented on #563
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @silversword411 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-05-29 14:22] yogkumgit commented on #563
@officedocsbot close

[2019-05-29 14:22] #563 closed

[2019-05-29 14:28] yogkumgit commented on #520
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @docteurdid Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-05-29 14:29] yogkumgit commented on #520
@officedocsbot close

[2019-05-29 14:29] #520 closed

[2019-05-29 14:31] yogkumgit commented on #517
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @LuigiBruno Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-05-29 14:32] yogkumgit commented on #517
@officedocsbot close

[2019-05-29 14:34] yogkumgit commented on #510
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @ChrisKibble Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-05-29 14:34] #510 closed

[2019-05-29 14:37] yogkumgit commented on #509
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @j1mmyfever Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-05-29 14:37] yogkumgit commented on #509
@officedocsbot close

[2019-05-29 14:37] #509 closed

[2019-05-29 14:40] yogkumgit commented on #475
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @TheGhost2804 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-05-29 14:40] yogkumgit commented on #475
@officedocsbot close

[2019-05-29 14:44] yogkumgit commented on #474
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @SeanQuinlan Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-05-29 14:44] yogkumgit commented on #474
@officedocsbot close

[2019-05-29 14:44] #474 closed

[2019-05-29 14:54] yogkumgit commented on #462
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @jschlackman Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-05-29 14:54] yogkumgit commented on #462
@officedocsbot close

[2019-05-29 14:56] yogkumgit commented on #455
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @jmwolfe Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-05-29 14:57] yogkumgit commented on #455
@officedocsbot close

[2019-05-29 14:57] #455 closed

[2019-05-29 14:59] yogkumgit commented on #485
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @anagbh Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-05-29 14:59] yogkumgit commented on #485
@officedocsbot close

[2019-05-29 14:59] #485 closed

[2019-05-29 15:02] e0i commented on #1033
@MrDoNotBreak

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-05-29 15:03] e0i commented on #1033
@officedocsbot close

[2019-05-29 15:03] #1033 closed

[2019-05-29 15:22] yogkumgit commented on #536
@get-itips  Thank you very much for the contribution and sharing this explanation. @DKusnir
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-05-29 15:22] yogkumgit commented on #536
@officedocsbot close

[2019-05-29 15:22] #536 closed

[2019-05-29 17:29] yogkumgit commented on #491
@tseward and @dariomws306 please review PR #1072 and provide your feedback here

[2019-05-29 17:54] #1044 closed

[2019-05-29 18:08] junkiebev commented on #139
[code]
is also a thing I've gotten

[2019-05-30 17:26] e0i commented on #1054
Hello, @SirJewDanielBerg

The content is being reviewed in the light of your feedback and we'll keep you posted on updates.

Thank you for providing feedback.

[2019-05-30 17:27] e0i commented on #1053
@SirJewDanielBerg

The issue has been noted and the document will be revised in the light of your feedback.

Thank you.

[2019-05-30 17:29] e0i commented on #1049
@MCTSQL

The issues section of this repository is intended for documentation feedback.

Please consider checking any relevant resources and asking the community about your problem via the following link.

[PowerShell Community](https://docs.microsoft.com/powershell/#pivot=main&panel=community)

Thanks.

[2019-05-30 17:32] e0i commented on #1047
@CreaterNo1

The issue has been noted and the document will be revised in the light of your feedback.

Thank you.

[2019-05-30 18:22] e0i commented on #1048
@DavidUnboxed

The issue tracker of this repository is intended for product documentation issues only.

Please consider consulting PowerShell UserVoice channel regarding your product feedback via the following link,

[PowerShell UserVoice](https://windowsserver.uservoice.com/forums/301869-powershell)

You may also check relevant resources and ask the community for any other inquiries via PowerShel

[2019-05-30 18:22] e0i commented on #1048
@officedocsbot close

[2019-05-30 18:22] #1048 closed

[2019-05-30 18:24] e0i commented on #1045
@MarkIannucci

We'll follow-up with reviews to your PR.

Thank you for your generous contribution. Much appreciated.

[2019-05-30 18:29] e0i commented on #1041
@ozthe2

The issue has been noted and the document will be revised in the light of your feedback.

Thank you.

[2019-05-30 18:31] e0i commented on #1042
Hello, @-

The content is being reviewed in the light of your feedback and we'll keep you posted on updates.

Thank you for providing feedback.

[2019-05-30 18:36] e0i commented on #1021
@JordanTheITGuy

The issue tracker of this repository is intended for product documentation issues.

Please consider consulting PowerShell UserVoice channel regarding your product feedback via the following link,

[PowerShell UserVoice](https://windowsserver.uservoice.com/forums/301869-powershell)

You may also check relevant resources and ask the community for any other inquiries via PowerShell C

[2019-05-30 18:36] e0i commented on #1021
@officedocsbot close

[2019-05-30 18:36] #1021 closed

[2019-05-30 18:40] e0i commented on #1010
Hello, @pcnova  thank you for providing feedback.

The issues section of this repository is intended for documentation feedback.

Please consider checking any relevant resources and asking the community about your problem via the following link.

[PowerShell Community](https://docs.microsoft.com/powershell/#pivot=main&panel=community)

Thanks.

[2019-05-31 04:56] j0rt3g4 commented on #1071
Solved for all 6 files in PR #1080

[2019-05-31 17:53] jvsam commented on #998
@officedocsbot close

[2019-05-31 17:57] kenwith commented on #998
will check why it isn't working

[2019-05-31 18:09] jvsam commented on #998
Thanks @kenwith , just testing if I already have the access.

[2019-05-31 18:11] e0i commented on #758
@schittli

It seems that the requested changes have been applied to the document via the following commit:

[ [977d20] Updated output data types ](https://github.com/MicrosoftDocs/windows-powershell-docs/commit/977d201fb0a6961e68139ce7847d3422c183e54f)

You may preview the updated document through the following link since the updates will take time to be published live:

https://github.com/Microso

[2019-05-31 21:32] e0i commented on #432
@Silvenga

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-05-31 21:32] e0i commented on #432
@officedocsbot close

[2019-05-31 21:32] #432 closed

[2019-05-31 21:33] e0i commented on #522
@jawn

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-05-31 21:33] e0i commented on #522
@officedocsbot close

[2019-05-31 21:33] #522 closed

[2019-06-02 08:20] DDmchk opened #1088 "no Resolve-DnsName in the dnsclient"
Why there is no Resolve-DnsName  in the list?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d783b08d-bb01-da8f-e49c-7e18aac96e43
* Version Independent ID: eee454be-aacf-d781-ff57-bd9f19c32191
* Content: [DnsClient](https://docs.microsoft.com/en-us/powershell/module/dnsclient/?view=win10-ps#feedback)
* Content Source:

[2019-06-02 15:08] klishb opened #1090 "help mentions non-existent productkey parameter"
The help for "Set-WindowsEdition" says this:

The ProductKey parameter is required for changing online Server images.

That parameter does not exist in this cmdlet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cf4133c-7c5c-dfcb-3e83-0d41e590d64e
* Version Independent ID: d7205783-6a2b-7178-009f-6929ab0deff8
* Conten

[2019-06-02 18:09] velkovb commented on #989
@martinohansen Hi Martin, Thank you for contributing to MicrosoftDocs. The documentation specifies that this InitiatorLatency is in microseconds. What is the difference that you are seeing?

[2019-06-02 18:11] milesgratz opened #1093 "New-HgsGuardian and smartcards "Unable to find CNG Key""
# Overview

Unable to create HGS guardian with smartcard certificate. Is this not a supported scenario?

# Expected Behavior

Ability to run `New-HgsGuardian -EncryptionCertificateThumprint $enc -SigningCertificateThumbprint $sign` with certificate thumbprints of smartcard-protected certificates.

# Actual behavior

Receiving the error "Invoke-CimMethod : Unable to find CNG Key of the '_<thumbprin

[2019-06-02 19:15] velkovb commented on #1053
@SirJewDanielBerg Hi, Thank you for your feedback on MicrosoftDocs. If I correctly understand your question, mapping a drive is a User setting so the GPO that does it will apply in on the user. The location and GPOs for the machine do not have effect on user settings. Let me know if that answers your question.

[2019-06-03 13:22] e0i commented on #454
@woodsr83

In our investigation it has been found that the document needs no updates as there is not a note for each parameter that cannot be changed, and that "each switch that is not settable outside of the switch properties should not be pointed out."

Please consider consulting PowerShell UserVoice channel regarding your product feedback via the following link,

[PowerShell UserVoice](https://

[2019-06-03 13:22] e0i commented on #454
@officedocsbot close

[2019-06-03 13:22] #454 closed

[2019-06-03 14:46] e0i commented on #565
@ActualReverend

The issue is being marked as resolved as the problematic behavior couldn't be reproduced.

Feel free to re-open this issue if there is still something you'd like to suggest to improve the document.

Thank you for taking the time to provide feedback and follow-up.

[2019-06-03 14:46] e0i commented on #565
@officedocsbot close

[2019-06-03 14:46] #565 closed

[2019-06-03 16:55] kenwith commented on #998
@jvsam - please try again

[2019-06-03 18:47] #1029 closed

[2019-06-03 18:47] #1043 closed

[2019-06-03 18:50] #1023 closed

[2019-06-03 18:52] #527 closed

[2019-06-03 18:52] #1026 closed

[2019-06-03 18:56] #1045 closed

[2019-06-03 20:13] discombobulater opened #1098 "Example fails with error - Cannot process argument transformation on parameter 'Action'"
To resolve:

$PS = PowerShell.exe

should be

$PS = New-ScheduledTaskAction -Execute "C:\windows\system32\WindowsPowerShell\v1.0\powershell.exe"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8e0ae68-fc55-853d-8b6c-77d326d78e13
* Version Independent ID: 4e093fe1-bdec-0e8f-2d35-ef44181f617d
* Content: [Register-Schedul

[2019-06-03 20:32] jvsam commented on #998
@officedocsbot close

[2019-06-03 20:32] jvsam commented on #998
@officedocsbot reopen

[2019-06-03 20:33] jvsam commented on #998
I confirm that it's working now. Thank you @kenwith

[2019-06-03 21:19] nascar3000 opened #1099 "Get-help redirects to wrong page"
"get-help Enable-DedupVolume -online" command targets page =&gt; "https://docs.microsoft.com/en-us/powershell/module/data-deduplication/enable-dedupvolume" and page returns 404 seems correct one should be this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a58a562-0f2f-0cdb-49a8-4c1540655a41
* Version Independen

[2019-06-03 21:25] get-itips commented on #974
Hello @velkovb It seems that -Name is also required, so we need to remove the [ ]

[2019-06-03 21:27] ryanmajidi opened #1100 "Garbled texts and break link in PowerShell Module Browser"
**Submitted to [site feedback issue #1574](https://github.com/MicrosoftDocs/feedback/issues/1574) by @ToMakeSense on 6/1**

Link to article:
A few garbled texts in below three links:

Windows 10 and Windows Server 2016 PowerShell Module Reference
Windows 8.1 and Windows Server 2012 R2 PowerShell Module Reference
Windows 8 and Windows Server 2012 PowerShell Module Reference
Break link in Azure Serv

[2019-06-03 23:10] e0i commented on #527
@jason-neumann

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-06-03 23:11] e0i commented on #1029
@MKoeppl-Microsoft

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-06-03 23:11] e0i commented on #1026
@zzzz4

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-06-03 23:11] e0i commented on #1023
@zzzz4

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-06-03 23:11] e0i commented on #987
@si1ic0ngh0st

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-06-03 23:11] e0i commented on #1044
@3ter

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-06-03 23:12] e0i commented on #1043
@3ter

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-06-03 23:52] nschonni commented on #1100
The garbled text part will be resolved with #1084

[2019-06-04 00:26] e0i commented on #1071
@dariomws306 @get-itips @tseward

Peer review needed for this PR. Thanks.

[2019-06-04 00:35] e0i commented on #569
@jwhelms

Upon your feedback, We have updated the content with relevant changes accordingly. Thanks.

[2019-06-04 00:35] e0i commented on #569
@officedocsbot close

[2019-06-04 00:35] #569 closed

[2019-06-04 00:36] e0i commented on #758
@officedocsbot close

[2019-06-04 00:36] #758 closed

[2019-06-04 12:38] Ba4bes opened #1102 "add-adfsrelyingpartytrust required parameters aren't consistent"
In the example, the _-identifier_ parameter is not used. It's also not listed in 2 of the 3 syntax blocks. Seems this parameter is only required when _-MetadataUrl_ or _-MetadataFile_ are not used.
Still it is listed as a required parameter, which the other two parameters are not.

In the second and third syntax block, only _-Name_ is set as required, but the command doesn't run when just Name is

[2019-06-04 13:44] dariomws306 commented on #1071
I think in this example the second dash should be removed:
-ServicePrincipalNames**-**@{Add="SQLservice\accounting.corp.contoso.com:1456"};{Remove="SQLservice\finance.corp.contoso.com:1456"}

In set-adserviceaccount.md you should add the yaml table below the parameter description.

[2019-06-04 15:26] j0rt3g4 commented on #1071
@dariomws306 can you specify where are those changes needs to be added?

[2019-06-04 15:33] dariomws306 commented on #1071
The dash should be removed on all the articles.

And yaml table here:
docset/windows/addsadministration/set-adserviceaccount.md

[2019-06-04 15:59] j0rt3g4 commented on #1071
@dariomws306  you are right sir, that was a typo ...

[2019-06-05 03:05] j0rt3g4 commented on #1071
@dariomws306  the Recommendations are already on the PR #1080

[2019-06-05 11:35] dariomws306 commented on #1071
Thanks! Good work!

[2019-06-05 11:45] dariomws306 commented on #1071
Sorry @j0rt3g4, I think you should apply the dash update also on new-adserviceaccount.md.

Also I see that you have modified parameter type from HashTable to String on Set-ADServiceAccount.md, you should leave them as HashTable there (String is ok on Net-ADServiceAccount.md).

Thanks!